Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2024-11, with the labels that each got.

#1003 PHI201 review
  courses/phi201/assets/1/img-012.webp
  courses/phi201/assets/1/img-022.webp
  courses/phi201/assets/1/img-030.webp
  courses/phi201/assets/1/img-105.webp
  courses/phi201/assets/2/img-001.webp
  courses/phi201/assets/2/img-004.webp
  courses/phi201/assets/2/img-008.webp
  courses/phi201/assets/2/img-011.webp
  courses/phi201/assets/2/img-108.webp
  courses/phi201/assets/2/img-109.webp
  courses/phi201/assets/3/img-031.webp
  courses/phi201/assets/3/img-032.webp
  courses/phi201/assets/3/img-034.webp
  courses/phi201/assets/3/img-041.webp
  courses/phi201/assets/3/img-044.webp
  courses/phi201/assets/3/img-046.webp
  courses/phi201/assets/3/img-047.webp
  courses/phi201/assets/4/img-051.webp
  courses/phi201/assets/4/img-053.webp
  courses/phi201/assets/4/img-060.webp
  courses/phi201/assets/4/img-063.webp
  courses/phi201/assets/4/img-066.webp
  courses/phi201/assets/4/img-071.webp
  courses/phi201/assets/4/img-076.webp
  courses/phi201/assets/4/img-078.webp
  courses/phi201/assets/4/img-081.webp
  courses/phi201/assets/5/img-084.webp
  courses/phi201/assets/5/img-098.webp
  courses/phi201/assets/5/img-101.webp
  courses/phi201/assets/6/img-000.webp
  courses/phi201/assets/6/img-001.webp
  courses/phi201/assets/6/img-004.webp
  courses/phi201/assets/6/img-005.webp
  courses/phi201/assets/6/img-006.webp
  courses/phi201/assets/6/img-007.webp
  courses/phi201/assets/6/img-009.webp
  courses/phi201/assets/6/img-010.webp
  courses/phi201/assets/6/img-014.webp
  courses/phi201/fr.md
Labels: content typo, content - course

#1001 ECO102 review
  courses/eco102/assets/image/02/IMG02.webp
  courses/eco102/assets/image/09/IMG20.webp
  courses/eco102/assets/image/11/IMG7.webp
  courses/eco102/assets/image/13/IMG04.webp
  courses/eco102/assets/image/14/IMG4.webp
  courses/eco102/cs.md
  courses/eco102/de.md
  courses/eco102/en.md
  courses/eco102/es.md
  courses/eco102/fi.md
  courses/eco102/fr.md
  courses/eco102/it.md
  courses/eco102/ja.md
  courses/eco102/pt.md
  courses/eco102/ru.md
  courses/eco102/vi.md
Labels: content typo, content - course

#991 [TUTORIAL] Add Bitfinex
  tutorials/exchange/bitfinex/assets/cover.webp
  tutorials/exchange/bitfinex/assets/notext/01.webp
  tutorials/exchange/bitfinex/fr.md
  tutorials/exchange/bitfinex/tutorial.yml
Labels: content - tutorial, content creation

#1005 BTC204 add additional "Conclusion" section
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/fi.md
  courses/btc204/fr.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/vi.md
Labels: content - course, format update

#1029 new professors
  events/baden-konferenz-2024/assets/thumbnail.webp
  events/baden-konferenz-2024/event.yml
  professors/jack-mallers/assets/profile.webp
  professors/jack-mallers/en.yml
  professors/jack-mallers/professor.yml
  professors/oleg-mikhalsky/assets/profile.webp
  professors/oleg-mikhalsky/en.yml
  professors/oleg-mikhalsky/professor.yml
Labels: content creation, content - professors

#1031 Update tutorial logos
  resources/builders/ivpn/assets/logo.webp
  resources/builders/muun/assets/logo.webp
  resources/builders/muun/builder.yml
  resources/builders/muun/cs.yml
  resources/builders/muun/de.yml
  resources/builders/muun/en.yml
  resources/builders/muun/es.yml
  resources/builders/muun/et.yml
  resources/builders/muun/fi.yml
  resources/builders/muun/fr.yml
  resources/builders/muun/id.yml
  resources/builders/muun/it.yml
  resources/builders/muun/ja.yml
  resources/builders/muun/nb-NO.yml
  resources/builders/muun/pt.yml
  resources/builders/muun/ru.yml
  resources/builders/muun/vi.yml
  resources/builders/muun/zh-Hans.yml
  tutorials/mining/ocean-pool/assets/logo.webp
  tutorials/others/add-bet/assets/logo.webp
  tutorials/others/add-book/assets/logo.webp
  tutorials/others/add-builder/assets/logo.webp
  tutorials/others/add-conference-replay/assets/logo.webp
  tutorials/others/add-event/assets/logo.webp
  tutorials/others/add-new-language-weblate/assets/logo.webp
  tutorials/others/add-podcast/assets/logo.webp
  tutorials/others/basics-of-github/assets/logo.webp
  tutorials/others/correct-errors/assets/logo.webp
  tutorials/others/create-github-account/assets/logo.webp
  tutorials/others/github-desktop-work-environment/assets/logo.webp
  tutorials/others/mullvad/assets/logo.webp
  tutorials/others/translate-front-weblate/assets/logo.webp
  tutorials/others/veracrypt/assets/logo.webp
  tutorials/privacy/coinjoin-dojo/assets/logo.webp
  tutorials/privacy/coinjoin-samourai-wallet/assets/logo.webp
  tutorials/privacy/coinjoin-sparrow-wallet/assets/logo.webp
  tutorials/privacy/utxo-labelling/assets/logo.webp
  tutorials/privacy/wst-anonsets/assets/logo.webp
  tutorials/wallet/generate-mnemonic-phrase/assets/logo.webp
  tutorials/wallet/satochip/assets/logo.webp
Labels: content - tutorial

#1036 BTC102 links preview
  courses/btc102/cs.md
  courses/btc102/de.md
  courses/btc102/en.md
  courses/btc102/es.md
  courses/btc102/et.md
  courses/btc102/fi.md
  courses/btc102/fr.md
  courses/btc102/id.md
  courses/btc102/it.md
  courses/btc102/nb-NO.md
  courses/btc102/pt.md
  courses/btc102/ru.md
  courses/btc102/vi.md
  courses/btc102/zh-Hans.md
Labels: content typo, content - course

#1039 Certificates timestamping tuto
  tutorials/merchant/open-node/ja.md
  tutorials/mining/attakai/ja.md
  tutorials/others/bcert-verification/assets/cover.webp
  tutorials/others/bcert-verification/assets/logo.webp
  tutorials/others/bcert-verification/cs.md
  tutorials/others/bcert-verification/de.md
  tutorials/others/bcert-verification/en.md
  tutorials/others/bcert-verification/es.md
  tutorials/others/bcert-verification/et.md
  tutorials/others/bcert-verification/fi.md
  tutorials/others/bcert-verification/fr.md
  tutorials/others/bcert-verification/id.md
  tutorials/others/bcert-verification/it.md
  tutorials/others/bcert-verification/ja.md
  tutorials/others/bcert-verification/nb-NO.md
  tutorials/others/bcert-verification/pt.md
  tutorials/others/bcert-verification/ru.md
  tutorials/others/bcert-verification/tutorial.yml
  tutorials/others/bcert-verification/vi.md
  tutorials/others/bcert-verification/zh-Hans.md
  tutorials/others/grapheneos/assets/logo.jpeg
  tutorials/others/grapheneos/assets/logo.webp
  tutorials/others/linux-mint/assets/cover.jpeg
  tutorials/others/linux-mint/assets/cover.webp
  tutorials/others/linux-mint/assets/logo.jpeg
  tutorials/others/linux-mint/assets/logo.webp
  tutorials/others/pbn-certificate-timestamping/assets/cover.webp
  tutorials/others/pbn-certificate-timestamping/assets/credential.webp
  tutorials/others/pbn-certificate-timestamping/assets/download.webp
  tutorials/others/pbn-certificate-timestamping/assets/login.webp
  tutorials/others/pbn-certificate-timestamping/assets/logo.webp
  tutorials/others/pbn-certificate-timestamping/assets/opentimestamp_wegui_verified.webp
  tutorials/others/pbn-certificate-timestamping/assets/proof-mechanism.webp
  tutorials/others/pbn-certificate-timestamping/cs.md
  tutorials/others/pbn-certificate-timestamping/de.md
  tutorials/others/pbn-certificate-timestamping/en.md
  tutorials/others/pbn-certificate-timestamping/es.md
  tutorials/others/pbn-certificate-timestamping/et.md
  tutorials/others/pbn-certificate-timestamping/fi.md
  tutorials/others/pbn-certificate-timestamping/fr.md
  tutorials/others/pbn-certificate-timestamping/it.md
  tutorials/others/pbn-certificate-timestamping/ja.md
  tutorials/others/pbn-certificate-timestamping/nb-NO.md
  tutorials/others/pbn-certificate-timestamping/pt.md
  tutorials/others/pbn-certificate-timestamping/tutorial.yml
  tutorials/others/pbn-certificate-timestamping/vi.md
  tutorials/others/pbn-certificate-timestamping/zh-Hans.md
  tutorials/others/tails/assets/cover.jpeg
  tutorials/others/tails/assets/cover.webp
  tutorials/others/write-tutorials/pt.md
  tutorials/wallet/electrum/ja.md
  tutorials/wallet/generate-mnemonic-phrase/assets/BIP39-WORDLIST.webp
  tutorials/wallet/muun/ja.md
Labels: content - tutorial, content creation

#1044 Review quizzes min201
  courses/min201/quizz/000/en.yml
  courses/min201/quizz/001/en.yml
  courses/min201/quizz/002/en.yml
  courses/min201/quizz/003/en.yml
  courses/min201/quizz/004/en.yml
  courses/min201/quizz/004/question.yml
  courses/min201/quizz/005/en.yml
  courses/min201/quizz/006/en.yml
  courses/min201/quizz/007/en.yml
  courses/min201/quizz/008/en.yml
  courses/min201/quizz/009/en.yml
  courses/min201/quizz/010/en.yml
  courses/min201/quizz/011/en.yml
  courses/min201/quizz/012/en.yml
  courses/min201/quizz/013/en.yml
  courses/min201/quizz/014/en.yml
  courses/min201/quizz/015/en.yml
  courses/min201/quizz/016/en.yml
  courses/min201/quizz/017/en.yml
  courses/min201/quizz/017/question.yml
  courses/min201/quizz/018/en.yml
  courses/min201/quizz/019/en.yml
  courses/min201/quizz/020/en.yml
  courses/min201/quizz/021/en.yml
  courses/min201/quizz/022/en.yml
  courses/min201/quizz/023/en.yml
  courses/min201/quizz/024/en.yml
  courses/min201/quizz/025/en.yml
  courses/min201/quizz/026/en.yml
  courses/min201/quizz/027/en.yml
  courses/min201/quizz/028/en.yml
  courses/min201/quizz/029/en.yml
  courses/min201/quizz/030/en.yml
  courses/min201/quizz/031/en.yml
  courses/min201/quizz/032/en.yml
  courses/min201/quizz/033/en.yml
  courses/min201/quizz/033/question.yml
  courses/min201/quizz/034/en.yml
  courses/min201/quizz/035/en.yml
  courses/min201/quizz/035/question.yml
  courses/min201/quizz/036/en.yml
  courses/min201/quizz/037/en.yml
  courses/min201/quizz/038/en.yml
  courses/min201/quizz/039/en.yml
  courses/min201/quizz/040/en.yml
  courses/min201/quizz/041/en.yml
  courses/min201/quizz/041/question.yml
  courses/min201/quizz/042/en.yml
  courses/min201/quizz/043/en.yml
  courses/min201/quizz/044/en.yml
  courses/min201/quizz/045/en.yml
  courses/min201/quizz/046/en.yml
  courses/min201/quizz/047/en.yml
  courses/min201/quizz/047/question.yml
  courses/min201/quizz/048/en.yml
  courses/min201/quizz/048/question.yml
  courses/min201/quizz/049/en.yml
  courses/min201/quizz/050/en.yml
  courses/min201/quizz/050/question.yml
  courses/min201/quizz/051/en.yml
Labels: content - course, content update

#1049 Update nb-NO.md
  courses/btc101/nb-NO.md
Labels: content proofreading, content - course, language - nb-no

#1045 update_proofreading metadata
  courses/btc102/course.yml
  courses/btc204/course.yml
  courses/btc302/course.yml
  courses/btc305/course.yml
  courses/btc401/course.yml
  courses/csv402/course.yml
  courses/eco102/course.yml
  courses/eco201/course.yml
  courses/lnp201/course.yml
  courses/min201/course.yml
  courses/phi201/course.yml
  scripts/proofreading-metadata/supported_languages.yml
  tutorials/wallet/electrum/tutorial.yml
  tutorials/wallet/samourai/tutorial.yml
  tutorials/wallet/sentinel/tutorial.yml
Labels: proofreading metadata update

#978 [TUTORIAL] Add Elysium Wallet v1.0
  tutorials/wallet/elysium/assets/addressbook1.webp
  tutorials/wallet/elysium/assets/cover.webp
  tutorials/wallet/elysium/assets/extract1.webp
  tutorials/wallet/elysium/assets/help1.webp
  tutorials/wallet/elysium/assets/help2.webp
  tutorials/wallet/elysium/assets/logo.webp
  tutorials/wallet/elysium/assets/open.webp
  tutorials/wallet/elysium/assets/passkey.webp
  tutorials/wallet/elysium/assets/payment1.webp
  tutorials/wallet/elysium/assets/payment2.webp
  tutorials/wallet/elysium/assets/paymentLN1.webp
  tutorials/wallet/elysium/assets/receive1.webp
  tutorials/wallet/elysium/assets/requestpayment1.webp
  tutorials/wallet/elysium/assets/requestpayment2.webp
  tutorials/wallet/elysium/assets/secondfactor.webp
  tutorials/wallet/elysium/assets/seed1.webp
  tutorials/wallet/elysium/assets/send1.webp
  tutorials/wallet/elysium/assets/thirdfactor.webp
  tutorials/wallet/elysium/en.md
  tutorials/wallet/elysium/imma/addressbook1.webp
  tutorials/wallet/elysium/imma/extract1.webp
  tutorials/wallet/elysium/imma/help1.webp
  tutorials/wallet/elysium/imma/help2.webp
  tutorials/wallet/elysium/imma/open.webp
  tutorials/wallet/elysium/imma/passkey.webp
  tutorials/wallet/elysium/imma/payment1.webp
  tutorials/wallet/elysium/imma/payment2.webp
  tutorials/wallet/elysium/imma/paymentLN1.webp
  tutorials/wallet/elysium/imma/receive1.webp
  tutorials/wallet/elysium/imma/requestpayment1.webp
  tutorials/wallet/elysium/imma/requestpayment2.webp
  tutorials/wallet/elysium/imma/secondfactor.webp
  tutorials/wallet/elysium/imma/seed1.webp
  tutorials/wallet/elysium/imma/send1.webp
  tutorials/wallet/elysium/imma/thirdfactor.webp
  tutorials/wallet/elysium/it.md
  tutorials/wallet/elysium/tutorial.yml
Labels: content - tutorial, content creation
