Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2024-12, with the labels that each got.

#1125 add newsletters: bitcoin, IT ones
  resources/newsletters/bitcoin-news/assets/thumbnail.webp
  resources/newsletters/bitcoin-news/newsletter.yml
  resources/newsletters/bitcoin-optech/assets/thumbnail.webp
  resources/newsletters/bitcoin-optech/newsletter.yml
  resources/newsletters/bitcoin-strategy/assets/bitcoin_strategy.webp
  resources/newsletters/bitcoin-strategy/newsletter.yml
  resources/newsletters/linux-advisory-watch/assets/thumbnail.webp
  resources/newsletters/linux-advisory-watch/newsletter.yml
  resources/newsletters/linux-security-week/assets/thumbnail.webp
  resources/newsletters/linux-security-week/newsletter.yml
  resources/newsletters/the-bitcoin-minimalist/assets/thumbnail.webp
  resources/newsletters/the-bitcoin-minimalist/newsletter.yml
Labels: content - resource, content creation

#1135 README header fix
  README.md
Labels: content typo, content update

#1131 Update 50-planb-tags.md
  docs/50-planb-tags.md
Labels: documentation

#1130 add btcita newsletter
  resources/newsletters/btcita/assets/thumbnail.webp
  resources/newsletters/btcita/newsletter.yml
Labels: language - it, content - resource, content creation

#944 BTC101 Typo fix and content update
  courses/btc101/en.md
Labels: content typo, content - course, content update

#1193 BTC101 - minor errors update and poster removal
  courses/btc101/cs.md
  courses/btc101/de.md
  courses/btc101/en.md
  courses/btc101/es.md
  courses/btc101/et.md
  courses/btc101/fi.md
  courses/btc101/fr.md
  courses/btc101/id.md
  courses/btc101/it.md
  courses/btc101/ja.md
  courses/btc101/nb-NO.md
  courses/btc101/pt.md
  courses/btc101/ru.md
  courses/btc101/vi.md
  courses/btc101/zh-Hans.md
Labels: content typo, content - course

#1194 [RESOURCE] Newsletters, fix images size and resolution
  resources/newsletters/adler-crypto-insight/assets/thumbnail.webp
  resources/newsletters/bitcoin-breakdown/assets/thumbnail.webp
  resources/newsletters/bitcoin-core-releases/assets/thumbnail.webp
  resources/newsletters/bitcoin-core-security/assets/thumbnail.webp
  resources/newsletters/bitcoin-strategy/assets/thumbnail.webp
  resources/newsletters/bitcoin-tech-talk/assets/thumbnail.webp
  resources/newsletters/expat-network/assets/thumbnail.webp
  resources/newsletters/financial-freedom-report/assets/thumbnail.webp
  resources/newsletters/linux-advisory-watch/assets/thumbnail.webp
  resources/newsletters/linux-security-week/assets/thumbnail.webp
  resources/newsletters/once-in-a-species/assets/thumbnail.webp
  resources/newsletters/tftc/assets/thumbnail.webp
  resources/newsletters/the-bitcoin-manual/assets/thumbnail.webp
  resources/newsletters/the-bitcoin-times/assets/thumbnail.webp
  resources/newsletters/the-informationist/assets/thumbnail.webp
  resources/newsletters/ufromy/assets/thumbnail.webp
  resources/newsletters/unchained/assets/thumbnail.webp
  resources/newsletters/veintiuno/assets/thumbnail.webp
  resources/newsletters/veintiuno/newsletter.yml
Labels: content typo, language - es, content - resource, content creation

#1211 [Conference Replay] Conference from 2024
  resources/conferences/adopting-bitcoin-2024/assets/thumbnail.webp
  resources/conferences/adopting-bitcoin-2024/conference.yml
  resources/conferences/adopting-bitcoin-2024/en.md
  resources/conferences/baltic-honey-badger-2024/assets/thumbnail.webp
  resources/conferences/baltic-honey-badger-2024/conference.yml
  resources/conferences/baltic-honey-badger-2024/en.md
  resources/conferences/bitcoin-amsterdam-2024/assets/thumbnail.webp
  resources/conferences/bitcoin-amsterdam-2024/conference.yml
  resources/conferences/bitcoin-amsterdam-2024/en.md
  resources/conferences/bitcoin-nashville-2024/assets/thumbnail.webp
  resources/conferences/bitcoin-nashville-2024/conference.yml
  resources/conferences/bitcoin-nashville-2024/en.md
  resources/conferences/btcprague-2024/assets/thumbnail.webp
  resources/conferences/btcprague-2024/conference.yml
  resources/conferences/btcprague-2024/en.md
  resources/conferences/canadian-bitcoin-conference/assets/thumbnail.webp
  resources/conferences/canadian-bitcoin-conference/conference.yml
  resources/conferences/canadian-bitcoin-conference/en.md
  resources/conferences/paradigme-bitcoin-2024/assets/thumbnail.webp
  resources/conferences/paradigme-bitcoin-2024/conference.yml
  resources/conferences/paradigme-bitcoin-2024/en.md
  resources/conferences/planb-forum-lugano-2024/assets/thumbnail.webp
  resources/conferences/planb-forum-lugano-2024/conference.yml
  resources/conferences/planb-forum-lugano-2024/en.md
  resources/conferences/tabconf6-2024/assets/thumbnail.webp
  resources/conferences/tabconf6-2024/conference.yml
  resources/conferences/tabconf6-2024/en.md
  resources/conferences/watchout-bitcoin-2024/assets/thumbnail.webp
  resources/conferences/watchout-bitcoin-2024/conference.yml
  resources/conferences/watchout-bitcoin-2024/en.md
Labels: content - resource, content creation

#1145 [TUTORIAL] New Lnp2pbot Tutorial
  tutorials/exchange/lnp2pbot-v2/assets/cover.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/01.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/02.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/03.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/04.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/05.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/06.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/07.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/08.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/09.webp
  tutorials/exchange/lnp2pbot-v2/assets/fr/10.webp
  tutorials/exchange/lnp2pbot-v2/assets/logo.webp
  tutorials/exchange/lnp2pbot-v2/fr.md
  tutorials/exchange/lnp2pbot-v2/tutorial.yml
Labels: content - tutorial, content creation

#1217 HIS201 adding_missing_images
  courses/his201/it.md
  courses/his201/vi.md
Labels: content - course, content update

#1219 Minor corrections in the tutorial basics of Github
  tutorials/others/basics-of-github/en.md
Labels: content - tutorial, content update

#1227 Conference Replay
  events/bitcoin-expo-2025/assets/thumbnail.webp
  events/bitcoin-expo-2025/event.yml
  events/btchel-2025/event.yml
  events/osloff-2025/assets/thumbnail.webp
  events/osloff-2025/event.yml
  resources/builders/adopting-bitcoin/assets/logo.webp
  resources/builders/adopting-bitcoin/builder.yml
  resources/builders/adopting-bitcoin/en.yml
  resources/builders/bitcare-forum/assets/logo.webp
  resources/builders/bitcare-forum/builder.yml
  resources/builders/bitcare-forum/en.yml
  resources/builders/bitcare-forum/it.yml
  resources/builders/bitcoin++/assets/logo.webp
  resources/builders/bitcoin++/builder.yml
  resources/builders/bitcoin++/en.yml
  resources/builders/bitcoin-tokyo/assets/logo.webp
  resources/builders/bitcoin-tokyo/builder.yml
  resources/builders/bitcoin-tokyo/en.yml
  resources/builders/bitcoin-tokyo/ja.yml
  resources/builders/btc-tlv/assets/logo.webp
  resources/builders/btc-tlv/builder.yml
  resources/builders/btc-tlv/en.yml
  resources/conferences/ab24-bitcoin-arnhem-2024/assets/thumbnail.webp
  resources/conferences/ab24-bitcoin-arnhem-2024/conference.yml
  resources/conferences/ab24-bitcoin-arnhem-2024/en.md
  resources/conferences/bitcare-forum-2024/assets/thumbnail.webp
  resources/conferences/bitcare-forum-2024/conference.yml
  resources/conferences/bitcare-forum-2024/en.md
  resources/conferences/bitcoin++-2023/conference.yml
  resources/conferences/bitcoin++-ecash-edition-2024/assets/thumbnail.webp
  resources/conferences/bitcoin++-ecash-edition-2024/conference.yml
  resources/conferences/bitcoin++-ecash-edition-2024/en.md
  resources/conferences/bitcoin++-nix-pills-2023/assets/thumbnail.webp
  resources/conferences/bitcoin++-nix-pills-2023/conference.yml
  resources/conferences/bitcoin++-nix-pills-2023/en.md
  resources/conferences/bitcoin++-scriptedition-2024/assets/thumbnail.webp
  resources/conferences/bitcoin++-scriptedition-2024/conference.yml
  resources/conferences/bitcoin++-scriptedition-2024/en.md
  resources/conferences/bitcoin-tokyo-2024/assets/thumbnail.webp
  resources/conferences/bitcoin-tokyo-2024/conference.yml
  resources/conferences/bitcoin-tokyo-2024/en.md
  resources/conferences/blockchain-mallorca-2025/assets/thumbnail.webp
  resources/conferences/blockchain-mallorca-2025/event.yml
  resources/conferences/btc-asia-2024/assets/thumbnail.webp
  resources/conferences/btc-asia-2024/conference.yml
  resources/conferences/btc-asia-2024/en.md
  resources/conferences/future-bitcoin-conference-2024/assets/thumbnail.webp
  resources/conferences/future-bitcoin-conference-2024/conference.yml
  resources/conferences/future-bitcoin-conference-2024/en.md
  resources/conferences/surfing-bitcoin-2024/assets/thumbnail.webp
  resources/conferences/surfing-bitcoin-2024/conference.yml
  resources/conferences/surfing-bitcoin-2024/en.md
  resources/conferences/swiss-bitcoin-conference-2024/assets/thumbnail.webp
  resources/conferences/swiss-bitcoin-conference-2024/conference.yml
  resources/conferences/swiss-bitcoin-conference-2024/en.md
  resources/conferences/thailand-bitcoin-conference-2024/assets/thumbnail.webp
  resources/conferences/thailand-bitcoin-conference-2024/conference.yml
  resources/conferences/thailand-bitcoin-conference-2024/en.md
Labels: content - resource, content creation, content update

#1237 [TUTORIAL] Edit passphrase tutorial
  tutorials/wallet/passphrase/cs.md
  tutorials/wallet/passphrase/de.md
  tutorials/wallet/passphrase/en.md
  tutorials/wallet/passphrase/es.md
  tutorials/wallet/passphrase/et.md
  tutorials/wallet/passphrase/fi.md
  tutorials/wallet/passphrase/fr.md
  tutorials/wallet/passphrase/id.md
  tutorials/wallet/passphrase/it.md
  tutorials/wallet/passphrase/ja.md
  tutorials/wallet/passphrase/pt.md
  tutorials/wallet/passphrase/ru.md
  tutorials/wallet/passphrase/vi.md
  tutorials/wallet/passphrase/zh-Hans.md
Labels: content - tutorial, content update

#1260 Link correction and disclaimer
  tutorials/exchange/bull-bitcoin/en.md
Labels: content - tutorial, content update

#1269 [TUTORIAL] Edit - review contribution
  tutorials/others/content-review-tutorial/assets/1.webp
  tutorials/others/content-review-tutorial/assets/2.webp
  tutorials/others/content-review-tutorial/assets/3.webp
  tutorials/others/content-review-tutorial/assets/4.webp
  tutorials/others/content-review-tutorial/assets/5.webp
  tutorials/others/content-review-tutorial/assets/6.webp
  tutorials/others/content-review-tutorial/assets/7.webp
  tutorials/others/content-review-tutorial/assets/8.webp
  tutorials/others/content-review-tutorial/assets/fr/01.webp
  tutorials/others/content-review-tutorial/assets/fr/02.webp
  tutorials/others/content-review-tutorial/assets/fr/03.webp
  tutorials/others/content-review-tutorial/assets/fr/04.webp
  tutorials/others/content-review-tutorial/assets/fr/05.webp
  tutorials/others/content-review-tutorial/assets/fr/06.webp
  tutorials/others/content-review-tutorial/assets/fr/07.webp
  tutorials/others/content-review-tutorial/assets/fr/08.webp
  tutorials/others/content-review-tutorial/assets/fr/09.webp
  tutorials/others/content-review-tutorial/assets/fr/10.webp
  tutorials/others/content-review-tutorial/assets/fr/11.webp
  tutorials/others/content-review-tutorial/assets/fr/12.webp
  tutorials/others/content-review-tutorial/assets/fr/13.webp
  tutorials/others/content-review-tutorial/assets/fr/14.webp
  tutorials/others/content-review-tutorial/assets/fr/15.webp
  tutorials/others/content-review-tutorial/assets/fr/16.webp
  tutorials/others/content-review-tutorial/cs.md
  tutorials/others/content-review-tutorial/de.md
  tutorials/others/content-review-tutorial/en.md
  tutorials/others/content-review-tutorial/es.md
  tutorials/others/content-review-tutorial/et.md
  tutorials/others/content-review-tutorial/fi.md
  tutorials/others/content-review-tutorial/fr.md
  tutorials/others/content-review-tutorial/id.md
  tutorials/others/content-review-tutorial/it.md
  tutorials/others/content-review-tutorial/ja.md
  tutorials/others/content-review-tutorial/nb-NO.md
  tutorials/others/content-review-tutorial/pt.md
  tutorials/others/content-review-tutorial/ru.md
  tutorials/others/content-review-tutorial/vi.md
  tutorials/others/content-review-tutorial/zh-Hans.md
Labels: content - tutorial, content update

#1195 Robosats_Hodlhodl_Bisq - Russian proofreading
  tutorials/exchange/bisq/ru.md
  tutorials/exchange/hodlhodl/ru.md
  tutorials/exchange/robosats/ru.md
Labels: content proofreading, content - tutorial, language - ru, reward pending

#1144 Neutrino Japanese proofreading
  tutorials/node/neutrino/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1143 My-node Japanese proofreading
  tutorials/node/mynode/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1142 Lapp Japanese proofreading
  tutorials/node/lapp/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1132 Bitcoin-core-mac Japanese proofreading
  tutorials/node/bitcoin-core-mac-windows/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1129 Bitcoin-core-Linux Japanese proofreading
  tutorials/node/bitcoin-core-linux/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1127 Muun and Blixt tutorial Ru proofreading
  tutorials/wallet/blixt/ru.md
  tutorials/wallet/muun/ru.md
Labels: content proofreading, content - tutorial, language - ru, reward pending

#1115 Public pool Japanese proofreading
  tutorials/mining/public-pool/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1114 Ocean-pool Japanese proofreading
  tutorials/mining/ocean-pool/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1113 Nerd-miner Japanese proofreading
  tutorials/mining/nerd-miner/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1090 braiins-pool Japanese proofreading
  tutorials/mining/braiins-pool/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1089 Bitaxe Japanese proofreading
  tutorials/mining/bitaxe/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1084 Attakai Japanese proofreading
  tutorials/mining/attakai/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1078 Swiss Bitcoin Pay Japanese proofreading
  tutorials/merchant/swiss-bitcoin-pay-2/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1076 Open Node Japanese proofreading
  tutorials/merchant/open-node/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1075 BTCpay Server Japanese proofreading
  tutorials/merchant/btcpay-server/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1074 Breez-POS Japanese proofreading
  tutorials/merchant/breez-pos/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1073 Robosats Japanese proofreading
  tutorials/exchange/robosats/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1071 Stackinsat Japanese proofreading
  tutorials/exchange/stackinsat/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1070 Relai Japanese proofreading
  tutorials/exchange/relai/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1069 Peach-wallet Japanese proofreading
  tutorials/exchange/peach-wallet/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1068 Paymium Japanese proofreading
  tutorials/exchange/paymium/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1066 Hodlhodl Japanese proofreading
  tutorials/exchange/hodlhodl/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1065 Kraken Japanese proofreading
  tutorials/exchange/kraken/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1064 Bull-Bitcoin Japanese proofreading
  tutorials/exchange/bull-bitcoin/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1057 Bitstamp Japanese proofreading
  tutorials/exchange/bitstamp/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1056 Bitrefill japanese proofreading
  tutorials/exchange/bitrefill/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending

#1054 Bisq exchange tutorial Japanese proofreading
  tutorials/exchange/bisq/ja.md
Labels: content proofreading, language - ja, content - tutorial, reward pending
