Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2024-08, with the labels that each got.

#542 Proposal to change CYP course name
  courses/cyp201/cs.md
  courses/cyp201/de.md
  courses/cyp201/en.md
  courses/cyp201/es.md
  courses/cyp201/fi.md
  courses/cyp201/fr.md
  courses/cyp201/it.md
  courses/cyp201/pt.md
Labels: content - course, content update

#543 minor fix bastiat
  courses/eco102/assets/image/00/img-114.webp
  courses/eco102/fr.md
Labels: content typo, content - course

#544 fix error philo
  courses/phi201/fr.md
Labels: content typo, content - course

#547 Add A New Professor: Jacobo
  professors/jacobo/assets/profile.webp
  professors/jacobo/de.yml
  professors/jacobo/en.yml
  professors/jacobo/es.yml
  professors/jacobo/fr.yml
  professors/jacobo/it.yml
  professors/jacobo/ja.yml
  professors/jacobo/professor.yml
  professors/jacobo/pt.yml
  professors/jacobo/vi.yml
Labels: content - resource, content creation

#548 Youtube and Ig accounts of communities | pleblab event
  resources/builders/africa-free-routing/builder.yml
  resources/builders/amity-age/builder.yml
  resources/builders/bitcoin-house-bali/builder.yml
  resources/builders/bitpolito/builder.yml
  resources/builders/bob-space/builder.yml
  resources/builders/cubo+/builder.yml
  resources/builders/pleblab/builder.yml
  resources/builders/pow-lugano/builder.yml
  resources/conference/pleblab-hackerspace-2024/events.yml
  scripts/auto-event/generate_events.py
Labels: content - resource, content update

#558 new events
  resources/conference/conferenc-thailand-2024/events.yml
  resources/conference/educators-mastermind-2024/assets/thumbnail.webp
  resources/conference/educators-mastermind-2024/events.yml
  resources/conference/pleblab-builderspace-2024/events.yml
  resources/conference/pleblab-hackerspace-2024/events.yml
  scripts/auto-event/generate_builderevent.py
  scripts/auto-event/generate_events.py
Labels: content - resource, content update

#560 Add Bitkit Tutorial
  tutorials/wallet/Bitkit-Wallet/assets/1.webp
  tutorials/wallet/Bitkit-Wallet/assets/2.webp
  tutorials/wallet/Bitkit-Wallet/assets/3.webp
  tutorials/wallet/Bitkit-Wallet/assets/cover.webp
  tutorials/wallet/Bitkit-Wallet/assets/logo.webp
  tutorials/wallet/Bitkit-Wallet/en.md
  tutorials/wallet/Bitkit-Wallet/tutorial.yml
Labels: content - tutorial, content creation

#561 Eco102 batch translation
  courses/eco102/cs.md
  courses/eco102/de.md
  courses/eco102/en.md
  courses/eco102/es.md
  courses/eco102/fi.md
  courses/eco102/it.md
  courses/eco102/ja.md
  courses/eco102/pt.md
  courses/eco102/ru.md
  courses/eco102/vi.md
Labels: content - course, scripts

#562 Phi201 batch translation
  courses/phi201/cs.md
  courses/phi201/de.md
  courses/phi201/en.md
  courses/phi201/es.md
  courses/phi201/fi.md
  courses/phi201/it.md
  courses/phi201/ja.md
  courses/phi201/pt.md
  courses/phi201/ru.md
  courses/phi201/vi.md
Labels: content - course, scripts

#565 btc204, add batch translation
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/fi.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/vi.md
Labels: content - course, scripts

#549 Update zh-Hans.md
  courses/btc101/zh-Hans.md
Labels: content - course, language - zh-Hans

#552 CYP201 & LNP201 RU 1st proofreading
  courses/cyp201/ru.md
  courses/lnp201/en.md
  courses/lnp201/ru.md
Labels: content - course, language - ru

#566 add paolo-preto professor
  professors/paolo-preto/assets/profile.webp
  professors/paolo-preto/en.yml
  professors/paolo-preto/es.yml
  professors/paolo-preto/it.yml
  professors/paolo-preto/professor.yml
  professors/paolo-preto/pt.yml
Labels: content creation, content - professors

#568 add store of bitcoin podcast
  resources/podcasts/store-of-bitcoin/assets/logo.webp
  resources/podcasts/store-of-bitcoin/podcast.yml
Labels: content - resource, content creation

#570 btc101, fix ids and urls in section 6.4
  courses/btc101/cs.md
  courses/btc101/de.md
  courses/btc101/en.md
  courses/btc101/es.md
  courses/btc101/fi.md
  courses/btc101/fr.md
  courses/btc101/it.md
  courses/btc101/ja.md
  courses/btc101/pt.md
  courses/btc101/ru.md
  courses/btc101/vi.md
Labels: content typo, content - course

#571 BTC 101 ID Proofreading
  courses/btc101/id.md
Labels: content proofreading, content - course, language - id

#574 Patch 1
  courses/btc101/et.md
Labels: content proofreading, content - course, language - et

#567 Tuto physical 2FA security key
  tutorials/others/security-key/assets/cover.webp
  tutorials/others/security-key/assets/logo.webp
  tutorials/others/security-key/assets/notext/01.webp
  tutorials/others/security-key/assets/notext/02.webp
  tutorials/others/security-key/assets/notext/03.webp
  tutorials/others/security-key/assets/notext/04.webp
  tutorials/others/security-key/assets/notext/05.webp
  tutorials/others/security-key/assets/notext/06.webp
  tutorials/others/security-key/assets/notext/07.webp
  tutorials/others/security-key/assets/notext/08.webp
  tutorials/others/security-key/assets/notext/09.webp
  tutorials/others/security-key/assets/notext/10.webp
  tutorials/others/security-key/assets/notext/11.webp
  tutorials/others/security-key/fr.md
  tutorials/others/security-key/tutorial.yml
Labels: content - tutorial, content creation

#573 Proton Drive tuto
  courses/scu101/cs.md
  courses/scu101/de.md
  courses/scu101/en.md
  courses/scu101/es.md
  courses/scu101/fi.md
  courses/scu101/fr.md
  courses/scu101/it.md
  courses/scu101/ja.md
  courses/scu101/pt.md
  courses/scu101/ru.md
  courses/scu101/vi.md
  tutorials/others/proton-drive/assets/cover.webp
  tutorials/others/proton-drive/assets/logo.webp
  tutorials/others/proton-drive/assets/notext/01.webp
  tutorials/others/proton-drive/assets/notext/02.webp
  tutorials/others/proton-drive/assets/notext/03.webp
  tutorials/others/proton-drive/assets/notext/04.webp
  tutorials/others/proton-drive/assets/notext/05.webp
  tutorials/others/proton-drive/assets/notext/06.webp
  tutorials/others/proton-drive/assets/notext/07.webp
  tutorials/others/proton-drive/assets/notext/08.webp
  tutorials/others/proton-drive/assets/notext/09.webp
  tutorials/others/proton-drive/assets/notext/10.webp
  tutorials/others/proton-drive/assets/notext/11.webp
  tutorials/others/proton-drive/assets/notext/12.webp
  tutorials/others/proton-drive/assets/notext/13.webp
  tutorials/others/proton-drive/assets/notext/14.webp
  tutorials/others/proton-drive/assets/notext/15.webp
  tutorials/others/proton-drive/assets/notext/16.webp
  tutorials/others/proton-drive/assets/notext/17.webp
  tutorials/others/proton-drive/assets/notext/18.webp
  tutorials/others/proton-drive/assets/notext/19.webp
  tutorials/others/proton-drive/assets/notext/20.webp
  tutorials/others/proton-drive/assets/notext/21.webp
  tutorials/others/proton-drive/assets/notext/22.webp
  tutorials/others/proton-drive/assets/notext/23.webp
  tutorials/others/proton-drive/assets/notext/24.webp
  tutorials/others/proton-drive/assets/notext/25.webp
  tutorials/others/proton-drive/assets/notext/26.webp
  tutorials/others/proton-drive/assets/notext/27.webp
  tutorials/others/proton-drive/assets/notext/28.webp
  tutorials/others/proton-drive/assets/notext/29.webp
  tutorials/others/proton-drive/assets/notext/30.webp
  tutorials/others/proton-drive/assets/notext/31.webp
  tutorials/others/proton-drive/assets/notext/32.webp
  tutorials/others/proton-drive/assets/notext/33.webp
  tutorials/others/proton-drive/assets/notext/34.webp
  tutorials/others/proton-drive/assets/notext/35.webp
  tutorials/others/proton-drive/fr.md
  tutorials/others/proton-drive/tutorial.yml
Labels: content - course, content - tutorial, content creation, content update

#577 Partner Nodes events
  resources/conference/academy-bitcoin-eduactors-2024/assets/thumbnail.webp
  resources/conference/academy-bitcoin-eduactors-2024/events.yml
  resources/conference/cheatcode-australia-2024/assets/thumbnail.webp
  resources/conference/cheatcode-australia-2024/events.yml
  resources/conference/pleblap-mexico-2024/assets/thumbnail.webp
  resources/conference/pleblap-mexico-2024/events.yml
  scripts/auto-event/generate_builderevent.py
  scripts/auto-event/generate_events.py
Labels: content - resource, content creation

#585 course, upload zh-hant version
  courses/btc101/zh-Hant.md
Labels: language - zh-Hans

#576 updated info and translations about midimarcus
  professors/marco-giorgetti/en.yml
  professors/marco-giorgetti/es.yml
  professors/marco-giorgetti/it.yml
  professors/marco-giorgetti/professor.yml
  professors/marco-giorgetti/ru.yml
Labels: content update, content - professors

#578 KeePass tuto
  courses/scu101/cs.md
  courses/scu101/de.md
  courses/scu101/en.md
  courses/scu101/es.md
  courses/scu101/fi.md
  courses/scu101/fr.md
  courses/scu101/it.md
  courses/scu101/ja.md
  courses/scu101/pt.md
  courses/scu101/ru.md
  courses/scu101/vi.md
  tutorials/others/keepass/assets/cover.webp
  tutorials/others/keepass/assets/logo.webp
  tutorials/others/keepass/assets/notext/01.webp
  tutorials/others/keepass/assets/notext/02.webp
  tutorials/others/keepass/assets/notext/03.webp
  tutorials/others/keepass/assets/notext/04.webp
  tutorials/others/keepass/assets/notext/05.webp
  tutorials/others/keepass/assets/notext/06.webp
  tutorials/others/keepass/assets/notext/07.webp
  tutorials/others/keepass/assets/notext/08.webp
  tutorials/others/keepass/assets/notext/09.webp
  tutorials/others/keepass/assets/notext/10.webp
  tutorials/others/keepass/assets/notext/11.webp
  tutorials/others/keepass/assets/notext/12.webp
  tutorials/others/keepass/assets/notext/13.webp
  tutorials/others/keepass/assets/notext/14.webp
  tutorials/others/keepass/assets/notext/15.webp
  tutorials/others/keepass/assets/notext/16.webp
  tutorials/others/keepass/assets/notext/17.webp
  tutorials/others/keepass/assets/notext/18.webp
  tutorials/others/keepass/assets/notext/19.webp
  tutorials/others/keepass/assets/notext/20.webp
  tutorials/others/keepass/assets/notext/21.webp
  tutorials/others/keepass/assets/notext/22.webp
  tutorials/others/keepass/assets/notext/23.webp
  tutorials/others/keepass/assets/notext/24.webp
  tutorials/others/keepass/assets/notext/25.webp
  tutorials/others/keepass/assets/notext/26.webp
  tutorials/others/keepass/assets/notext/27.webp
  tutorials/others/keepass/assets/notext/28.webp
  tutorials/others/keepass/assets/notext/29.webp
  tutorials/others/keepass/assets/notext/30.webp
  tutorials/others/keepass/assets/notext/31.webp
  tutorials/others/keepass/assets/notext/32.webp
  tutorials/others/keepass/assets/notext/33.webp
  tutorials/others/keepass/assets/notext/34.webp
  tutorials/others/keepass/assets/notext/35.webp
  tutorials/others/keepass/assets/notext/36.webp
  tutorials/others/keepass/assets/notext/37.webp
  tutorials/others/keepass/assets/notext/38.webp
  tutorials/others/keepass/assets/notext/39.webp
  tutorials/others/keepass/assets/notext/40.webp
  tutorials/others/keepass/assets/notext/41.webp
  tutorials/others/keepass/assets/notext/42.webp
  tutorials/others/keepass/assets/notext/43.webp
  tutorials/others/keepass/assets/notext/44.webp
  tutorials/others/keepass/fr.md
  tutorials/others/keepass/tutorial.yml
Labels: content - tutorial, content creation

#581 Tuto IVPN
  courses/scu101/cs.md
  courses/scu101/de.md
  courses/scu101/en.md
  courses/scu101/es.md
  courses/scu101/fi.md
  courses/scu101/fr.md
  courses/scu101/it.md
  courses/scu101/ja.md
  courses/scu101/pt.md
  courses/scu101/ru.md
  courses/scu101/vi.md
  tutorials/others/ivpn/assets/cover.webp
  tutorials/others/ivpn/assets/cs/01.webp
  tutorials/others/ivpn/assets/de/01.webp
  tutorials/others/ivpn/assets/en/01.webp
  tutorials/others/ivpn/assets/es/01.webp
  tutorials/others/ivpn/assets/fi/01.webp
  tutorials/others/ivpn/assets/fr/01.webp
  tutorials/others/ivpn/assets/it/01.webp
  tutorials/others/ivpn/assets/ja/01.webp
  tutorials/others/ivpn/assets/logo.webp
  tutorials/others/ivpn/assets/notext/02.webp
  tutorials/others/ivpn/assets/notext/03.webp
  tutorials/others/ivpn/assets/notext/04.webp
  tutorials/others/ivpn/assets/notext/05.webp
  tutorials/others/ivpn/assets/notext/06.webp
  tutorials/others/ivpn/assets/notext/07.webp
  tutorials/others/ivpn/assets/notext/08.webp
  tutorials/others/ivpn/assets/notext/09.webp
  tutorials/others/ivpn/assets/notext/10.webp
  tutorials/others/ivpn/assets/notext/11.webp
  tutorials/others/ivpn/assets/notext/12.webp
  tutorials/others/ivpn/assets/notext/13.webp
  tutorials/others/ivpn/assets/notext/14.webp
  tutorials/others/ivpn/assets/notext/15.webp
  tutorials/others/ivpn/assets/notext/16.webp
  tutorials/others/ivpn/assets/notext/17.webp
  tutorials/others/ivpn/assets/notext/18.webp
  tutorials/others/ivpn/assets/notext/19.webp
  tutorials/others/ivpn/assets/notext/20.webp
  tutorials/others/ivpn/assets/notext/21.webp
  tutorials/others/ivpn/assets/notext/22.webp
  tutorials/others/ivpn/assets/notext/23.webp
  tutorials/others/ivpn/assets/notext/24.webp
  tutorials/others/ivpn/assets/notext/25.webp
  tutorials/others/ivpn/assets/notext/26.webp
  tutorials/others/ivpn/assets/notext/27.webp
  tutorials/others/ivpn/assets/notext/28.webp
  tutorials/others/ivpn/assets/notext/29.webp
  tutorials/others/ivpn/assets/notext/30.webp
  tutorials/others/ivpn/assets/notext/31.webp
  tutorials/others/ivpn/assets/notext/32.webp
  tutorials/others/ivpn/assets/pt/01.webp
  tutorials/others/ivpn/assets/ru/01.webp
  tutorials/others/ivpn/assets/vi/01.webp
  tutorials/others/ivpn/fr.md
  tutorials/others/ivpn/tutorial.yml
Labels: content - tutorial, content creation

#584 Mullvad VPN Tuto
  tutorials/others/mullvad/assets/cover.webp
  tutorials/others/mullvad/assets/cs/01.webp
  tutorials/others/mullvad/assets/de/01.webp
  tutorials/others/mullvad/assets/en/01.webp
  tutorials/others/mullvad/assets/es/01.webp
  tutorials/others/mullvad/assets/fi/01.webp
  tutorials/others/mullvad/assets/fr/01.webp
  tutorials/others/mullvad/assets/it/01.webp
  tutorials/others/mullvad/assets/ja/01.webp
  tutorials/others/mullvad/assets/logo.webp
  tutorials/others/mullvad/assets/notext/02.webp
  tutorials/others/mullvad/assets/notext/03.webp
  tutorials/others/mullvad/assets/notext/04.webp
  tutorials/others/mullvad/assets/notext/05.webp
  tutorials/others/mullvad/assets/notext/06.webp
  tutorials/others/mullvad/assets/notext/07.webp
  tutorials/others/mullvad/assets/notext/08.webp
  tutorials/others/mullvad/assets/notext/09.webp
  tutorials/others/mullvad/assets/notext/10.webp
  tutorials/others/mullvad/assets/notext/11.webp
  tutorials/others/mullvad/assets/notext/12.webp
  tutorials/others/mullvad/assets/notext/13.webp
  tutorials/others/mullvad/assets/notext/14.webp
  tutorials/others/mullvad/assets/notext/15.webp
  tutorials/others/mullvad/assets/notext/16.webp
  tutorials/others/mullvad/assets/notext/17.webp
  tutorials/others/mullvad/assets/notext/18.webp
  tutorials/others/mullvad/assets/notext/19.webp
  tutorials/others/mullvad/assets/notext/20.webp
  tutorials/others/mullvad/assets/notext/21.webp
  tutorials/others/mullvad/assets/notext/22.webp
  tutorials/others/mullvad/assets/notext/23.webp
  tutorials/others/mullvad/assets/notext/24.webp
  tutorials/others/mullvad/assets/notext/25.webp
  tutorials/others/mullvad/assets/notext/26.webp
  tutorials/others/mullvad/assets/notext/27.webp
  tutorials/others/mullvad/assets/notext/28.webp
  tutorials/others/mullvad/assets/notext/29.webp
  tutorials/others/mullvad/assets/notext/30.webp
  tutorials/others/mullvad/assets/notext/31.webp
  tutorials/others/mullvad/assets/notext/32.webp
  tutorials/others/mullvad/assets/notext/33.webp
  tutorials/others/mullvad/assets/notext/34.webp
  tutorials/others/mullvad/assets/notext/35.webp
  tutorials/others/mullvad/assets/notext/36.webp
  tutorials/others/mullvad/assets/notext/37.webp
  tutorials/others/mullvad/assets/pt/01.webp
  tutorials/others/mullvad/assets/ru/01.webp
  tutorials/others/mullvad/assets/vi/01.webp
  tutorials/others/mullvad/fr.md
  tutorials/others/mullvad/tutorial.yml
Labels: content - tutorial, content creation

#590 Fix StackinSat typos
  tutorials/exchange/stackinsat/cs.md
  tutorials/exchange/stackinsat/de.md
  tutorials/exchange/stackinsat/en.md
  tutorials/exchange/stackinsat/es.md
  tutorials/exchange/stackinsat/et.md
  tutorials/exchange/stackinsat/fi.md
  tutorials/exchange/stackinsat/fr.md
  tutorials/exchange/stackinsat/id.md
  tutorials/exchange/stackinsat/it.md
  tutorials/exchange/stackinsat/ja.md
  tutorials/exchange/stackinsat/pt.md
  tutorials/exchange/stackinsat/ru.md
  tutorials/exchange/stackinsat/vi.md
  tutorials/exchange/stackinsat/zh-Hans.md
Labels: content typo, content - resource

#591 Tor Browser Tuto (SCU101)
  tutorials/others/tor-browser/assets/cover.webp
  tutorials/others/tor-browser/assets/logo.webp
  tutorials/others/tor-browser/assets/notext/01.webp
  tutorials/others/tor-browser/assets/notext/02.webp
  tutorials/others/tor-browser/assets/notext/03.webp
  tutorials/others/tor-browser/assets/notext/04.webp
  tutorials/others/tor-browser/assets/notext/05.webp
  tutorials/others/tor-browser/assets/notext/06.webp
  tutorials/others/tor-browser/assets/notext/07.webp
  tutorials/others/tor-browser/assets/notext/08.webp
  tutorials/others/tor-browser/assets/notext/09.webp
  tutorials/others/tor-browser/assets/notext/10.webp
  tutorials/others/tor-browser/assets/notext/11.webp
  tutorials/others/tor-browser/assets/notext/12.webp
  tutorials/others/tor-browser/assets/notext/13.webp
  tutorials/others/tor-browser/assets/notext/14.webp
  tutorials/others/tor-browser/assets/notext/15.webp
  tutorials/others/tor-browser/assets/notext/16.webp
  tutorials/others/tor-browser/assets/notext/17.webp
  tutorials/others/tor-browser/assets/notext/18.webp
  tutorials/others/tor-browser/assets/notext/19.webp
  tutorials/others/tor-browser/assets/notext/20.webp
  tutorials/others/tor-browser/assets/notext/21.webp
  tutorials/others/tor-browser/assets/notext/22.webp
  tutorials/others/tor-browser/assets/notext/23.webp
  tutorials/others/tor-browser/assets/notext/24.webp
  tutorials/others/tor-browser/assets/notext/25.webp
  tutorials/others/tor-browser/assets/notext/26.webp
  tutorials/others/tor-browser/assets/notext/27.webp
  tutorials/others/tor-browser/assets/notext/28.webp
  tutorials/others/tor-browser/assets/notext/29.webp
  tutorials/others/tor-browser/assets/notext/30.webp
  tutorials/others/tor-browser/assets/notext/31.webp
  tutorials/others/tor-browser/assets/notext/32.webp
  tutorials/others/tor-browser/assets/notext/33.webp
  tutorials/others/tor-browser/assets/notext/34.webp
  tutorials/others/tor-browser/assets/notext/35.webp
  tutorials/others/tor-browser/assets/notext/36.webp
  tutorials/others/tor-browser/assets/notext/37.webp
  tutorials/others/tor-browser/assets/notext/38.webp
  tutorials/others/tor-browser/fr.md
  tutorials/others/tor-browser/tutorial.yml
Labels: content - tutorial, content creation

#598 Addition of Pueblo Bitcoin book
  resources/books/pueblo-bitcoin/assets/cover_es.webp
  resources/books/pueblo-bitcoin/book.yml
  resources/books/pueblo-bitcoin/es.yml
Labels: content - resource, content creation

#594 BTC 102 Proofread (Chinese)
  courses/btc102/zh-Hans.md
Labels: content proofreading, content - course, language - zh-Hans

#600 Tuto VeraCrypt (SCU101)
  courses/scu101/cs.md
  courses/scu101/de.md
  courses/scu101/en.md
  courses/scu101/es.md
  courses/scu101/fi.md
  courses/scu101/fr.md
  courses/scu101/id.md
  courses/scu101/it.md
  courses/scu101/ja.md
  courses/scu101/pt.md
  courses/scu101/ru.md
  courses/scu101/vi.md
  tutorials/others/veracrypt/assets/cover.webp
  tutorials/others/veracrypt/assets/logo.webp
  tutorials/others/veracrypt/assets/notext/01.webp
  tutorials/others/veracrypt/assets/notext/02.webp
  tutorials/others/veracrypt/assets/notext/03.webp
  tutorials/others/veracrypt/assets/notext/04.webp
  tutorials/others/veracrypt/assets/notext/05.webp
  tutorials/others/veracrypt/assets/notext/06.webp
  tutorials/others/veracrypt/assets/notext/07.webp
  tutorials/others/veracrypt/assets/notext/08.webp
  tutorials/others/veracrypt/assets/notext/09.webp
  tutorials/others/veracrypt/assets/notext/10.webp
  tutorials/others/veracrypt/assets/notext/11.webp
  tutorials/others/veracrypt/assets/notext/12.webp
  tutorials/others/veracrypt/assets/notext/13.webp
  tutorials/others/veracrypt/assets/notext/14.webp
  tutorials/others/veracrypt/assets/notext/15.webp
  tutorials/others/veracrypt/assets/notext/16.webp
  tutorials/others/veracrypt/assets/notext/17.webp
  tutorials/others/veracrypt/assets/notext/18.webp
  tutorials/others/veracrypt/assets/notext/19.webp
  tutorials/others/veracrypt/assets/notext/20.webp
  tutorials/others/veracrypt/assets/notext/21.webp
  tutorials/others/veracrypt/assets/notext/22.webp
  tutorials/others/veracrypt/assets/notext/23.webp
  tutorials/others/veracrypt/assets/notext/24.webp
  tutorials/others/veracrypt/assets/notext/25.webp
  tutorials/others/veracrypt/assets/notext/26.webp
  tutorials/others/veracrypt/assets/notext/27.webp
  tutorials/others/veracrypt/assets/notext/28.webp
  tutorials/others/veracrypt/assets/notext/29.webp
  tutorials/others/veracrypt/assets/notext/30.webp
  tutorials/others/veracrypt/assets/notext/31.webp
  tutorials/others/veracrypt/assets/notext/32.webp
  tutorials/others/veracrypt/assets/notext/33.webp
  tutorials/others/veracrypt/assets/notext/34.webp
  tutorials/others/veracrypt/assets/notext/35.webp
  tutorials/others/veracrypt/assets/notext/36.webp
  tutorials/others/veracrypt/assets/notext/37.webp
  tutorials/others/veracrypt/assets/notext/38.webp
  tutorials/others/veracrypt/assets/notext/39.webp
  tutorials/others/veracrypt/assets/notext/40.webp
  tutorials/others/veracrypt/fr.md
  tutorials/others/veracrypt/tutorial.yml
Labels: content - tutorial, content creation

#601 et + zh-Hans SCU101 links to tutorials
  courses/scu101/et.md
  courses/scu101/zh-Hans.md
Labels: content - course, content update

#602 Node Nation and Bitcoin events
  resources/builders/diamond-hands/assets/logo.webp
  resources/builders/diamond-hands/builder.yml
  resources/builders/diamond-hands/en.yml
  resources/builders/node-nation/assets/logo.webp
  resources/builders/node-nation/builder.yml
  resources/builders/node-nation/en.yml
  resources/conference/bitcoin-roatan-retreat/assets/thumbnail.webp
  resources/conference/bitcoin-roatan-retreat/events.yml
  resources/conference/suriname-descentralized-2024/assets/thumbnail.webp
  resources/conference/suriname-descentralized-2024/events.yml
Labels: content - resource, content creation

#613 [COURSE] btc401- update written course
  courses/btc401/assets/en/1/1.webp
  courses/btc401/assets/en/2/1.webp
  courses/btc401/assets/en/2/10.webp
  courses/btc401/assets/en/2/11.webp
  courses/btc401/assets/en/2/12.webp
  courses/btc401/assets/en/2/13.webp
  courses/btc401/assets/en/2/14.webp
  courses/btc401/assets/en/2/2.webp
  courses/btc401/assets/en/2/3.webp
  courses/btc401/assets/en/2/4.webp
  courses/btc401/assets/en/2/5.webp
  courses/btc401/assets/en/2/6.webp
  courses/btc401/assets/en/2/7.webp
  courses/btc401/assets/en/2/8.webp
  courses/btc401/assets/en/2/9.webp
  courses/btc401/assets/en/3/1.webp
  courses/btc401/assets/en/3/10.webp
  courses/btc401/assets/en/3/11.webp
  courses/btc401/assets/en/3/12.webp
  courses/btc401/assets/en/3/13.webp
  courses/btc401/assets/en/3/14.webp
  courses/btc401/assets/en/3/15.webp
  courses/btc401/assets/en/3/16.webp
  courses/btc401/assets/en/3/17.webp
  courses/btc401/assets/en/3/18.webp
  courses/btc401/assets/en/3/19.webp
  courses/btc401/assets/en/3/2.webp
  courses/btc401/assets/en/3/20.webp
  courses/btc401/assets/en/3/21.webp
  courses/btc401/assets/en/3/3.webp
  courses/btc401/assets/en/3/4.webp
  courses/btc401/assets/en/3/5.webp
  courses/btc401/assets/en/3/6.webp
  courses/btc401/assets/en/3/7.webp
  courses/btc401/assets/en/3/8.webp
  courses/btc401/assets/en/3/9.webp
  courses/btc401/assets/en/4/1.webp
  courses/btc401/assets/en/4/10.webp
  courses/btc401/assets/en/4/11.webp
  courses/btc401/assets/en/4/12.webp
  courses/btc401/assets/en/4/2.webp
  courses/btc401/assets/en/4/3.webp
  courses/btc401/assets/en/4/4.webp
  courses/btc401/assets/en/4/5.webp
  courses/btc401/assets/en/4/6.webp
  courses/btc401/assets/en/4/7.webp
  courses/btc401/assets/en/4/8.webp
  courses/btc401/assets/en/4/9.webp
  courses/btc401/assets/en/bonus/mining/1.webp
  courses/btc401/assets/en/bonus/mining/2.webp
  courses/btc401/assets/en/bonus/mining/3.webp
  courses/btc401/assets/en/bonus/mining/4.webp
  courses/btc401/assets/en/bonus/mining/5.webp
  courses/btc401/assets/en/bonus/mining/6.webp
  courses/btc401/en.md
Labels: content - course, format update

#609 BitAxe tutorial
  tutorials/mining/bitaxe/assets/1.webp
  tutorials/mining/bitaxe/assets/10.webp
  tutorials/mining/bitaxe/assets/11.webp
  tutorials/mining/bitaxe/assets/2.webp
  tutorials/mining/bitaxe/assets/3.webp
  tutorials/mining/bitaxe/assets/4.webp
  tutorials/mining/bitaxe/assets/5.webp
  tutorials/mining/bitaxe/assets/6.webp
  tutorials/mining/bitaxe/assets/7.webp
  tutorials/mining/bitaxe/assets/8.webp
  tutorials/mining/bitaxe/assets/9.webp
  tutorials/mining/bitaxe/assets/logo.webp
  tutorials/mining/bitaxe/fr.md
  tutorials/mining/bitaxe/tutorial.yml
Labels: content - tutorial, content creation

#615 btc401, update teacher in chapters
  courses/btc401/course.yml
  courses/btc401/en.md
Labels: content - course, format update

#619 tuto, replace rename subtopic privacy
  tutorials/privacy/coinjoin-dojo/tutorial.yml
  tutorials/privacy/coinjoin-samourai-wallet/tutorial.yml
  tutorials/privacy/coinjoin-sparrow-wallet/tutorial.yml
  tutorials/privacy/joinbot/tutorial.yml
  tutorials/privacy/payjoin-samourai-wallet/tutorial.yml
  tutorials/privacy/payjoin-sparrow-wallet/tutorial.yml
  tutorials/privacy/payjoin/tutorial.yml
  tutorials/privacy/paynym-bip47/tutorial.yml
  tutorials/privacy/ricochet/tutorial.yml
  tutorials/privacy/stonewall-x2/tutorial.yml
  tutorials/privacy/stonewall/tutorial.yml
  tutorials/privacy/utxo-labelling/tutorial.yml
Labels: content - tutorial, format update

#616 Addition of 21 Pensieri dal Villaggio Bitcoin
  resources/books/21-pensieri-dal-villaggio-bitcoin/assets/cover_it.webp
  resources/books/21-pensieri-dal-villaggio-bitcoin/book.yml
  resources/books/21-pensieri-dal-villaggio-bitcoin/it.yml
Labels: content - resource, content creation

#623 Glossary template repo
  docs/PBN-template-repo/resources/glossary/cool-word/en.md
  docs/PBN-template-repo/resources/glossary/cool-word/word.yml
  docs/PBN-template-repo/resources/glossary/cool-word2/en.md
  docs/PBN-template-repo/resources/glossary/cool-word2/word.yml
Labels: documentation

#629 fixed links to github projects
  README.md
Labels: documentation
