Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2024-10, with the labels that each got.

#767 Proofreading - wallet - samourai - vi
  tutorials/wallet/samourai/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#769 Proofreading - wallet-sentinel-vi
  tutorials/wallet/sentinel/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#776 Proofreading wallet-electrum - vi
  tutorials/wallet/electrum/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#777 Proofreading eco102 - vi
  courses/eco102/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#820 Proofreading min201 - vi
  courses/min201/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#783 BTC 305 Proofreading - ES
  courses/btc305/es.md
Labels: content proofreading, language - es, content - course, reward pending

#805 BTC101 ES Proofreading
  courses/btc101/es.md
Labels: content proofreading, language - es, content - course, reward pending

#849 BTC204-rus
  courses/btc204/ru.md
Labels: content proofreading, content - course, language - ru, reward pending

#853 btc102 - es proofreading
  courses/btc102/es.md
Labels: content proofreading, language - es, content - course, reward pending

#857 Profreading [ITA]
  courses/btc302/it.md
  courses/btc305/it.md
  courses/csv402/it.md
Labels: content proofreading, language - it, content - course, reward pending

#828 Tuto TAPSIGNER
  tutorials/wallet/tapsigner/assets/cover.webp
  tutorials/wallet/tapsigner/assets/logo.webp
  tutorials/wallet/tapsigner/assets/notext/01.webp
  tutorials/wallet/tapsigner/assets/notext/02.webp
  tutorials/wallet/tapsigner/assets/notext/03.webp
  tutorials/wallet/tapsigner/assets/notext/04.webp
  tutorials/wallet/tapsigner/assets/notext/05.webp
  tutorials/wallet/tapsigner/assets/notext/06.webp
  tutorials/wallet/tapsigner/assets/notext/07.webp
  tutorials/wallet/tapsigner/assets/notext/08.webp
  tutorials/wallet/tapsigner/assets/notext/09.webp
  tutorials/wallet/tapsigner/assets/notext/10.webp
  tutorials/wallet/tapsigner/assets/notext/11.webp
  tutorials/wallet/tapsigner/assets/notext/12.webp
  tutorials/wallet/tapsigner/assets/notext/13.webp
  tutorials/wallet/tapsigner/assets/notext/14.webp
  tutorials/wallet/tapsigner/assets/notext/15.webp
  tutorials/wallet/tapsigner/assets/notext/16.webp
  tutorials/wallet/tapsigner/assets/notext/17.webp
  tutorials/wallet/tapsigner/assets/notext/18.webp
  tutorials/wallet/tapsigner/assets/notext/19.webp
  tutorials/wallet/tapsigner/assets/notext/20.webp
  tutorials/wallet/tapsigner/assets/notext/21.webp
  tutorials/wallet/tapsigner/assets/notext/22.webp
  tutorials/wallet/tapsigner/assets/notext/23.webp
  tutorials/wallet/tapsigner/assets/notext/24.webp
  tutorials/wallet/tapsigner/assets/notext/25.webp
  tutorials/wallet/tapsigner/assets/notext/26.webp
  tutorials/wallet/tapsigner/assets/notext/27.webp
  tutorials/wallet/tapsigner/assets/notext/28.webp
  tutorials/wallet/tapsigner/assets/notext/29.webp
  tutorials/wallet/tapsigner/assets/notext/30.webp
  tutorials/wallet/tapsigner/assets/notext/31.webp
  tutorials/wallet/tapsigner/assets/notext/32.webp
  tutorials/wallet/tapsigner/assets/notext/33.webp
  tutorials/wallet/tapsigner/assets/notext/34.webp
  tutorials/wallet/tapsigner/assets/notext/35.webp
  tutorials/wallet/tapsigner/assets/notext/36.webp
  tutorials/wallet/tapsigner/assets/notext/37.webp
  tutorials/wallet/tapsigner/assets/notext/38.webp
  tutorials/wallet/tapsigner/assets/notext/39.webp
  tutorials/wallet/tapsigner/assets/notext/40.webp
  tutorials/wallet/tapsigner/assets/notext/41.webp
  tutorials/wallet/tapsigner/assets/notext/42.webp
  tutorials/wallet/tapsigner/assets/notext/43.webp
  tutorials/wallet/tapsigner/assets/notext/44.webp
  tutorials/wallet/tapsigner/assets/notext/45.webp
  tutorials/wallet/tapsigner/assets/notext/46.webp
  tutorials/wallet/tapsigner/assets/notext/47.webp
  tutorials/wallet/tapsigner/assets/notext/48.webp
  tutorials/wallet/tapsigner/assets/notext/49.webp
  tutorials/wallet/tapsigner/assets/notext/50.webp
  tutorials/wallet/tapsigner/assets/notext/51.webp
  tutorials/wallet/tapsigner/assets/notext/52.webp
  tutorials/wallet/tapsigner/assets/notext/53.webp
  tutorials/wallet/tapsigner/assets/notext/54.webp
  tutorials/wallet/tapsigner/assets/notext/55.webp
  tutorials/wallet/tapsigner/fr.md
  tutorials/wallet/tapsigner/tutorial.yml
Labels: content - tutorial, content creation

#830 UUID and metadata Satochip tutorial
  tutorials/wallet/satochip/tutorial.yml
Labels: content - tutorial, content update

#835 Re-formating BTC401
  courses/btc401/assets/en/1/2.webp
  courses/btc401/assets/en/1/3.webp
  courses/btc401/assets/en/1/4.webp
  courses/btc401/assets/en/1/5.webp
  courses/btc401/assets/en/1/6.webp
  courses/btc401/assets/en/1/7.webp
  courses/btc401/assets/en/1/8.webp
  courses/btc401/en.md
Labels: content - course, content update

#836 Tutorial SATSCARD
  tutorials/wallet/satscard/assets/cover.webp
  tutorials/wallet/satscard/assets/logo.webp
  tutorials/wallet/satscard/assets/notext/01.webp
  tutorials/wallet/satscard/assets/notext/02.webp
  tutorials/wallet/satscard/assets/notext/03.webp
  tutorials/wallet/satscard/assets/notext/04.webp
  tutorials/wallet/satscard/assets/notext/05.webp
  tutorials/wallet/satscard/assets/notext/06.webp
  tutorials/wallet/satscard/assets/notext/07.webp
  tutorials/wallet/satscard/assets/notext/08.webp
  tutorials/wallet/satscard/assets/notext/09.webp
  tutorials/wallet/satscard/assets/notext/10.webp
  tutorials/wallet/satscard/assets/notext/11.webp
  tutorials/wallet/satscard/assets/notext/12.webp
  tutorials/wallet/satscard/assets/notext/13.webp
  tutorials/wallet/satscard/assets/notext/14.webp
  tutorials/wallet/satscard/assets/notext/15.webp
  tutorials/wallet/satscard/assets/notext/16.webp
  tutorials/wallet/satscard/assets/notext/17.webp
  tutorials/wallet/satscard/assets/notext/18.webp
  tutorials/wallet/satscard/assets/notext/19.webp
  tutorials/wallet/satscard/assets/notext/20.webp
  tutorials/wallet/satscard/assets/notext/21.webp
  tutorials/wallet/satscard/assets/notext/22.webp
  tutorials/wallet/satscard/assets/notext/23.webp
  tutorials/wallet/satscard/assets/notext/24.webp
  tutorials/wallet/satscard/assets/notext/25.webp
  tutorials/wallet/satscard/assets/notext/26.webp
  tutorials/wallet/satscard/assets/notext/27.webp
  tutorials/wallet/satscard/assets/notext/28.webp
  tutorials/wallet/satscard/fr.md
  tutorials/wallet/satscard/tutorial.yml
Labels: content - tutorial, content creation

#889 Add: New Replay Conference Mining Disrupt 2024
  resources/conferences/mining-disrupt-2024/assets/thumbnail.webp
  resources/conferences/mining-disrupt-2024/conference.yml
  resources/conferences/mining-disrupt-2024/en.md
Labels: content - resource, content creation

#902 Lugano PlanB forum side events
  events/luganoforum-spazio21-2024/assets/thumbnail.webp
  events/luganoforum-spazio21-2024/event.yml
  events/luganoforum-ssl-2024/assets/thumbnail.webp
  events/luganoforum-ssl-2024/event.yml
Labels: content - resource, content creation

#931 [TUTORIAL] Edit GPG tutorial links
  tutorials/wallet/ledger-flex/fr.md
  tutorials/wallet/satochip/fr.md
Labels: content - tutorial, content update

#934 [RESOURCE] Add Michele Gandolfi, Matteo Bordini professors
  professors/matteo-bordini/assets/profile.webp
  professors/matteo-bordini/it.yml
  professors/matteo-bordini/professor.yml
  professors/michele-gandolfi/assets/profile.webp
  professors/michele-gandolfi/it.yml
  professors/michele-gandolfi/professor.yml
Labels: content - resource, content creation

#936 [TUTORIAL] Add Passphrase BIP39 Ledger
  tutorials/wallet/ledger-flex/fr.md
  tutorials/wallet/ledger/cs.md
  tutorials/wallet/ledger/de.md
  tutorials/wallet/ledger/en.md
  tutorials/wallet/ledger/es.md
  tutorials/wallet/ledger/et.md
  tutorials/wallet/ledger/fi.md
  tutorials/wallet/ledger/fr.md
  tutorials/wallet/ledger/id.md
  tutorials/wallet/ledger/it.md
  tutorials/wallet/ledger/ja.md
  tutorials/wallet/ledger/pt.md
  tutorials/wallet/ledger/ru.md
  tutorials/wallet/ledger/vi.md
  tutorials/wallet/ledger/zh-Hans.md
  tutorials/wallet/passphrase-ledger/assets/cover.webp
  tutorials/wallet/passphrase-ledger/assets/notext/03.webp
  tutorials/wallet/passphrase-ledger/assets/notext/04.webp
  tutorials/wallet/passphrase-ledger/assets/notext/05.webp
  tutorials/wallet/passphrase-ledger/assets/notext/06.webp
  tutorials/wallet/passphrase-ledger/assets/notext/07.webp
  tutorials/wallet/passphrase-ledger/assets/notext/08.webp
  tutorials/wallet/passphrase-ledger/assets/notext/09.webp
  tutorials/wallet/passphrase-ledger/assets/notext/10.webp
  tutorials/wallet/passphrase-ledger/assets/notext/11.webp
  tutorials/wallet/passphrase-ledger/assets/notext/12.webp
  tutorials/wallet/passphrase-ledger/assets/notext/13.webp
  tutorials/wallet/passphrase-ledger/assets/notext/14.webp
  tutorials/wallet/passphrase-ledger/assets/notext/15.webp
  tutorials/wallet/passphrase-ledger/assets/notext/16.webp
  tutorials/wallet/passphrase-ledger/assets/notext/17.webp
  tutorials/wallet/passphrase-ledger/assets/notext/18.webp
  tutorials/wallet/passphrase-ledger/assets/notext/19.webp
  tutorials/wallet/passphrase-ledger/assets/notext/20.webp
  tutorials/wallet/passphrase-ledger/assets/notext/21.webp
  tutorials/wallet/passphrase-ledger/assets/notext/22.webp
  tutorials/wallet/passphrase-ledger/assets/notext/23.webp
  tutorials/wallet/passphrase-ledger/assets/notext/24.webp
  tutorials/wallet/passphrase-ledger/assets/notext/25.webp
  tutorials/wallet/passphrase-ledger/assets/notext/26.webp
  tutorials/wallet/passphrase-ledger/assets/notext/27.webp
  tutorials/wallet/passphrase-ledger/assets/notext/28.webp
  tutorials/wallet/passphrase-ledger/assets/notext/29.webp
  tutorials/wallet/passphrase-ledger/assets/notext/30.webp
  tutorials/wallet/passphrase-ledger/assets/notext/31.webp
  tutorials/wallet/passphrase-ledger/assets/notext/32.webp
  tutorials/wallet/passphrase-ledger/assets/notext/33.webp
  tutorials/wallet/passphrase-ledger/assets/notext/34.webp
  tutorials/wallet/passphrase-ledger/fr.md
  tutorials/wallet/passphrase-ledger/tutorial.yml
Labels: content - tutorial, content creation

#938 [TUTORIAL] Add empty wallet recovery test
  tutorials/wallet/ledger-flex/fr.md
  tutorials/wallet/recovery-test/assets/cover.webp
  tutorials/wallet/recovery-test/assets/logo.webp
  tutorials/wallet/recovery-test/assets/notext/01.webp
  tutorials/wallet/recovery-test/assets/notext/02.webp
  tutorials/wallet/recovery-test/assets/notext/03.webp
  tutorials/wallet/recovery-test/assets/notext/04.webp
  tutorials/wallet/recovery-test/assets/notext/05.webp
  tutorials/wallet/recovery-test/assets/notext/06.webp
  tutorials/wallet/recovery-test/assets/notext/07.webp
  tutorials/wallet/recovery-test/assets/notext/08.webp
  tutorials/wallet/recovery-test/assets/notext/09.webp
  tutorials/wallet/recovery-test/assets/notext/10.webp
  tutorials/wallet/recovery-test/assets/notext/11.webp
  tutorials/wallet/recovery-test/assets/notext/12.webp
  tutorials/wallet/recovery-test/assets/notext/13.webp
  tutorials/wallet/recovery-test/assets/notext/14.webp
  tutorials/wallet/recovery-test/assets/notext/15.webp
  tutorials/wallet/recovery-test/assets/notext/16.webp
  tutorials/wallet/recovery-test/assets/notext/17.webp
  tutorials/wallet/recovery-test/fr.md
  tutorials/wallet/recovery-test/tutorial.yml
Labels: content - tutorial, content creation

#961 Bcert bali event
  events/bcert-bali-2024/event.yml
Labels: content creation, content - event

#969 Update coquilles fr.md
  courses/btc101/fr.md
Labels: content typo, content - course

#983 books, add braiins book
  resources/books/braiins-bitcoin-mining-glossary/assets/cover_en.webp
  resources/books/braiins-bitcoin-mining-glossary/book.yml
  resources/books/braiins-bitcoin-mining-glossary/en.yml
  resources/books/braiins-bitcoin-rust/assets/cover_en.webp
  resources/books/braiins-bitcoin-rust/book.yml
  resources/books/braiins-bitcoin-rust/en.yml
  resources/books/braiins-mining-economics/assets/cover_en.webp
  resources/books/braiins-mining-economics/book.yml
  resources/books/braiins-mining-economics/en.yml
  resources/books/braiins-mining-handbook/assets/cover_en.webp
  resources/books/braiins-mining-handbook/book.yml
  resources/books/braiins-mining-handbook/en.yml
  resources/books/braiins-separation-state/assets/cover_en.webp
  resources/books/braiins-separation-state/book.yml
  resources/books/braiins-separation-state/en.yml
Labels: content - resource, content creation

#984 Update coquilles fr.md
  courses/btc101/fr.md
Labels: content typo, content - course

#985 events, add BEA Germany
  events/2024-bea-germany/assets/thumbnail.webp
  events/2024-bea-germany/event.yml
Labels: content creation, content - event

#986 event, add bitcoin alps conference
  events/2024-bitcoin-alps-conf/assets/thumbnail.webp
  events/2024-bitcoin-alps-conf/event.yml
Labels: content creation, content - event

#782 error fixing - eco102 - en
  courses/eco102/en.md
Labels: language - en, content - course

#879 fixing typo lnp201 en
  courses/lnp201/en.md
Labels: content typo, content - course

#908 Fix 50-planb-tags.md
  docs/50-planb-tags.md
Labels: documentation

#928 [RESOURCE] Add This Week in Bitcoin podcast + Fix Robosats typo
  docs/PBN-template-repo/scripts/planb-tag-occurrence-sorted.md
  docs/PBN-template-repo/scripts/planb-tags.md
  resources/builders/blue-wallet/builder.yml
  resources/builders/lnp2pbot/builder.yml
  resources/builders/raspiblitz/builder.yml
  resources/builders/rgb/builder.yml
  resources/builders/robosats/builder.yml
  resources/builders/swiss-bitcoin-pay/builder.yml
  resources/podcasts/bitcoin-dad-pod/podcast.yml
  resources/podcasts/thisweekinbitcoin/assets/logo.webp
  resources/podcasts/thisweekinbitcoin/podcast.yml
  scripts/planb-tag-occurrence-sorted.md
  scripts/planb-tags.md
Labels: content typo, content - resource, content creation, content update

#940 [COURSE] PHI201 fix images for translation purpose
  courses/phi201/assets/1/img-016.webp
  courses/phi201/assets/1/img-28.webp
Labels: content - course, content update

#971 doc(cyp201): fix step 2 for determine P, M = 950
  courses/cyp201/de.md
  courses/cyp201/en.md
  courses/cyp201/es.md
  courses/cyp201/et.md
  courses/cyp201/fi.md
  courses/cyp201/fr.md
  courses/cyp201/it.md
  courses/cyp201/ja.md
  courses/cyp201/pt.md
Labels: content typo, content - course

#804 proofreading phi201 - vi
  courses/phi201/vi.md
Labels: content proofreading, language - vi, content - course

#996 Add biz102 professors with a few translations
  professors/knut-svanholm/assets/profile.webp
  professors/knut-svanholm/en.yml
  professors/knut-svanholm/es.yml
  professors/knut-svanholm/it.yml
  professors/knut-svanholm/professor.yml
  professors/preston-pysh/assets/profile.webp
  professors/preston-pysh/en.yml
  professors/preston-pysh/es.yml
  professors/preston-pysh/it.yml
  professors/preston-pysh/professor.yml
  professors/stefano-capaccioli/assets/profile.webp
  professors/stefano-capaccioli/en.yml
  professors/stefano-capaccioli/es.yml
  professors/stefano-capaccioli/it.yml
  professors/stefano-capaccioli/professor.yml
Labels: content creation, content - professors

#995 Bitcoin Bali events
  events/bitcoin-for-kids-bali/assets/thumbnail.webp
  events/bitcoin-for-kids-bali/event.yml
  events/bitdevs-bitcoin-bali/assets/thumbnail.webp
  events/bitdevs-bitcoin-bali/event.yml
  events/bringing-bitcoin-2024/assets/thumbnail.webp
  events/bringing-bitcoin-2024/event.yml
  events/learning-cli-bitcoin-bali/assets/thumbnail.webp
  events/learning-cli-bitcoin-bali/event.yml
Labels: content creation, content - event
