Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2024-07, with the labels that each got.

#520 Auto batch translation script
  resources/bet/infography-anil/assets/logo.webp
  resources/bet/infography-anil/bet.yml
  resources/bet/infography-anil/en.yml
  resources/bet/infography-anil/fr.yml
  scripts/auto-translate/.gitignore
  scripts/auto-translate/README.md
  scripts/auto-translate/update-content-translation.py
Labels: scripts

#503 TUTO Public Pool
  tutorials/mining/public-pool/assets/1.webp
  tutorials/mining/public-pool/assets/2.webp
  tutorials/mining/public-pool/assets/3.webp
  tutorials/mining/public-pool/assets/4.webp
  tutorials/mining/public-pool/assets/5.webp
  tutorials/mining/public-pool/assets/cover.webp
  tutorials/mining/public-pool/assets/logo.webp
  tutorials/mining/public-pool/fr.md
  tutorials/mining/public-pool/tutorial.yml
Labels: content - tutorial, content creation

#517 Update it.md
  courses/btc204/it.md
  courses/crypto301/it.md
Labels: content proofreading, language - it, content - course

#498 Italian translation and review
  courses/btc102/it.md
Labels: content proofreading, language - it

#524 proofreading
  courses/ln402/it.md
  courses/min201/it.md
  courses/rgb/it.md
Labels: content proofreading, language - it, content - course

#528 Pleblab weekly events
  resources/conference/pleblab-builderspace-2024/assets/thumbnail.webp
  resources/conference/pleblab-builderspace-2024/events.yml
  resources/conference/pleblab-hackerspace-2024/assets/thumbnail.webp
  resources/conference/pleblab-hackerspace-2024/events.yml
  scripts/auto-event/generate_builderevent.py
  scripts/auto-event/generate_events.py
Labels: content - resource, content creation, scripts

#534 Fix minor error philo201
  courses/phi201/assets/thumbnail.jpg
  courses/phi201/assets/thumbnail.webp
  courses/phi201/course.yml
  courses/phi201/fr.md
Labels: content - course, content update

#536 Update fr.md
  courses/phi201/fr.md
Labels: content typo, content - course

#529 Adding a new professor - bitbaldo
  professors/bitbaldo/assets/profile.webp
  professors/bitbaldo/de.yml
  professors/bitbaldo/en.yml
  professors/bitbaldo/es.yml
  professors/bitbaldo/fr.yml
  professors/bitbaldo/it.yml
  professors/bitbaldo/ja.yml
  professors/bitbaldo/professor.yml
  professors/bitbaldo/pt.yml
  professors/bitbaldo/vi.yml
Labels: content creation, content - professors

#537 London BTC seminar & Bali community
  resources/builders/bitcoin-house-bali/en.yml
  resources/conference/bitcoin-seminar-london-2024/assets/thumbnail.webp
  resources/conference/bitcoin-seminar-london-2024/events.yml
  resources/conference/pleblab-builderspace-2024/events.yml
  scripts/auto-event/generate_builderevent.py
Labels: content - resource, content creation

#538 Update fr.md
  courses/phi201/fr.md
Labels: content typo, content - course

#530 translation of the intro
  courses/btc101/ru.md
Labels: content proofreading, content - course, language - ru
