Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2024-09, with the labels that each got.

#620 Wrong category
  tutorials/mining/bitaxe/fr.md
  tutorials/mining/bitaxe/tutorial.yml
Labels: content - tutorial, content update

#647 New community and new event
  resources/builders/bitshala/builder.yml
  resources/builders/bitshala/en.yml
  resources/conference/normandie-bitcoin-day/assets/thumbnail.webp
  resources/conference/normandie-bitcoin-day/events.yml
Labels: content - resource, content creation

#653 HIS201: original quotes, translations, dashes, image captions
  courses/his201/en.md
  courses/his201/fr.md
Labels: content typo, content - course

#665 PoW Updated Data & New Event
  resources/builders/pow-lugano/assets/logo.webp
  resources/builders/pow-lugano/builder.yml
  resources/builders/pow-lugano/en.yml
  resources/builders/pow-lugano/es.yml
  resources/conference/sea-citadel/assets/thumbnail.webp
  resources/conference/sea-citadel/events.yml
Labels: content - resource, content creation, content update

#663 Resize images in his201
  courses/his201/assets/img/ch1/1.webp
  courses/his201/assets/img/ch1/2.webp
  courses/his201/assets/img/ch10/3.webp
  courses/his201/assets/img/ch13/10.webp
  courses/his201/assets/img/ch13/11.webp
  courses/his201/assets/img/ch13/6.webp
  courses/his201/assets/img/ch13/7.webp
  courses/his201/assets/img/ch13/8.webp
  courses/his201/assets/img/ch13/9.webp
  courses/his201/assets/img/ch2/3.webp
  courses/his201/assets/img/ch3/2.webp
  courses/his201/assets/img/ch3/6.webp
  courses/his201/assets/img/ch5/2.webp
  courses/his201/assets/img/ch6/3.webp
  courses/his201/assets/img/ch8/2.webp
  courses/his201/en.md
  courses/his201/fr.md
Labels: content - course, content update

#678 Get proofreading reward
  scripts/proofreading-metadata/evaluate_proofreading_reward.py
Labels: scripts

#651 Some small modifications on BTC204
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/fi.md
  courses/btc204/fr.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/vi.md
Labels: content typo, content - course

#664 BTC204 - Remove section 6 in the introduction
  courses/btc204/assets/cs/11/5.webp
  courses/btc204/assets/de/11/5.webp
  courses/btc204/assets/en/11/5.webp
  courses/btc204/assets/es/11/5.webp
  courses/btc204/assets/fi/11/5.webp
  courses/btc204/assets/fr/11/5.webp
  courses/btc204/assets/it/11/5.webp
  courses/btc204/assets/ja/11/5.webp
  courses/btc204/assets/notext/11/5.webp
  courses/btc204/assets/notext/11/7.webp
  courses/btc204/assets/pt/11/5.webp
  courses/btc204/assets/ru/11/5.webp
  courses/btc204/assets/vi/11/5.webp
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/fi.md
  courses/btc204/fr.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/vi.md
Labels: content - course, content update

#633 1st proofreading of btc102 in vi
  courses/btc102/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#662 IT Proofreading Tutorial > Privacy
  tutorials/privacy/boltzmann-entropy/it.md
  tutorials/privacy/coinjoin-dojo/it.md
  tutorials/privacy/coinjoin-samourai-wallet/it.md
  tutorials/privacy/coinjoin-sparrow-wallet/en.md
  tutorials/privacy/coinjoin-sparrow-wallet/it.md
  tutorials/privacy/joinbot/it.md
  tutorials/privacy/oxt-analysis/it.md
  tutorials/privacy/payjoin-samourai-wallet/it.md
  tutorials/privacy/payjoin/it.md
Labels: content proofreading, language - it, content - tutorial

#698 BTC401 (Spanish): Translation and review of BTC401
  courses/btc401/es.md
Labels: content proofreading, language - es, content - course

#677 Addition of Villaggio Bitcoin book, translation of Pueblo Bitcoin
  resources/books/pueblo-bitcoin/assets/cover_it.webp
  resources/books/pueblo-bitcoin/it.yml
Labels: language - it, content - resource

#699 Fix typos in eco204-fr and cyp201-fr, improve translation in his201
  courses/cyp201/fr.md
  courses/eco204/fr.md
  courses/his201/fr.md
Labels: content typo, language - fr, content - course

#700 BTC204 - Duplicate paragraph corrected
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/fi.md
  courses/btc204/fr.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/pt.md
  courses/btc204/ru.md
Labels: content typo, content - course

#789 New International events
  events/bitcoin-dans-mon-patrimone/assets/thumbnail.webp
  events/bitcoin-dans-mon-patrimone/event.yml
  events/india-bitcoin-conf-2024/assets/thumbnail.webp
  events/india-bitcoin-conf-2024/event.yml
  events/planb-forum-elsalvador-2025/assets/thumbnail.webp
  events/planb-forum-elsalvador-2025/event.yml
  events/pleblap-mexico-2024/assets/thumbnail.webp
  events/pleblap-mexico-2024/event.yml
Labels: content typo, content - resource, content creation, content update

#766 Proofreading [ITA] : II part tutorial > privacy
  tutorials/privacy/paynym-bip47/it.md
  tutorials/privacy/remix-whirlpool/it.md
  tutorials/privacy/ricochet/it.md
  tutorials/privacy/stonewall-x2/it.md
  tutorials/privacy/stonewall/it.md
  tutorials/privacy/utxo-labelling/it.md
  tutorials/privacy/wst-anonsets/it.md
Labels: content proofreading, language - it, content - tutorial, reward pending

#604 BTC 305 Proofread (Chinese)
  courses/btc305/zh-Hans.md
Labels: content proofreading, content - course, language - zh-Hans, reward pending

#676 Proofreading - btc204 - vi
  courses/btc204/vi.md
  courses/eco104/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#701 Proofreading - BTC305 - vi
  courses/btc305/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#697 Proofreading - eco104 - vi
  courses/eco104/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#739 Proofreading - Tutorials - wallet - blixt - vi
  tutorials/wallet/blixt/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#741 Proofreading - tutorial - wallet - muun - vi
  tutorials/wallet/muum/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#750 Proofreading - btc302 - vi
  courses/btc302/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#758 Proofreading - wallet - bluewallet - vi
  tutorials/wallet/blue-wallet/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#759 Proofreading - wallet - samourai wallet - recovery - vi
  tutorials/wallet/samourai-recover/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#760 Proofreading - node - ronindojov2 - vi
  tutorials/node/ronin-dojo-v2/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#763 Proofreading - wallet-blink-vi
  tutorials/wallet/blink/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#764 Proofreading - wallet-breez-vi
  tutorials/wallet/breez/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#765 Proofreading - wallet-greenwallet-vi
  tutorials/wallet/green-wallet/vi.md
Labels: content proofreading, language - vi, content - tutorial, reward pending

#737 Proofreading - eco204 - vi
  courses/eco204/vi.md
Labels: content proofreading, language - vi, content - course, reward pending

#643 BTC 302 Proofreading (Simplified Chinese)
  courses/btc302/zh-Hans.md
Labels: content proofreading, content - course, language - zh-Hans, reward pending

#757 BTC204 LaTeX block correction
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/es.md
  courses/btc204/fr.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/vi.md
Labels: content typo, content - course

#674 Add proposed 50 PBN tags
  docs/50-planb-tags.md
Labels: documentation, in progress

#747 Create hours.py
  scripts/course-related/hours.py
Labels: scripts

#803 Tuto Satochip
  tutorials/wallet/satochip/assets/cover.webp
  tutorials/wallet/satochip/assets/logo.webp
  tutorials/wallet/satochip/assets/notext/01.webp
  tutorials/wallet/satochip/assets/notext/02.webp
  tutorials/wallet/satochip/assets/notext/03.webp
  tutorials/wallet/satochip/assets/notext/04.webp
  tutorials/wallet/satochip/assets/notext/05.webp
  tutorials/wallet/satochip/assets/notext/06.webp
  tutorials/wallet/satochip/assets/notext/07.webp
  tutorials/wallet/satochip/assets/notext/08.webp
  tutorials/wallet/satochip/assets/notext/09.webp
  tutorials/wallet/satochip/assets/notext/10.webp
  tutorials/wallet/satochip/assets/notext/11.webp
  tutorials/wallet/satochip/assets/notext/12.webp
  tutorials/wallet/satochip/assets/notext/13.webp
  tutorials/wallet/satochip/assets/notext/14.webp
  tutorials/wallet/satochip/assets/notext/15.webp
  tutorials/wallet/satochip/assets/notext/16.webp
  tutorials/wallet/satochip/assets/notext/17.webp
  tutorials/wallet/satochip/assets/notext/18.webp
  tutorials/wallet/satochip/assets/notext/19.webp
  tutorials/wallet/satochip/assets/notext/20.webp
  tutorials/wallet/satochip/assets/notext/21.webp
  tutorials/wallet/satochip/assets/notext/22.webp
  tutorials/wallet/satochip/assets/notext/23.webp
  tutorials/wallet/satochip/assets/notext/24.webp
  tutorials/wallet/satochip/assets/notext/25.webp
  tutorials/wallet/satochip/assets/notext/26.webp
  tutorials/wallet/satochip/assets/notext/27.webp
  tutorials/wallet/satochip/assets/notext/28.webp
  tutorials/wallet/satochip/assets/notext/29.webp
  tutorials/wallet/satochip/assets/notext/30.webp
  tutorials/wallet/satochip/assets/notext/31.webp
  tutorials/wallet/satochip/assets/notext/32.webp
  tutorials/wallet/satochip/assets/notext/33.webp
  tutorials/wallet/satochip/assets/notext/34.webp
  tutorials/wallet/satochip/assets/notext/35.webp
  tutorials/wallet/satochip/assets/notext/36.webp
  tutorials/wallet/satochip/assets/notext/37.webp
  tutorials/wallet/satochip/assets/notext/38.webp
  tutorials/wallet/satochip/assets/notext/39.webp
  tutorials/wallet/satochip/assets/notext/40.webp
  tutorials/wallet/satochip/fr.md
  tutorials/wallet/satochip/tutorial.yml
Labels: content - tutorial, content creation
