Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-01, with the labels that each got.

#1376 [RESOURCE] Add Builders, Fix Conferences
  resources/builders/21-million-events/assets/logo.webp
  resources/builders/21-million-events/builder.yml
  resources/builders/21-million-events/en.yml
  resources/builders/africa-bitcoin-conference/assets/logo.webp
  resources/builders/africa-bitcoin-conference/builder.yml
  resources/builders/africa-bitcoin-conference/en.yml
  resources/builders/bitcoin++/builder.yml
  resources/builders/bitcoin-for-india/assets/logo.webp
  resources/builders/bitcoin-for-india/builder.yml
  resources/builders/bitcoin-for-india/en.yml
  resources/builders/bitcoin-senegal/assets/logo.webp
  resources/builders/bitcoin-senegal/builder.yml
  resources/builders/bitcoin-senegal/fr.yml
  resources/builders/bitpolito/builder.yml
  resources/builders/bitvavo/assets/logo.webp
  resources/builders/bitvavo/builder.yml
  resources/builders/bitvavo/en.yml
  resources/builders/btc-tlv/en.yml
  resources/builders/fiwent/assets/logo.webp
  resources/builders/fiwent/builder.yml
  resources/builders/fiwent/de.yml
  resources/builders/israeli-bitcoin-association/assets/logo.webp
  resources/builders/israeli-bitcoin-association/builder.yml
  resources/builders/israeli-bitcoin-association/en.yml
  resources/builders/lnp2pbot/builder.yml
  resources/builders/mining-disrupt/assets/logo.webp
  resources/builders/mining-disrupt/builder.yml
  resources/builders/mining-disrupt/en.yml
  resources/builders/phneep/builder.yml
  resources/builders/thailand-bitcoin-conference/assets/logo.webp
  resources/builders/thailand-bitcoin-conference/builder.yml
  resources/builders/thailand-bitcoin-conference/en.yml
  resources/builders/the-canadian-bitcoin-conference/assets/logo.webp
  resources/builders/the-canadian-bitcoin-conference/builder.yml
  resources/builders/the-canadian-bitcoin-conference/en.yml
  resources/builders/watch-out-bitcoin/assets/logo.web
  resources/builders/watch-out-bitcoin/builder.yml
  resources/builders/watch-out-bitcoin/es.yml
  resources/conferences/africa-bitcoin-conference-2022/conference.yml
  resources/conferences/africa-bitcoin-conference-2023/conference.yml
  resources/conferences/bitcare-forum-2023/conference.yml
  resources/conferences/bitcoin-alive-2023/conference.yml
  resources/conferences/bitcoin-tlv-2014/conference.yml
  resources/conferences/bitcoin-tlv-2015/conference.yml
  resources/conferences/bitcoin4india-2023/conference.yml
  resources/conferences/canadian-bitcoin-conference/conference.yml
  resources/conferences/dakar-bitcoin-day-2022/conference.yml
  resources/conferences/dakar-bitcoin-day-2023/conference.yml
  resources/conferences/future-bitcoin-conference-2024/conference.yml
  resources/conferences/mining-disrupt-2024/conference.yml
  resources/conferences/surfing-bitcoin-2024/conference.yml
  resources/conferences/swiss-bitcoin-conference-2024/conference.yml
  resources/conferences/watch-out-2022/conference.yml
  resources/conferences/watch-out-2023/conference.yml
  tutorials/exchange/lnp2pbot-v2/tutorial.yml
Labels: content typo, content - resource, content creation

#1356 [TESTNET] Liquid Courses drafts
  courses/sid202/assets/thumbnail.webp
  courses/sid202/course.yml
  courses/sid202/en.md
  courses/sid302/assets/thumbnail.webp
  courses/sid302/course.yml
  courses/sid302/en.md
  professors/pablo-greco/assets/profile.webp
  professors/pablo-greco/en.yml
  professors/pablo-greco/professor.yml
  professors/prochronist/assets/profile.webp
  professors/prochronist/en.yml
  professors/prochronist/professor.yml
Labels: content - course, content creation

#756 Norwegian bokmål initial upload
  courses/btc101/nb-NO.md
Labels: content proofreading, content - course, language - nb-no

#851 Fix heading in uk.md
  courses/btc101/uk.md
Labels: content proofreading, content - course, language - uk

#890 btc204 - es proofreading
  courses/btc204/es.md
Labels: content proofreading, language - es, content - course

#907 Romanian initial upload
  courses/btc101/ro.md
  courses/btc102/ro.md
Labels: content proofreading, content - course, language - ro

#894 [RESOURCE] Add-professor-alevand-v1
  professors/alevand/assets/profile.webp
  professors/alevand/en.yml
  professors/alevand/it.yml
  professors/alevand/professor.yml
Labels: content - resource, content creation

#952 Polish translation and review
  courses/btc101/pl.md
Labels: content proofreading, language - pl, content - course

#925 MIN201 Proofreading (Chinese Simplified)
  courses/min201/zh-Hans.md
Labels: content proofreading, content - course, language - zh-Hans

#1009 Btc302 ru
  courses/btc302/ru.md
Labels: content proofreading, content - course, language - ru

#1022 Update ha.md
  courses/btc101/ha.md
Labels: content proofreading, content - course, language - ha

#1355 New script for word count and reward
  courses/btc101/en.md
  courses/btc101/fr.md
  scripts/proofreading-metadata/courses_tutorials_words_reward/readme.md
  scripts/proofreading-metadata/courses_tutorials_words_reward/word-count-reward-script.py
Labels: review required

#1366 Missing Bitcoin events
  events/bea-malta-2025/assets/thumbnail.webp
  events/bea-malta-2025/event.yml
  events/bea-turin-2025/assets/thumbnail.webp
  events/bea-turin-2025/event.yml
  events/bitcoin-asia-2025/assets/thumbnail.webp
  events/bitcoin-asia-2025/event.yml
  events/bitcoin-for-everyone-2025/assets/thumbnail.webp
  events/bitcoin-for-everyone-2025/event.yml
  events/cape-town-bootcamp-2025/assets/thumbnail.webp
  events/cape-town-bootcamp-2025/event.yml
  events/microstrategy-2025/assets/thumbnail.webp
  events/microstrategy-2025/event.yml
  events/planb-forum-elsalvador-2025/event.yml
  events/satsconf-2025/assets/thumbnail.webp
  events/satsconf-2025/event.yml
  events/trezor-academy-merida-s1-2025/assets/thumbnail.webp
  events/trezor-academy-merida-s1-2025/event.yml
  events/trezor-academy-merida-s2-2025/assets/thumbnail.webp
  events/trezor-academy-merida-s2-2025/event.yml
  resources/builders/bitcoin-chiang-mai/assets/logo.webp
  resources/builders/bitcoin-chiang-mai/builder.yml
  resources/builders/bitcoin-chiang-mai/en.yml
Labels: content creation, content - event

#1392 [TUTORIAL] New Peach Tutorial
  tutorials/exchange/peach-v2/assets/cover.webp
  tutorials/exchange/peach-v2/assets/fr/01.webp
  tutorials/exchange/peach-v2/assets/fr/02.webp
  tutorials/exchange/peach-v2/assets/fr/03.webp
  tutorials/exchange/peach-v2/assets/fr/04.webp
  tutorials/exchange/peach-v2/assets/fr/05.webp
  tutorials/exchange/peach-v2/assets/fr/06.webp
  tutorials/exchange/peach-v2/assets/fr/07.webp
  tutorials/exchange/peach-v2/assets/fr/08.webp
  tutorials/exchange/peach-v2/assets/fr/09.webp
  tutorials/exchange/peach-v2/assets/fr/10.webp
  tutorials/exchange/peach-v2/assets/fr/11.webp
  tutorials/exchange/peach-v2/assets/fr/12.webp
  tutorials/exchange/peach-v2/assets/fr/13.webp
  tutorials/exchange/peach-v2/fr.md
  tutorials/exchange/peach-v2/tutorial.yml
Labels: content - tutorial, content creation

#1425 [DOCUMENTATION] Add 51st tag
  docs/50-planb-tags.md
Labels: documentation

#1427 [EVENT] Fix urgent typo
  events/watch-out-bitcoin-2025/event.yml
Labels: content typo, language - es, content - event
