Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-10, with the labels that each got.

#3262 [PROOFREADING] ECO204 - English
  courses/eco204/en.md
Labels: content proofreading, language - en, content - course

#3383 [PROOFREADING] SID302 - English
  courses/sid302/en.md
Labels: content proofreading, language - en, content - course

#3415 [PROOFREADING] btc302 - FR
  courses/btc302/fr.md
Labels: language - fr, content - course, Second proofreading

#3433 [QUIZZ PROOFREADING] LNP201 - SRLatin
  courses/lnp201/quizz/000/sr-Latn.yml
  courses/lnp201/quizz/001/sr-Latn.yml
  courses/lnp201/quizz/002/sr-Latn.yml
  courses/lnp201/quizz/003/sr-Latn.yml
  courses/lnp201/quizz/004/sr-Latn.yml
  courses/lnp201/quizz/005/sr-Latn.yml
  courses/lnp201/quizz/006/sr-Latn.yml
  courses/lnp201/quizz/007/sr-Latn.yml
  courses/lnp201/quizz/008/sr-Latn.yml
  courses/lnp201/quizz/009/sr-Latn.yml
  courses/lnp201/quizz/010/sr-Latn.yml
  courses/lnp201/quizz/011/sr-Latn.yml
  courses/lnp201/quizz/012/sr-Latn.yml
  courses/lnp201/quizz/013/sr-Latn.yml
  courses/lnp201/quizz/014/sr-Latn.yml
  courses/lnp201/quizz/015/sr-Latn.yml
  courses/lnp201/quizz/016/sr-Latn.yml
  courses/lnp201/quizz/017/sr-Latn.yml
  courses/lnp201/quizz/018/sr-Latn.yml
  courses/lnp201/quizz/019/sr-Latn.yml
  courses/lnp201/quizz/020/sr-Latn.yml
  courses/lnp201/quizz/021/sr-Latn.yml
  courses/lnp201/quizz/022/sr-Latn.yml
  courses/lnp201/quizz/023/sr-Latn.yml
  courses/lnp201/quizz/024/sr-Latn.yml
  courses/lnp201/quizz/025/sr-Latn.yml
  courses/lnp201/quizz/026/sr-Latn.yml
  courses/lnp201/quizz/027/sr-Latn.yml
  courses/lnp201/quizz/028/sr-Latn.yml
  courses/lnp201/quizz/029/sr-Latn.yml
  courses/lnp201/quizz/030/sr-Latn.yml
  courses/lnp201/quizz/031/sr-Latn.yml
  courses/lnp201/quizz/032/sr-Latn.yml
  courses/lnp201/quizz/033/sr-Latn.yml
  courses/lnp201/quizz/034/sr-Latn.yml
  courses/lnp201/quizz/035/sr-Latn.yml
  courses/lnp201/quizz/036/sr-Latn.yml
  courses/lnp201/quizz/037/sr-Latn.yml
  courses/lnp201/quizz/038/sr-Latn.yml
  courses/lnp201/quizz/039/sr-Latn.yml
  courses/lnp201/quizz/040/sr-Latn.yml
  courses/lnp201/quizz/041/sr-Latn.yml
  courses/lnp201/quizz/042/sr-Latn.yml
  courses/lnp201/quizz/043/sr-Latn.yml
  courses/lnp201/quizz/044/sr-Latn.yml
  courses/lnp201/quizz/045/sr-Latn.yml
  courses/lnp201/quizz/046/sr-Latn.yml
  courses/lnp201/quizz/047/sr-Latn.yml
  courses/lnp201/quizz/048/sr-Latn.yml
  courses/lnp201/quizz/049/sr-Latn.yml
  courses/lnp201/quizz/050/sr-Latn.yml
  courses/lnp201/quizz/051/sr-Latn.yml
  courses/lnp201/quizz/052/sr-Latn.yml
  courses/lnp201/quizz/053/sr-Latn.yml
  courses/lnp201/quizz/054/sr-Latn.yml
Labels: content proofreading, content - quiz, language - sr-Latn

#3287 [PROOFREDING] SCU202 - French
  courses/scu202/quizz/041/fr.yml
  courses/scu202/quizz/082/fr.yml
  courses/scu202/quizz/098/fr.yml
Labels: language - fr, Second proofreading, content - quiz

#3471 [TUTORIAL] Add Seedkeeper
  tutorials/wallet/seedkeeper/assets/cover.webp
  tutorials/wallet/seedkeeper/assets/fr/001.webp
  tutorials/wallet/seedkeeper/assets/fr/002.webp
  tutorials/wallet/seedkeeper/assets/fr/003.webp
  tutorials/wallet/seedkeeper/assets/fr/004.webp
  tutorials/wallet/seedkeeper/assets/fr/005.webp
  tutorials/wallet/seedkeeper/assets/fr/006.webp
  tutorials/wallet/seedkeeper/assets/fr/007.webp
  tutorials/wallet/seedkeeper/assets/fr/008.webp
  tutorials/wallet/seedkeeper/assets/fr/009.webp
  tutorials/wallet/seedkeeper/assets/fr/010.webp
  tutorials/wallet/seedkeeper/assets/fr/011.webp
  tutorials/wallet/seedkeeper/assets/fr/012.webp
  tutorials/wallet/seedkeeper/assets/fr/013.webp
  tutorials/wallet/seedkeeper/assets/fr/014.webp
  tutorials/wallet/seedkeeper/assets/fr/015.webp
  tutorials/wallet/seedkeeper/assets/fr/016.webp
  tutorials/wallet/seedkeeper/assets/fr/017.webp
  tutorials/wallet/seedkeeper/assets/fr/018.webp
  tutorials/wallet/seedkeeper/assets/fr/019.webp
  tutorials/wallet/seedkeeper/assets/fr/020.webp
  tutorials/wallet/seedkeeper/assets/fr/021.webp
  tutorials/wallet/seedkeeper/assets/fr/022.webp
  tutorials/wallet/seedkeeper/assets/fr/023.webp
  tutorials/wallet/seedkeeper/assets/fr/024.webp
  tutorials/wallet/seedkeeper/assets/fr/025.webp
  tutorials/wallet/seedkeeper/assets/fr/026.webp
  tutorials/wallet/seedkeeper/assets/fr/027.webp
  tutorials/wallet/seedkeeper/assets/fr/028.webp
  tutorials/wallet/seedkeeper/assets/fr/029.webp
  tutorials/wallet/seedkeeper/assets/fr/030.webp
  tutorials/wallet/seedkeeper/assets/fr/031.webp
  tutorials/wallet/seedkeeper/fr.md
  tutorials/wallet/seedkeeper/tutorial.yml
Labels: content - tutorial, content creation

#3472 [TUTORIAL] Add Seedkeeper Password Manager
  tutorials/computer-security/seedkeeper-password/assets/cover.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/001.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/002.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/003.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/004.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/005.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/006.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/007.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/008.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/009.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/010.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/011.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/012.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/013.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/014.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/015.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/016.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/017.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/018.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/019.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/020.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/021.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/022.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/023.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/024.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/025.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/026.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/027.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/028.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/029.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/030.webp
  tutorials/computer-security/seedkeeper-password/assets/fr/031.webp
  tutorials/computer-security/seedkeeper-password/fr.md
  tutorials/computer-security/seedkeeper-password/tutorial.yml
  tutorials/wallet/seedkeeper/fr.md
Labels: content - tutorial, content creation

#3462 update peertube videos btc102
  courses/btc102/course.yml
Labels: content - course, content update

#3247 [PROOFREADING] Eco104 quizz - English
  courses/eco104/quizz/000/en.yml
  courses/eco104/quizz/001/en.yml
  courses/eco104/quizz/002/en.yml
  courses/eco104/quizz/006/en.yml
  courses/eco104/quizz/009/en.yml
  courses/eco104/quizz/011/en.yml
  courses/eco104/quizz/013/en.yml
  courses/eco104/quizz/015/en.yml
  courses/eco104/quizz/017/en.yml
  courses/eco104/quizz/018/en.yml
  courses/eco104/quizz/024/en.yml
  courses/eco104/quizz/025/en.yml
  courses/eco104/quizz/026/en.yml
  courses/eco104/quizz/028/en.yml
Labels: content proofreading, language - en, content - quiz

#3025 [PROOFREADING] SCU202 - Indonesian
  courses/scu202/id.md
Labels: content proofreading, content - course, language - id

#3290 [PROOFREADING] SCU101 - Korean
  courses/scu101/ko.md
Labels: content proofreading, content - course, language - ko

#3480 [PROOFREADING-METADATA] Updating korean reward
  scripts/proofreading-metadata/supported_languages.yml
Labels: proofreading metadata update

#3306 [PROOFREADING] tutorial/business section - Swahili
  tutorials/business/bitfinex-pro/sw.md
  tutorials/business/breez-pos/sw.md
  tutorials/business/btc-map/sw.md
  tutorials/business/btcpay-server/sw.md
  tutorials/business/btcpay-usdt-plugin/sw.md
  tutorials/business/kraken-pro/sw.md
  tutorials/business/open-node/sw.md
  tutorials/business/speed-business/sw.md
  tutorials/business/swiss-bitcoin-pay-2/sw.md
  tutorials/business/wallet-of-satoshi-pos/sw.md
Labels: content proofreading, content - tutorial, language - sw

#2861 [PROOFREADING] HIS201 only quizzes - Italian
  courses/his201/quizz/001/it.yml
  courses/his201/quizz/002/it.yml
  courses/his201/quizz/004/it.yml
  courses/his201/quizz/007/it.yml
  courses/his201/quizz/013/it.yml
  courses/his201/quizz/016/it.yml
  courses/his201/quizz/017/it.yml
  courses/his201/quizz/018/it.yml
  courses/his201/quizz/019/it.yml
  courses/his201/quizz/022/it.yml
  courses/his201/quizz/023/it.yml
  courses/his201/quizz/024/it.yml
  courses/his201/quizz/025/it.yml
  courses/his201/quizz/026/it.yml
  courses/his201/quizz/028/it.yml
  courses/his201/quizz/031/it.yml
  courses/his201/quizz/033/it.yml
  courses/his201/quizz/037/it.yml
  courses/his201/quizz/038/it.yml
  courses/his201/quizz/039/it.yml
  courses/his201/quizz/042/it.yml
  courses/his201/quizz/044/it.yml
  courses/his201/quizz/045/it.yml
  courses/his201/quizz/049/it.yml
  courses/his201/quizz/052/it.yml
  courses/his201/quizz/053/it.yml
  courses/his201/quizz/054/it.yml
  courses/his201/quizz/055/it.yml
  courses/his201/quizz/057/it.yml
  courses/his201/quizz/058/it.yml
  courses/his201/quizz/060/it.yml
  courses/his201/quizz/061/it.yml
  courses/his201/quizz/062/it.yml
  courses/his201/quizz/064/it.yml
  courses/his201/quizz/069/it.yml
  courses/his201/quizz/071/it.yml
  courses/his201/quizz/075/it.yml
  courses/his201/quizz/076/it.yml
  courses/his201/quizz/078/it.yml
  courses/his201/quizz/079/it.yml
  courses/his201/quizz/080/it.yml
  courses/his201/quizz/081/it.yml
  courses/his201/quizz/083/it.yml
Labels: content proofreading, language - it, content - quiz

#3354 [PROOFREADING] SID202 - English
  courses/sid202/en.md
Labels: language - en, content - course, Second proofreading

#3430 [PROOFREADING] DEV103 - French
  courses/dev103/fr.md
Labels: language - fr, content - course, Second proofreading

#3477 [PROOFREADING] HIS201 - Traditional Chinese
  courses/his201/zh-Hant.md
Labels: content proofreading, content - course, language - zh-Hant

#2976 [PROOFREADING] ECO201 - Italian
  courses/eco102/it.md
Labels: content proofreading, language - it, content - course

#2784 [PROOFREADING] HIS201 - Italian
  courses/his201/it.md
Labels: language - it, content - course, Second proofreading

#3396 [PROOFREADING] BTC401 - Swahili
  courses/btc401/sw.md
Labels: content - course, Second proofreading, language - sw

#3492 [TUTORIAL] Add Rumble Wallet
  resources/projects/rumble/assets/logo.webp
  resources/projects/rumble/en.yml
  resources/projects/rumble/fr.yml
  resources/projects/rumble/project.yml
  tutorials/wallet/rumble-wallet/assets/cover.webp
  tutorials/wallet/rumble-wallet/assets/fr/01.webp
  tutorials/wallet/rumble-wallet/assets/fr/02.webp
  tutorials/wallet/rumble-wallet/assets/fr/03.webp
  tutorials/wallet/rumble-wallet/assets/fr/04.webp
  tutorials/wallet/rumble-wallet/assets/fr/05.webp
  tutorials/wallet/rumble-wallet/assets/fr/06.webp
  tutorials/wallet/rumble-wallet/assets/fr/07.webp
  tutorials/wallet/rumble-wallet/assets/fr/08.webp
  tutorials/wallet/rumble-wallet/assets/fr/09.webp
  tutorials/wallet/rumble-wallet/assets/fr/10.webp
  tutorials/wallet/rumble-wallet/assets/fr/11.webp
  tutorials/wallet/rumble-wallet/assets/fr/12.webp
  tutorials/wallet/rumble-wallet/assets/fr/13.webp
  tutorials/wallet/rumble-wallet/assets/fr/14.webp
  tutorials/wallet/rumble-wallet/assets/fr/15.webp
  tutorials/wallet/rumble-wallet/assets/fr/16.webp
  tutorials/wallet/rumble-wallet/assets/fr/17.webp
  tutorials/wallet/rumble-wallet/assets/fr/18.webp
  tutorials/wallet/rumble-wallet/assets/fr/19.webp
  tutorials/wallet/rumble-wallet/assets/fr/20.webp
  tutorials/wallet/rumble-wallet/assets/fr/21.webp
  tutorials/wallet/rumble-wallet/assets/fr/22.webp
  tutorials/wallet/rumble-wallet/assets/fr/23.webp
  tutorials/wallet/rumble-wallet/assets/fr/24.webp
  tutorials/wallet/rumble-wallet/assets/fr/25.webp
  tutorials/wallet/rumble-wallet/assets/fr/26.webp
  tutorials/wallet/rumble-wallet/assets/fr/27.webp
  tutorials/wallet/rumble-wallet/assets/fr/28.webp
  tutorials/wallet/rumble-wallet/assets/fr/29.webp
  tutorials/wallet/rumble-wallet/assets/fr/30.webp
  tutorials/wallet/rumble-wallet/assets/fr/31.webp
  tutorials/wallet/rumble-wallet/assets/fr/32.webp
  tutorials/wallet/rumble-wallet/assets/fr/33.webp
  tutorials/wallet/rumble-wallet/assets/fr/34.webp
  tutorials/wallet/rumble-wallet/assets/fr/35.webp
  tutorials/wallet/rumble-wallet/assets/fr/36.webp
  tutorials/wallet/rumble-wallet/assets/fr/37.webp
  tutorials/wallet/rumble-wallet/assets/fr/38.webp
  tutorials/wallet/rumble-wallet/assets/fr/39.webp
  tutorials/wallet/rumble-wallet/assets/fr/40.webp
  tutorials/wallet/rumble-wallet/assets/fr/41.webp
  tutorials/wallet/rumble-wallet/assets/fr/42.webp
  tutorials/wallet/rumble-wallet/assets/fr/43.webp
  tutorials/wallet/rumble-wallet/assets/fr/44.webp
  tutorials/wallet/rumble-wallet/assets/fr/45.webp
  tutorials/wallet/rumble-wallet/assets/fr/46.webp
  tutorials/wallet/rumble-wallet/assets/fr/47.webp
  tutorials/wallet/rumble-wallet/assets/logo.webp
  tutorials/wallet/rumble-wallet/en.md
  tutorials/wallet/rumble-wallet/fr.md
  tutorials/wallet/rumble-wallet/tutorial.yml
Labels: content - tutorial, content creation

#3446 [TUTORIAL] Add Cake Wallet
  resources/projects/cake-wallet/assets/logo.webp
  tutorials/wallet/cake-wallet/assets/cover.webp
  tutorials/wallet/cake-wallet/assets/en/01.webp
  tutorials/wallet/cake-wallet/assets/en/02.webp
  tutorials/wallet/cake-wallet/assets/en/03.webp
  tutorials/wallet/cake-wallet/assets/en/04.webp
  tutorials/wallet/cake-wallet/assets/en/05.webp
  tutorials/wallet/cake-wallet/assets/en/06.webp
  tutorials/wallet/cake-wallet/assets/en/07.webp
  tutorials/wallet/cake-wallet/assets/en/08.webp
  tutorials/wallet/cake-wallet/assets/en/09.webp
  tutorials/wallet/cake-wallet/assets/en/10.webp
  tutorials/wallet/cake-wallet/assets/en/11.webp
  tutorials/wallet/cake-wallet/assets/en/12.webp
  tutorials/wallet/cake-wallet/assets/en/13.webp
  tutorials/wallet/cake-wallet/assets/en/14.webp
  tutorials/wallet/cake-wallet/assets/en/15.webp
  tutorials/wallet/cake-wallet/assets/en/16.webp
  tutorials/wallet/cake-wallet/assets/en/17.webp
  tutorials/wallet/cake-wallet/en.md
  tutorials/wallet/cake-wallet/tutorial.yml
Labels: content - tutorial, content creation

#3489 [RESOURCES] bitcoin++ conference replays
  resources/conferences/bitcoin++-lightning-2025/assets/thumbnail.webp
  resources/conferences/bitcoin++-lightning-2025/conference.yml
  resources/conferences/bitcoin++-lightning-2025/en.md
  resources/conferences/bitcoin++-scaling-bitcoin-2025/assets/thumbnail.webp
  resources/conferences/bitcoin++-scaling-bitcoin-2025/conference.yml
  resources/conferences/bitcoin++-scaling-bitcoin-2025/en.md
Labels: content - resource, merge-ready
