Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-04, with the labels that each got.

#1708 Btc 101 Swahili proofreading Spellings, grammatical errors, omission of words, sentence corrections
  courses/btc101/sw.md
Labels: content proofreading, content - course, language - sw

#1568 Relai-IT-proofreading
  courses/sid302/it.md
  tutorials/exchange/relai-v2/it.md
Labels: content proofreading, language - it, content - tutorial, reward pending

#1567 [TUTORIAL] RLN Proofreading (Simplified Chinese)
  tutorials/node/rln/zh-Hans.md
Labels: content proofreading, content - tutorial, language - zh-Hans

#1589 [TRANSLATION] Course BTC101 - zh-hant
  courses/btc101/zh-hant.md
Labels: content proofreading, content - course, reward pending, language - zh-Hant

#1584 BTC101-proofreading-IT it.md
  courses/btc101/it.md
Labels: language - it, content - course, reward pending, Second proofreading

#1680 [TRANSLATION] cyp201 - en
  courses/cyp201/en.md
Labels: content proofreading, language - en, content - course

#1645 Btc101 proofreading en.md
  courses/btc101/en.md
Labels: content typo, language - en, content - course, Second proofreading

#1658 Btc101 quizz proofreding IT
  courses/btc101/it.md
Labels: content proofreading, language - it, content - quiz

#1783 [RESOURCE] Fix Newsletters tags
  resources/newsletters/alby-buzz/newsletter.yml
  resources/newsletters/bitcoin-core-releases/newsletter.yml
  resources/newsletters/bitcoin-core-security/newsletter.yml
  resources/newsletters/bitcoin-optech/newsletter.yml
  resources/newsletters/bitcoin-talento-co/newsletter.yml
  resources/newsletters/bitcoin-tech-talk/newsletter.yml
  resources/newsletters/braiins-blog/newsletter.yml
  resources/newsletters/lightning-ventures/newsletter.yml
  resources/newsletters/linux-advisory-watch/newsletter.yml
  resources/newsletters/linux-security-week/newsletter.yml
  resources/newsletters/lyn-alden-investing-strategy/newsletter.yml
  resources/newsletters/the-bitcoin-manual/newsletter.yml
  resources/newsletters/unchained/newsletter.yml
Labels: content typo, content - resource

#1771 [RESOURCES]Bitcoin events coming soon
  events/bitcoin-indonesia-conference-2025/assets/thumbnail.webp
  events/bitcoin-indonesia-conference-2025/event.yml
  events/insurance-summit-2025/assets/thumbnail.webp
  events/insurance-summit-2025/event.yml
  events/labitcoinf-2025/assets/thumbnail.webp
  events/labitcoinf-2025/event.yml
  events/treasure-summit-2025/event.yml
  resources/projects/bitcoin-grove/assets/logo.webp
  resources/projects/bitcoin-grove/en.yml
  resources/projects/bitcoin-grove/project.yml
Labels: content - resource, content - event

#1763 [DOCS] Update resource template
  docs/PBN-template-repo/resources/books/awesome-book/book.yml
  docs/PBN-template-repo/resources/books/awesome-book/en.yml
  docs/PBN-template-repo/resources/books/awesome-book/es.yml
  docs/PBN-template-repo/resources/books/awesome-book/fr.yml
  docs/PBN-template-repo/resources/builders/community-builder/en.yml
  docs/PBN-template-repo/resources/builders/community-builder/es.yml
  docs/PBN-template-repo/resources/builders/community-builder/fr.yml
  docs/PBN-template-repo/resources/builders/community-builder/project.yml
  docs/PBN-template-repo/resources/builders/non-community-builder/assets/logo.png
  docs/PBN-template-repo/resources/builders/non-community-builder/en.yml
  docs/PBN-template-repo/resources/builders/non-community-builder/es.yml
  docs/PBN-template-repo/resources/builders/non-community-builder/fr.yml
  docs/PBN-template-repo/resources/builders/non-community-builder/project.yml
  docs/PBN-template-repo/resources/channels/best-yt-channel-ever/channel.yml
  docs/PBN-template-repo/resources/conference/awesome-conference-replay/conference.yml
  docs/PBN-template-repo/resources/conference/awesome-event/assets/thumbnail.webp
  docs/PBN-template-repo/resources/conference/awesome-event/events.yml
  docs/PBN-template-repo/resources/conference/clean-conf/000-example/assets/thumbnail.webp
  docs/PBN-template-repo/resources/conference/clean-conf/000-example/conference.yml
  docs/PBN-template-repo/resources/conference/clean-conf/000-example/en.md
  docs/PBN-template-repo/resources/conferences/awesome-conference-replay-YYYY/assets/thumbnail.webp
  docs/PBN-template-repo/resources/conferences/awesome-conference-replay-YYYY/conference.yml
  docs/PBN-template-repo/resources/conferences/awesome-conference-replay-YYYY/en.md
  docs/PBN-template-repo/resources/conferences/conference-scheme.json
  docs/PBN-template-repo/resources/glossary/cool-word/word.yml
  docs/PBN-template-repo/resources/glossary/cool-word2/word.yml
  docs/PBN-template-repo/resources/movies/beautiful-documentary/assets/thumbnail.webp
  docs/PBN-template-repo/resources/movies/beautiful-documentary/movie.yml
  docs/PBN-template-repo/resources/newsletters/awesome-newsletter/assets/thumbnail.webp
  docs/PBN-template-repo/resources/newsletters/awesome-newsletter/newsletter.yml
  docs/PBN-template-repo/resources/podcasts/podcastname/podcast.yml
  docs/PBN-template-repo/resources/podcasts/podcastname2/podcast.yml
  docs/PBN-template-repo/resources/projects/community-builder-scheme.json
  docs/PBN-template-repo/resources/projects/community-project/assets/logo.webp
  docs/PBN-template-repo/resources/projects/community-project/en.yml
  docs/PBN-template-repo/resources/projects/community-project/fr.yml
  docs/PBN-template-repo/resources/projects/community-project/project.yml
  docs/PBN-template-repo/resources/projects/non-community-builder-content-scheme.json
  docs/PBN-template-repo/resources/projects/non-community-builder-scheme.json
  docs/PBN-template-repo/resources/projects/non-community-project/assets/logo.webp
  docs/PBN-template-repo/resources/projects/non-community-project/en.yml
  docs/PBN-template-repo/resources/projects/non-community-project/fr.yml
  docs/PBN-template-repo/resources/projects/non-community-project/project.yml
  resources/movies/cypherpunk-documentary/movie.yml
  resources/projects/btc-in-dc/en.yml
  resources/projects/btc-in-dc/hi.yml
  resources/projects/btc-in-dc/project.yml
Labels: documentation, content typo, content - resource, format update

#1836 [RESOURCE] Add Final Step ytchannel
  resources/channels/final-step-bitcoin/assets/thumbnail.webp
  resources/channels/final-step-bitcoin/channel.yml
Labels: language - it, content - resource, content creation

#1821 [TUTORIAL] Add Simple Login for Beginners
  tutorials/computer-security/simple-login/assets/cover.webp
  tutorials/computer-security/simple-login/assets/it/02.webp
  tutorials/computer-security/simple-login/assets/it/03.webp
  tutorials/computer-security/simple-login/assets/it/04.webp
  tutorials/computer-security/simple-login/assets/it/05.webp
  tutorials/computer-security/simple-login/assets/it/06.webp
  tutorials/computer-security/simple-login/assets/it/07.webp
  tutorials/computer-security/simple-login/assets/it/08.webp
  tutorials/computer-security/simple-login/assets/it/09.webp
  tutorials/computer-security/simple-login/assets/it/10.webp
  tutorials/computer-security/simple-login/assets/it/11.webp
  tutorials/computer-security/simple-login/assets/it/12.webp
  tutorials/computer-security/simple-login/assets/it/13.webp
  tutorials/computer-security/simple-login/assets/it/14.webp
  tutorials/computer-security/simple-login/assets/it/15.webp
  tutorials/computer-security/simple-login/assets/it/16.webp
  tutorials/computer-security/simple-login/assets/it/17.webp
  tutorials/computer-security/simple-login/assets/it/18.webp
  tutorials/computer-security/simple-login/assets/it/19.webp
  tutorials/computer-security/simple-login/assets/it/20.webp
  tutorials/computer-security/simple-login/assets/it/21.webp
  tutorials/computer-security/simple-login/assets/it/22.webp
  tutorials/computer-security/simple-login/assets/it/23.webp
  tutorials/computer-security/simple-login/assets/it/24.webp
  tutorials/computer-security/simple-login/assets/logo.webp
  tutorials/computer-security/simple-login/it.md
  tutorials/computer-security/simple-login/tutorial.yml
Labels: language - it, content - tutorial, content creation

#1788 [TUTORIAL] Add Telegram Account
  tutorials/computer-security/telegram-account/assets/cover.webp
  tutorials/computer-security/telegram-account/assets/en/01.webp
  tutorials/computer-security/telegram-account/assets/en/02.webp
  tutorials/computer-security/telegram-account/assets/en/03.webp
  tutorials/computer-security/telegram-account/assets/en/05.webp
  tutorials/computer-security/telegram-account/assets/en/06.webp
  tutorials/computer-security/telegram-account/assets/en/07.webp
  tutorials/computer-security/telegram-account/assets/en/08.webp
  tutorials/computer-security/telegram-account/assets/en/09.webp
  tutorials/computer-security/telegram-account/assets/en/12.webp
  tutorials/computer-security/telegram-account/assets/en/13.webp
  tutorials/computer-security/telegram-account/assets/en/14.webp
  tutorials/computer-security/telegram-account/assets/en/15.webp
  tutorials/computer-security/telegram-account/assets/en/16.webp
  tutorials/computer-security/telegram-account/assets/en/17.webp
  tutorials/computer-security/telegram-account/assets/en/18.webp
  tutorials/computer-security/telegram-account/assets/en/19.webp
  tutorials/computer-security/telegram-account/assets/en/20.webp
  tutorials/computer-security/telegram-account/assets/en/21.webp
  tutorials/computer-security/telegram-account/assets/en/22.webp
  tutorials/computer-security/telegram-account/assets/en/23.webp
  tutorials/computer-security/telegram-account/assets/en/24.webp
  tutorials/computer-security/telegram-account/assets/en/25.webp
  tutorials/computer-security/telegram-account/assets/en/26.webp
  tutorials/computer-security/telegram-account/assets/en/27.webp
  tutorials/computer-security/telegram-account/assets/en/28.webp
  tutorials/computer-security/telegram-account/assets/en/29.webp
  tutorials/computer-security/telegram-account/assets/en/30.webp
  tutorials/computer-security/telegram-account/assets/en/31.webp
  tutorials/computer-security/telegram-account/assets/en/32.webp
  tutorials/computer-security/telegram-account/assets/en/33.webp
  tutorials/computer-security/telegram-account/assets/en/34.webp
  tutorials/computer-security/telegram-account/assets/en/35.webp
  tutorials/computer-security/telegram-account/assets/en/36.webp
  tutorials/computer-security/telegram-account/assets/en/37.webp
  tutorials/computer-security/telegram-account/assets/en/38.webp
  tutorials/computer-security/telegram-account/assets/en/40.webp
  tutorials/computer-security/telegram-account/assets/en/41.webp
  tutorials/computer-security/telegram-account/assets/en/42.webp
  tutorials/computer-security/telegram-account/assets/en/43.webp
  tutorials/computer-security/telegram-account/assets/en/44.webp
  tutorials/computer-security/telegram-account/assets/en/45.webp
  tutorials/computer-security/telegram-account/assets/en/46.webp
  tutorials/computer-security/telegram-account/assets/en/47.webp
  tutorials/computer-security/telegram-account/assets/en/48.webp
  tutorials/computer-security/telegram-account/assets/logo.webp
  tutorials/computer-security/telegram-account/it.md
  tutorials/computer-security/telegram-account/tutorial.yml
Labels: language - it, content - tutorial, content creation

#1792 [TUTORIAL] Fix Nakamochi, Elysium
  tutorials/node/nakamochi/assets/en/01.webp
  tutorials/node/nakamochi/assets/en/02.webp
  tutorials/node/nakamochi/assets/en/03.webp
  tutorials/node/nakamochi/assets/en/04.webp
  tutorials/node/nakamochi/assets/en/05.webp
  tutorials/node/nakamochi/assets/en/06.webp
  tutorials/node/nakamochi/assets/en/07.webp
  tutorials/node/nakamochi/cs.md
  tutorials/node/nakamochi/de.md
  tutorials/node/nakamochi/en.md
  tutorials/node/nakamochi/es.md
  tutorials/node/nakamochi/et.md
  tutorials/node/nakamochi/fi.md
  tutorials/node/nakamochi/fr.md
  tutorials/node/nakamochi/hi.md
  tutorials/node/nakamochi/id.md
  tutorials/node/nakamochi/it.md
  tutorials/node/nakamochi/ja.md
  tutorials/node/nakamochi/nb-NO.md
  tutorials/node/nakamochi/pt.md
  tutorials/node/nakamochi/ru.md
  tutorials/node/nakamochi/tutorial.yml
  tutorials/node/nakamochi/vi.md
  tutorials/node/nakamochi/zh-Hans.md
  tutorials/wallet/elysium/tutorial.yml
  tutorials/wallet/passport/id.md
Labels: content typo, content - tutorial

#1796 [TUTORIAL] Add Trezor Safe 3
  tutorials/wallet/trezor-safe-3/assets/cover.webp
  tutorials/wallet/trezor-safe-3/assets/fr/01.webp
  tutorials/wallet/trezor-safe-3/assets/fr/02.webp
  tutorials/wallet/trezor-safe-3/assets/fr/03.webp
  tutorials/wallet/trezor-safe-3/assets/fr/04.webp
  tutorials/wallet/trezor-safe-3/assets/fr/05.webp
  tutorials/wallet/trezor-safe-3/assets/fr/06.webp
  tutorials/wallet/trezor-safe-3/assets/fr/07.webp
  tutorials/wallet/trezor-safe-3/assets/fr/08.webp
  tutorials/wallet/trezor-safe-3/assets/fr/09.webp
  tutorials/wallet/trezor-safe-3/assets/fr/10.webp
  tutorials/wallet/trezor-safe-3/assets/fr/11.webp
  tutorials/wallet/trezor-safe-3/assets/fr/12.webp
  tutorials/wallet/trezor-safe-3/assets/fr/13.webp
  tutorials/wallet/trezor-safe-3/assets/fr/14.webp
  tutorials/wallet/trezor-safe-3/assets/fr/15.webp
  tutorials/wallet/trezor-safe-3/assets/fr/16.webp
  tutorials/wallet/trezor-safe-3/assets/fr/17.webp
  tutorials/wallet/trezor-safe-3/assets/fr/18.webp
  tutorials/wallet/trezor-safe-3/assets/fr/19.webp
  tutorials/wallet/trezor-safe-3/assets/fr/20.webp
  tutorials/wallet/trezor-safe-3/assets/fr/21.webp
  tutorials/wallet/trezor-safe-3/assets/fr/22.webp
  tutorials/wallet/trezor-safe-3/assets/fr/23.webp
  tutorials/wallet/trezor-safe-3/assets/fr/24.webp
  tutorials/wallet/trezor-safe-3/assets/fr/25.webp
  tutorials/wallet/trezor-safe-3/assets/fr/26.webp
  tutorials/wallet/trezor-safe-3/assets/fr/27.webp
  tutorials/wallet/trezor-safe-3/assets/fr/28.webp
  tutorials/wallet/trezor-safe-3/assets/fr/29.webp
  tutorials/wallet/trezor-safe-3/assets/fr/30.webp
  tutorials/wallet/trezor-safe-3/assets/fr/31.webp
  tutorials/wallet/trezor-safe-3/assets/fr/32.webp
  tutorials/wallet/trezor-safe-3/assets/fr/33.webp
  tutorials/wallet/trezor-safe-3/assets/fr/34.webp
  tutorials/wallet/trezor-safe-3/assets/fr/35.webp
  tutorials/wallet/trezor-safe-3/assets/fr/36.webp
  tutorials/wallet/trezor-safe-3/assets/fr/37.webp
  tutorials/wallet/trezor-safe-3/assets/fr/38.webp
  tutorials/wallet/trezor-safe-3/assets/fr/39.webp
  tutorials/wallet/trezor-safe-3/assets/fr/40.webp
  tutorials/wallet/trezor-safe-3/assets/fr/41.webp
  tutorials/wallet/trezor-safe-3/assets/fr/42.webp
  tutorials/wallet/trezor-safe-3/assets/fr/43.webp
  tutorials/wallet/trezor-safe-3/assets/fr/44.webp
  tutorials/wallet/trezor-safe-3/assets/fr/45.webp
  tutorials/wallet/trezor-safe-3/assets/fr/46.webp
  tutorials/wallet/trezor-safe-3/assets/fr/47.webp
  tutorials/wallet/trezor-safe-3/assets/fr/48.webp
  tutorials/wallet/trezor-safe-3/assets/fr/49.webp
  tutorials/wallet/trezor-safe-3/assets/fr/50.webp
  tutorials/wallet/trezor-safe-3/assets/fr/51.webp
  tutorials/wallet/trezor-safe-3/assets/fr/52.webp
  tutorials/wallet/trezor-safe-3/assets/fr/53.webp
  tutorials/wallet/trezor-safe-3/assets/fr/54.webp
  tutorials/wallet/trezor-safe-3/assets/fr/55.webp
  tutorials/wallet/trezor-safe-3/assets/fr/56.webp
  tutorials/wallet/trezor-safe-3/assets/logo.webp
  tutorials/wallet/trezor-safe-3/fr.md
  tutorials/wallet/trezor-safe-3/tutorial.yml
Labels: content - tutorial, content creation

#1868 tutorial, fix sync error in elysium tuto.yml
  tutorials/wallet/elysium/tutorial.yml
Labels: content typo, content - tutorial

#1879 Update Bitcoin Afrique
  events/bitcoin-conference-afrique-2025/event.yml
  events/bitdevs-lagos-meetup-april-2025/assets/thumbnail.webp
  events/bitdevs-lagos-meetup-april-2025/event.yml
  resources/projects/bitdevs-cotonou/assets/logo.webp
  resources/projects/bitdevs-cotonou/en.yml
  resources/projects/bitdevs-cotonou/project.yml
  resources/projects/bitdevs-lagos/assets/logo.webp
  resources/projects/bitdevs-lagos/en.yml
  resources/projects/bitdevs-lagos/project.yml
Labels: content update, content - event

#1614 [TRANSLATION] Course BIZ101 - IT
  courses/biz101/it.md
  courses/biz101/quizz/000/it.yml
  courses/biz101/quizz/005/it.yml
  courses/biz101/quizz/006/it.yml
  courses/biz101/quizz/007/it.yml
  courses/biz101/quizz/009/it.yml
  courses/biz101/quizz/015/it.yml
  courses/biz101/quizz/017/it.yml
  courses/biz101/quizz/018/it.yml
  courses/biz101/quizz/019/it.yml
  courses/biz101/quizz/021/it.yml
  courses/biz101/quizz/022/it.yml
  courses/biz101/quizz/023/it.yml
  courses/biz101/quizz/024/it.yml
  courses/biz101/quizz/025/it.yml
  courses/biz101/quizz/026/it.yml
  courses/biz101/quizz/027/it.yml
  courses/biz101/quizz/029/it.yml
  courses/biz101/quizz/032/it.yml
  courses/biz101/quizz/033/it.yml
  courses/biz101/quizz/035/it.yml
  courses/biz101/quizz/036/it.yml
  courses/biz101/quizz/038/it.yml
  courses/biz101/quizz/039/it.yml
  courses/biz101/quizz/040/it.yml
  courses/biz101/quizz/041/it.yml
  courses/biz101/quizz/042/it.yml
  courses/biz101/quizz/043/it.yml
  courses/biz101/quizz/054/it.yml
  courses/biz101/quizz/055/it.yml
  courses/biz101/quizz/056/it.yml
  courses/biz101/quizz/057/it.yml
  courses/biz101/quizz/059/it.yml
  courses/biz101/quizz/060/it.yml
  courses/biz101/quizz/062/it.yml
  courses/biz101/quizz/063/it.yml
  courses/biz101/quizz/065/it.yml
  courses/biz101/quizz/066/it.yml
  courses/biz101/quizz/069/it.yml
  courses/biz101/quizz/070/it.yml
  courses/biz101/quizz/075/it.yml
Labels: content proofreading, language - it, content - course

#1624 [TRANSLATION] wallet/liana - IT
  courses/biz101/quizz/022/it.yml
  courses/biz101/quizz/023/it.yml
  tutorials/wallet/liana/it.md
Labels: content proofreading, language - it, content - tutorial

#1643 Glrq sid302
  courses/sid302/it.md
Labels: content proofreading, language - it, content - tutorial

#1698 Proofreading IT tuto Green wallet mobile
  .gitignore
  tutorials/wallet/blockstream-green/it.md
Labels: content proofreading, language - it, content - tutorial

#1751 [TRANSLATION] contribution/proofreading - es
  tutorials/contribution/contribution-proofreading-review-tutorial/es.md
Labels: content proofreading, language - es, content - tutorial

#1756 [TRANSLATION] sid302 - fr
  courses/sid302/fr.md
Labels: content proofreading, language - fr, content - course

#1762 Btc204 proofreading fr
  courses/btc204/fr.md
Labels: content proofreading, language - fr, content - course

#1765 Lnp201 proofreading fr
  courses/lnp201/fr.md
Labels: content proofreading, language - fr, content - course

#1766 Min201 proofreading fr
  courses/min201/fr.md
Labels: content proofreading, language - fr, content - course

#1767 Biz101 proofreading fr
  courses/biz101/fr.md
Labels: content proofreading, content - course, content - tutorial

#1768 Spanish scu101-biz101 proofreading
  courses/biz101/es.md
  courses/scu101/es.md
Labels: content proofreading, language - es, content - course

#1774 webplate- adding new languages
  tutorials/contribution/weblate-add-new-language/it.md
Labels: content proofreading, language - it, content - tutorial

#1770 Swahili biz101 proofreading corrections
  courses/biz101/sw.md
Labels: content proofreading, content - course, language - sw

#1785 Lnp 201 de,proofreading from mike
  courses/lnp201/de.md
Labels: content proofreading, language - de, content - course

#1787 Glrq-rev-pr
  tutorials/contribution/contribution-proofreading-review-tutorial/it.md
Labels: content proofreading, language - it, content - tutorial

#1794 BTC101 Update vi.md
  courses/btc101/vi.md
Labels: content proofreading, language - vi, content - course

#1806 [TRANSLATION] wallet/aqua - fr
  tutorials/wallet/aqua/fr.md
Labels: content proofreading, language - fr, content - tutorial

#1811 Update BTC101 pl.md
  courses/btc101/pl.md
Labels: content proofreading, language - pl, content - course

#1815 Update Tutorial_GnuPG_it.md
  tutorials/computer-security/integrity-authenticity/it.md
Labels: content proofreading, language - it, content - tutorial

#1819 Biz101 and BTC101 Indonesian proofreading
  courses/biz101/id.md
  courses/btc101/id.md
Labels: content proofreading, content - course, language - id

#1822 Proofreading sw BTC401
  courses/btc401/sw.md
Labels: content proofreading, content - course, language - sw

#1834 E manuel7 btc101_proofreading_hi
  courses/btc101/hi.md
Labels: content proofreading, content - course, language - hi

#1862 tutorials, batch en translation
  tutorials/computer-security/simple-login/en.md
  tutorials/computer-security/telegram-account/en.md
  tutorials/wallet/satsmobi/en.md
  tutorials/wallet/wallet-of-satoshi/en.md
Labels: language - en, content - tutorial, content update, in progress

#972 ECO201 Proofreading (Simplified Chinese)
  courses/eco201/zh-Hans.md
Labels: content proofreading, content - course, language - zh-Hans

#1516 BTC101 - Ukranian initial proofreading
  courses/btc101/uk.md
Labels: content proofreading, content - course, language - uk

#1871 incorrect word
  tutorials/contribution/add-podcast/it.md
Labels: content typo, language - it, content - resource

#1612 Fix syntactic issues in the CYP302 spanish course .md file
  courses/cyp302/es.md
Labels: language - es, content - course, format update

#1958 POS 305, add sw proofreading
  courses/pos305/cs.md
  courses/pos305/de.md
  courses/pos305/en.md
  courses/pos305/es.md
  courses/pos305/et.md
  courses/pos305/fi.md
  courses/pos305/fr.md
  courses/pos305/hi.md
  courses/pos305/id.md
  courses/pos305/it.md
  courses/pos305/ja.md
  courses/pos305/nb-NO.md
  courses/pos305/pl.md
  courses/pos305/pt.md
  courses/pos305/ru.md
  courses/pos305/sr-Latn.md
  courses/pos305/sw.md
  courses/pos305/vi.md
  courses/pos305/zh-Hans.md
  courses/pos305/zh-Hant.md
Labels: content proofreading, content - course, language - sw

#1742 Front-end weblate proofreading IT
  tutorials/contribution/weblate-translate-front-end/it.md
Labels: content proofreading, language - it, content - tutorial

#1901 New Global resources
  resources/movies/la-transformation-du-salvador/assets/thumbnail.webp
  resources/movies/la-transformation-du-salvador/movie.yml
  resources/projects/bitcoin-lake/assets/logo.webp
  resources/projects/bitcoin-lake/en.yml
  resources/projects/bitcoin-lake/project.yml
  resources/projects/bitcoinize/assets/logo.webp
  resources/projects/bitcoinize/en.yml
  resources/projects/bitcoinize/project.yml
  resources/projects/flash-infrastructure/assets/logo.webp
  resources/projects/flash-infrastructure/en.yml
  resources/projects/flash-infrastructure/project.yml
  resources/projects/lightning-news/assets/logo.webp
  resources/projects/lightning-news/en.yml
  resources/projects/lightning-news/project.yml
  resources/projects/lightning-ventures/assets/logo.webp
  resources/projects/lightning-ventures/en.yml
  resources/projects/lightning-ventures/project.yml
  resources/projects/thunder-funder/assets/logo.webp
  resources/projects/thunder-funder/en.yml
  resources/projects/thunder-funder/project.yml
Labels: content - resource, content creation

#1896 [CORRECTION] SCU101 Corrections
  courses/scu101/en.md
Labels: content typo, language - en, content - course

#1902 [PROFESSORS] Add Scuba
  professors/scuba/assets/profile.webp
  professors/scuba/cs.yml
  professors/scuba/de.yml
  professors/scuba/en.yml
  professors/scuba/es.yml
  professors/scuba/et.yml
  professors/scuba/fi.yml
  professors/scuba/fr.yml
  professors/scuba/hi.yml
  professors/scuba/id.yml
  professors/scuba/it.yml
  professors/scuba/ja.yml
  professors/scuba/nb-NO.yml
  professors/scuba/pl.yml
  professors/scuba/professor.yml
  professors/scuba/pt.yml
  professors/scuba/ru.yml
  professors/scuba/si.yml
  professors/scuba/sv.yml
  professors/scuba/sw.yml
  professors/scuba/vi.yml
  professors/scuba/zh-Hans.yml
  professors/scuba/zh-Hant.yml
Labels: content creation, content - professors

#1908 [PROFESSORS] Add Olaniran
  professors/olaniran/assets/profile.webp
  professors/olaniran/cs.yml
  professors/olaniran/de.yml
  professors/olaniran/en.yml
  professors/olaniran/es.yml
  professors/olaniran/et.yml
  professors/olaniran/fi.yml
  professors/olaniran/fr.yml
  professors/olaniran/hi.yml
  professors/olaniran/id.yml
  professors/olaniran/it.yml
  professors/olaniran/ja.yml
  professors/olaniran/nb-NO.yml
  professors/olaniran/pl.yml
  professors/olaniran/professor.yml
  professors/olaniran/pt.yml
  professors/olaniran/ru.yml
  professors/olaniran/si.yml
  professors/olaniran/sv.yml
  professors/olaniran/sw.yml
  professors/olaniran/vi.yml
  professors/olaniran/zh-Hans.yml
  professors/olaniran/zh-Hant.yml
Labels: content creation, content - professors

#1936 [PROJECT] Add Olvid
  resources/projects/olvid/assets/logo.webp
  resources/projects/olvid/fr.yml
  resources/projects/olvid/project.yml
Labels: content - resource, content creation

#1941 POS305-FR-proofreading
  courses/pos305/fr.md
Labels: content proofreading, language - fr, content - course

#1945 [PROJECT] Add Signal
  resources/projects/signal/assets/logo.webp
  resources/projects/signal/fr.yml
  resources/projects/signal/project.yml
Labels: content - resource, content creation

#1950 [BTC101] Correction of question n°55
  courses/btc101/quizz/055/cs.yml
  courses/btc101/quizz/055/de.yml
  courses/btc101/quizz/055/en.yml
  courses/btc101/quizz/055/es.yml
  courses/btc101/quizz/055/et.yml
  courses/btc101/quizz/055/fi.yml
  courses/btc101/quizz/055/fr.yml
  courses/btc101/quizz/055/hi.yml
  courses/btc101/quizz/055/id.yml
  courses/btc101/quizz/055/it.yml
  courses/btc101/quizz/055/ja.yml
  courses/btc101/quizz/055/nb-NO.yml
  courses/btc101/quizz/055/pl.yml
  courses/btc101/quizz/055/pt.yml
  courses/btc101/quizz/055/ru.yml
  courses/btc101/quizz/055/sr-Latn.yml
  courses/btc101/quizz/055/sw.yml
  courses/btc101/quizz/055/vi.yml
  courses/btc101/quizz/055/zh-Hans.yml
  courses/btc101/quizz/055/zh-Hant.yml
Labels: content typo, content - quiz

#1952 RESOURCES: Bitcoin events from France
  events/b-on-lille-2025/assets/thumbnail.webp
  events/b-on-lille-2025/event.yml
  events/surfing-bitcoin-2025/assets/thumbnail.webp
  events/surfing-bitcoin-2025/event.yml
  resources/projects/bitcoin-lile/assets/logo.webp
  resources/projects/bitcoin-lile/en.yml
  resources/projects/bitcoin-lile/fr.yml
  resources/projects/bitcoin-lile/project.yml
Labels: content - resource, content creation

#1975 [PROF] Fix Damien Thellier Description
  professors/damien-theillier/cs.yml
  professors/damien-theillier/de.yml
  professors/damien-theillier/en.yml
  professors/damien-theillier/es.yml
  professors/damien-theillier/et.yml
  professors/damien-theillier/fi.yml
  professors/damien-theillier/fr.yml
  professors/damien-theillier/id.yml
  professors/damien-theillier/it.yml
  professors/damien-theillier/ja.yml
  professors/damien-theillier/nb-NO.yml
  professors/damien-theillier/professor.yml
  professors/damien-theillier/pt.yml
  professors/damien-theillier/ru.yml
  professors/damien-theillier/vi.yml
  professors/damien-theillier/zh-Hans.yml
Labels: content typo, content - professors

#1953 [TUTORIAL] : Install Lightning Network Daemon (Linux)
  tutorials/node/lightning-network-daemon-linux/assets/cover.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/01.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/02.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/03.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/04.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/05.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/06.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/07.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/08.webp
  tutorials/node/lightning-network-daemon-linux/assets/fr/09.webp
  tutorials/node/lightning-network-daemon-linux/assets/logo.webp
  tutorials/node/lightning-network-daemon-linux/fr.md
  tutorials/node/lightning-network-daemon-linux/tutorial.yml
Labels: content - tutorial

#1990 cyp302, update licence mention
  courses/cyp302/cs.md
  courses/cyp302/de.md
  courses/cyp302/en.md
  courses/cyp302/es.md
  courses/cyp302/et.md
  courses/cyp302/fi.md
  courses/cyp302/fr.md
  courses/cyp302/hi.md
  courses/cyp302/id.md
  courses/cyp302/it.md
  courses/cyp302/ja.md
  courses/cyp302/nb-NO.md
  courses/cyp302/pl.md
  courses/cyp302/pt.md
  courses/cyp302/ru.md
  courses/cyp302/sr-Latn.md
  courses/cyp302/sw.md
  courses/cyp302/vi.md
  courses/cyp302/zh-Hans.md
  courses/cyp302/zh-Hant.md
Labels: content - course, content update

#1914 [TUTORIAL] Add Multisig Sparrow Wallet
  tutorials/wallet/sparrow-multisig/assets/cover.webp
  tutorials/wallet/sparrow-multisig/assets/fr/01.webp
  tutorials/wallet/sparrow-multisig/assets/fr/02.webp
  tutorials/wallet/sparrow-multisig/assets/fr/03.webp
  tutorials/wallet/sparrow-multisig/assets/fr/04.webp
  tutorials/wallet/sparrow-multisig/assets/fr/05.webp
  tutorials/wallet/sparrow-multisig/assets/fr/06.webp
  tutorials/wallet/sparrow-multisig/assets/fr/07.webp
  tutorials/wallet/sparrow-multisig/assets/fr/08.webp
  tutorials/wallet/sparrow-multisig/assets/fr/09.webp
  tutorials/wallet/sparrow-multisig/assets/fr/10.webp
  tutorials/wallet/sparrow-multisig/assets/fr/11.webp
  tutorials/wallet/sparrow-multisig/assets/fr/12.webp
  tutorials/wallet/sparrow-multisig/assets/fr/13.webp
  tutorials/wallet/sparrow-multisig/assets/fr/14.webp
  tutorials/wallet/sparrow-multisig/assets/fr/15.webp
  tutorials/wallet/sparrow-multisig/assets/fr/16.webp
  tutorials/wallet/sparrow-multisig/assets/fr/17.webp
  tutorials/wallet/sparrow-multisig/assets/fr/18.webp
  tutorials/wallet/sparrow-multisig/assets/fr/19.webp
  tutorials/wallet/sparrow-multisig/assets/fr/20.webp
  tutorials/wallet/sparrow-multisig/assets/fr/21.webp
  tutorials/wallet/sparrow-multisig/assets/fr/22.webp
  tutorials/wallet/sparrow-multisig/assets/fr/23.webp
  tutorials/wallet/sparrow-multisig/assets/fr/24.webp
  tutorials/wallet/sparrow-multisig/assets/fr/25.webp
  tutorials/wallet/sparrow-multisig/assets/fr/26.webp
  tutorials/wallet/sparrow-multisig/assets/fr/27.webp
  tutorials/wallet/sparrow-multisig/assets/fr/28.webp
  tutorials/wallet/sparrow-multisig/assets/fr/29.webp
  tutorials/wallet/sparrow-multisig/assets/fr/30.webp
  tutorials/wallet/sparrow-multisig/assets/fr/31.webp
  tutorials/wallet/sparrow-multisig/assets/fr/32.webp
  tutorials/wallet/sparrow-multisig/assets/fr/33.webp
  tutorials/wallet/sparrow-multisig/assets/fr/34.webp
  tutorials/wallet/sparrow-multisig/assets/fr/35.webp
  tutorials/wallet/sparrow-multisig/assets/fr/36.webp
  tutorials/wallet/sparrow-multisig/assets/fr/37.webp
  tutorials/wallet/sparrow-multisig/assets/fr/38.webp
  tutorials/wallet/sparrow-multisig/assets/fr/39.webp
  tutorials/wallet/sparrow-multisig/assets/fr/40.webp
  tutorials/wallet/sparrow-multisig/assets/fr/41.webp
  tutorials/wallet/sparrow-multisig/assets/fr/42.webp
  tutorials/wallet/sparrow-multisig/assets/fr/43.webp
  tutorials/wallet/sparrow-multisig/assets/fr/44.webp
  tutorials/wallet/sparrow-multisig/assets/fr/45.webp
  tutorials/wallet/sparrow-multisig/assets/fr/46.webp
  tutorials/wallet/sparrow-multisig/assets/fr/47.webp
  tutorials/wallet/sparrow-multisig/assets/fr/48.webp
  tutorials/wallet/sparrow-multisig/assets/fr/49.webp
  tutorials/wallet/sparrow-multisig/assets/fr/50.webp
  tutorials/wallet/sparrow-multisig/assets/fr/51.webp
  tutorials/wallet/sparrow-multisig/assets/fr/52.webp
  tutorials/wallet/sparrow-multisig/assets/fr/53.webp
  tutorials/wallet/sparrow-multisig/assets/fr/54.webp
  tutorials/wallet/sparrow-multisig/fr.md
  tutorials/wallet/sparrow-multisig/tutorial.yml
Labels: content - tutorial, content creation

#1940 [TUTORIAL] Add Olvid
  tutorials/computer-security/olvid/assets/cover.webp
  tutorials/computer-security/olvid/assets/fr/01.webp
  tutorials/computer-security/olvid/assets/fr/02.webp
  tutorials/computer-security/olvid/assets/fr/03.webp
  tutorials/computer-security/olvid/assets/fr/04.webp
  tutorials/computer-security/olvid/assets/fr/05.webp
  tutorials/computer-security/olvid/assets/fr/06.webp
  tutorials/computer-security/olvid/assets/fr/07.webp
  tutorials/computer-security/olvid/assets/fr/08.webp
  tutorials/computer-security/olvid/assets/fr/09.webp
  tutorials/computer-security/olvid/assets/fr/10.webp
  tutorials/computer-security/olvid/assets/fr/11.webp
  tutorials/computer-security/olvid/assets/fr/12.webp
  tutorials/computer-security/olvid/assets/fr/13.webp
  tutorials/computer-security/olvid/assets/fr/14.webp
  tutorials/computer-security/olvid/assets/fr/15.webp
  tutorials/computer-security/olvid/assets/fr/16.webp
  tutorials/computer-security/olvid/assets/fr/17.webp
  tutorials/computer-security/olvid/assets/fr/18.webp
  tutorials/computer-security/olvid/assets/fr/19.webp
  tutorials/computer-security/olvid/assets/fr/20.webp
  tutorials/computer-security/olvid/fr.md
  tutorials/computer-security/olvid/tutorial.yml
Labels: content - tutorial, content creation

#1944 [TUTORIAL] Add Keet
  tutorials/computer-security/keet/assets/cover.webp
  tutorials/computer-security/keet/assets/fr/01.webp
  tutorials/computer-security/keet/assets/fr/02.webp
  tutorials/computer-security/keet/assets/fr/03.webp
  tutorials/computer-security/keet/assets/fr/04.webp
  tutorials/computer-security/keet/assets/fr/05.webp
  tutorials/computer-security/keet/assets/fr/06.webp
  tutorials/computer-security/keet/assets/fr/07.webp
  tutorials/computer-security/keet/assets/fr/08.webp
  tutorials/computer-security/keet/assets/fr/09.webp
  tutorials/computer-security/keet/assets/fr/10.webp
  tutorials/computer-security/keet/assets/fr/11.webp
  tutorials/computer-security/keet/assets/fr/12.webp
  tutorials/computer-security/keet/assets/fr/13.webp
  tutorials/computer-security/keet/assets/fr/14.webp
  tutorials/computer-security/keet/assets/fr/15.webp
  tutorials/computer-security/keet/assets/fr/16.webp
  tutorials/computer-security/keet/assets/fr/17.webp
  tutorials/computer-security/keet/assets/fr/18.webp
  tutorials/computer-security/keet/assets/fr/19.webp
  tutorials/computer-security/keet/assets/fr/20.webp
  tutorials/computer-security/keet/assets/fr/21.webp
  tutorials/computer-security/keet/assets/fr/22.webp
  tutorials/computer-security/keet/assets/fr/23.webp
  tutorials/computer-security/keet/assets/fr/24.webp
  tutorials/computer-security/keet/assets/fr/25.webp
  tutorials/computer-security/keet/assets/fr/26.webp
  tutorials/computer-security/keet/assets/fr/27.webp
  tutorials/computer-security/keet/assets/fr/28.webp
  tutorials/computer-security/keet/assets/fr/29.webp
  tutorials/computer-security/keet/assets/fr/30.webp
  tutorials/computer-security/keet/assets/logo.webp
  tutorials/computer-security/keet/fr.md
  tutorials/computer-security/keet/tutorial.yml
Labels: content - tutorial, content creation

#1949 [TUTORIAL] Add Signal
  tutorials/computer-security/signal/assets/cover.webp
  tutorials/computer-security/signal/assets/fr/01.webp
  tutorials/computer-security/signal/assets/fr/02.webp
  tutorials/computer-security/signal/assets/fr/03.webp
  tutorials/computer-security/signal/assets/fr/04.webp
  tutorials/computer-security/signal/assets/fr/05.webp
  tutorials/computer-security/signal/assets/fr/06.webp
  tutorials/computer-security/signal/assets/fr/07.webp
  tutorials/computer-security/signal/assets/fr/08.webp
  tutorials/computer-security/signal/assets/fr/09.webp
  tutorials/computer-security/signal/assets/fr/10.webp
  tutorials/computer-security/signal/assets/fr/11.webp
  tutorials/computer-security/signal/assets/fr/12.webp
  tutorials/computer-security/signal/assets/fr/13.webp
  tutorials/computer-security/signal/assets/fr/14.webp
  tutorials/computer-security/signal/assets/fr/15.webp
  tutorials/computer-security/signal/assets/fr/16.webp
  tutorials/computer-security/signal/assets/fr/17.webp
  tutorials/computer-security/signal/assets/fr/18.webp
  tutorials/computer-security/signal/assets/fr/19.webp
  tutorials/computer-security/signal/assets/fr/20.webp
  tutorials/computer-security/signal/assets/fr/21.webp
  tutorials/computer-security/signal/assets/fr/22.webp
  tutorials/computer-security/signal/assets/logo.webp
  tutorials/computer-security/signal/fr.md
  tutorials/computer-security/signal/tutorial.yml
Labels: content - tutorial, content creation

#1954 [TUTORIAL] Add Threema
  resources/projects/threema/assets/logo.webp
  resources/projects/threema/fr.yml
  resources/projects/threema/project.yml
  tutorials/computer-security/threema/assets/cover.webp
  tutorials/computer-security/threema/assets/fr/01.webp
  tutorials/computer-security/threema/assets/fr/02.webp
  tutorials/computer-security/threema/assets/fr/03.webp
  tutorials/computer-security/threema/assets/fr/04.webp
  tutorials/computer-security/threema/assets/fr/05.webp
  tutorials/computer-security/threema/assets/fr/06.webp
  tutorials/computer-security/threema/assets/fr/07.webp
  tutorials/computer-security/threema/assets/fr/08.webp
  tutorials/computer-security/threema/assets/fr/09.webp
  tutorials/computer-security/threema/assets/fr/10.webp
  tutorials/computer-security/threema/assets/fr/11.webp
  tutorials/computer-security/threema/assets/fr/12.webp
  tutorials/computer-security/threema/assets/fr/13.webp
  tutorials/computer-security/threema/assets/fr/14.webp
  tutorials/computer-security/threema/assets/fr/15.webp
  tutorials/computer-security/threema/assets/fr/16.webp
  tutorials/computer-security/threema/assets/fr/17.webp
  tutorials/computer-security/threema/assets/fr/18.webp
  tutorials/computer-security/threema/assets/fr/19.webp
  tutorials/computer-security/threema/assets/fr/20.webp
  tutorials/computer-security/threema/assets/fr/21.webp
  tutorials/computer-security/threema/assets/fr/22.webp
  tutorials/computer-security/threema/assets/fr/23.webp
  tutorials/computer-security/threema/assets/fr/24.webp
  tutorials/computer-security/threema/assets/fr/25.webp
  tutorials/computer-security/threema/assets/fr/26.webp
  tutorials/computer-security/threema/assets/fr/27.webp
  tutorials/computer-security/threema/assets/fr/28.webp
  tutorials/computer-security/threema/assets/fr/29.webp
  tutorials/computer-security/threema/assets/fr/30.webp
  tutorials/computer-security/threema/assets/fr/31.webp
  tutorials/computer-security/threema/assets/fr/32.webp
  tutorials/computer-security/threema/assets/fr/33.webp
  tutorials/computer-security/threema/assets/fr/34.webp
  tutorials/computer-security/threema/assets/fr/35.webp
  tutorials/computer-security/threema/assets/logo.webp
  tutorials/computer-security/threema/fr.md
  tutorials/computer-security/threema/tutorial.yml
Labels: content - tutorial, content creation

#1995 [PROJECT] Add Flash
  resources/projects/flash/assets/logo.webp
  resources/projects/flash/fr.yml
  resources/projects/flash/project.yml
Labels: content - resource, content creation

#2005 [TUTORIAL] Integrate Umbrel with Advanced Nostr Usage (French)
  tutorials/node/umbrel-nostr/assets/cover.webp
  tutorials/node/umbrel-nostr/assets/fr/01.webp
  tutorials/node/umbrel-nostr/assets/fr/02.webp
  tutorials/node/umbrel-nostr/assets/fr/03.webp
  tutorials/node/umbrel-nostr/assets/fr/04.webp
  tutorials/node/umbrel-nostr/assets/fr/05.webp
  tutorials/node/umbrel-nostr/assets/fr/06.webp
  tutorials/node/umbrel-nostr/assets/fr/07.webp
  tutorials/node/umbrel-nostr/assets/fr/08.webp
  tutorials/node/umbrel-nostr/assets/fr/09.webp
  tutorials/node/umbrel-nostr/assets/fr/10.webp
  tutorials/node/umbrel-nostr/assets/fr/11.webp
  tutorials/node/umbrel-nostr/assets/fr/12.webp
  tutorials/node/umbrel-nostr/assets/fr/13.webp
  tutorials/node/umbrel-nostr/assets/fr/14.webp
  tutorials/node/umbrel-nostr/assets/fr/15.webp
  tutorials/node/umbrel-nostr/assets/fr/16.webp
  tutorials/node/umbrel-nostr/assets/fr/17.webp
  tutorials/node/umbrel-nostr/assets/fr/18.webp
  tutorials/node/umbrel-nostr/fr.md
  tutorials/node/umbrel-nostr/tutorial.yml
Labels: content - tutorial, content creation

#2014 [UPDATE TUTORIAL] Breez wallet
  tutorials/wallet/breez/assets/cover.webp
  tutorials/wallet/breez/assets/fr/01.webp
  tutorials/wallet/breez/assets/fr/02.webp
  tutorials/wallet/breez/assets/fr/03.webp
  tutorials/wallet/breez/assets/fr/04.webp
  tutorials/wallet/breez/assets/fr/05.webp
  tutorials/wallet/breez/assets/fr/06.webp
  tutorials/wallet/breez/assets/fr/07.webp
  tutorials/wallet/breez/assets/fr/08.webp
  tutorials/wallet/breez/assets/fr/09.webp
  tutorials/wallet/breez/assets/fr/10.webp
  tutorials/wallet/breez/assets/fr/11.webp
  tutorials/wallet/breez/assets/fr/12.webp
  tutorials/wallet/breez/assets/fr/13.webp
  tutorials/wallet/breez/assets/fr/14.webp
  tutorials/wallet/breez/assets/fr/15.webp
  tutorials/wallet/breez/assets/fr/16.webp
  tutorials/wallet/breez/assets/fr/17.webp
  tutorials/wallet/breez/assets/fr/18.webp
  tutorials/wallet/breez/assets/fr/19.webp
  tutorials/wallet/breez/assets/fr/20.webp
  tutorials/wallet/breez/assets/logo.webp
  tutorials/wallet/breez/cs.md
  tutorials/wallet/breez/de.md
  tutorials/wallet/breez/en.md
  tutorials/wallet/breez/es.md
  tutorials/wallet/breez/et.md
  tutorials/wallet/breez/fi.md
  tutorials/wallet/breez/fr.md
  tutorials/wallet/breez/id.md
  tutorials/wallet/breez/it.md
  tutorials/wallet/breez/ja.md
  tutorials/wallet/breez/nb-NO.md
  tutorials/wallet/breez/pt.md
  tutorials/wallet/breez/ru.md
  tutorials/wallet/breez/tutorial.yml
  tutorials/wallet/breez/vi.md
  tutorials/wallet/breez/zh-Hans.md
Labels: content - tutorial, content creation
