Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-05, with the labels that each got.

#2033 [TUTORIAL] Misty Breez
  tutorials/wallet/misty-breez/assets/cover.webp
  tutorials/wallet/misty-breez/assets/fr/01.webp
  tutorials/wallet/misty-breez/assets/fr/02.webp
  tutorials/wallet/misty-breez/assets/fr/03.webp
  tutorials/wallet/misty-breez/assets/fr/04.webp
  tutorials/wallet/misty-breez/assets/fr/05.webp
  tutorials/wallet/misty-breez/assets/fr/06.webp
  tutorials/wallet/misty-breez/assets/fr/07.webp
  tutorials/wallet/misty-breez/assets/fr/08.webp
  tutorials/wallet/misty-breez/assets/fr/09.webp
  tutorials/wallet/misty-breez/assets/logo.webp
  tutorials/wallet/misty-breez/fr.md
  tutorials/wallet/misty-breez/tutorial.yml
Labels: content - tutorial, content creation

#2036 [TUTORIAL] Add SimpleX Chat
  tutorials/computer-security/simplex-chat/assets/cover.webp
  tutorials/computer-security/simplex-chat/assets/fr/01.webp
  tutorials/computer-security/simplex-chat/assets/fr/02.webp
  tutorials/computer-security/simplex-chat/assets/fr/03.webp
  tutorials/computer-security/simplex-chat/assets/fr/04.webp
  tutorials/computer-security/simplex-chat/assets/fr/05.webp
  tutorials/computer-security/simplex-chat/assets/fr/06.webp
  tutorials/computer-security/simplex-chat/assets/fr/07.webp
  tutorials/computer-security/simplex-chat/assets/fr/08.webp
  tutorials/computer-security/simplex-chat/assets/fr/09.webp
  tutorials/computer-security/simplex-chat/assets/fr/10.webp
  tutorials/computer-security/simplex-chat/assets/fr/11.webp
  tutorials/computer-security/simplex-chat/assets/fr/12.webp
  tutorials/computer-security/simplex-chat/assets/fr/13.webp
  tutorials/computer-security/simplex-chat/assets/fr/14.webp
  tutorials/computer-security/simplex-chat/assets/fr/15.webp
  tutorials/computer-security/simplex-chat/assets/fr/16.webp
  tutorials/computer-security/simplex-chat/assets/fr/17.webp
  tutorials/computer-security/simplex-chat/assets/fr/18.webp
  tutorials/computer-security/simplex-chat/assets/fr/19.webp
  tutorials/computer-security/simplex-chat/assets/fr/20.webp
  tutorials/computer-security/simplex-chat/assets/fr/21.webp
  tutorials/computer-security/simplex-chat/assets/fr/22.webp
  tutorials/computer-security/simplex-chat/assets/fr/23.webp
  tutorials/computer-security/simplex-chat/assets/fr/24.webp
  tutorials/computer-security/simplex-chat/assets/fr/25.webp
  tutorials/computer-security/simplex-chat/assets/fr/26.webp
  tutorials/computer-security/simplex-chat/assets/fr/27.webp
  tutorials/computer-security/simplex-chat/assets/fr/28.webp
  tutorials/computer-security/simplex-chat/assets/logo.webp
  tutorials/computer-security/simplex-chat/fr.md
  tutorials/computer-security/simplex-chat/tutorial.yml
Labels: content - tutorial, content creation

#1915 proofreading cyp201 Spanish
  courses/cyp201/es.md
Labels: content proofreading, language - es, content - course

#1926 [PROOFREADING] SCU 101 Indonesian Proofreading
  courses/scu101/id.md
Labels: content proofreading, content - course, language - zh-Hant

#1927 [PROOFREADING] Muun Wallet Indonesian Proofreading
  tutorials/wallet/muun/id.md
Labels: content proofreading, content - tutorial, language - zh-Hant

#1832 [Proofreading] BIZ 101 Proofreading zhHans
  courses/biz101/zh-Hans.md
Labels: content proofreading, content - course, language - zh-Hans

#2006 Fix & change thumbnails of the events
  events/adopting-bitcoin-2025/assets/thumbnail.webp
  events/adopting-bitcoin-2025/event.yml
  events/africa-bitcoin-conference-2025/assets/thumbnail.webp
  events/baltic-honeybadger-2025/assets/thumbnail.webp
  events/barcelona-cyphers-conference/assets/thumbnail.webp
  events/bea-poland-2025/assets/thumbnail.webp
  events/bea-turin-2025/assets/thumbnail.webp
  events/bitcare-forum-2025/assets/thumbnail.webp
  events/bitcoin++-2025-austin/assets/thumbnail.webp
  events/bitcoin-day-tampa/assets/thumbnail.webp
  events/bitcoin-day-tysons/assets/thumbnail.webp
  events/bitcoin-economic-forum/assets/thumbnail.webp
  events/bitcoin-film-fest-2025/assets/thumbnail.webp
  events/bitcoin-indonesia-conference-2025/assets/thumbnail.webp
  events/bitcoin-ireland-2025/assets/thumbnail.webp
  events/bitcoin-is-for-everyone-2025/assets/thumbnail.webp
  events/bitcoin-rodeo-2025/assets/thumbnail.webp
  events/bitcoin-seoul-conference/assets/thumbnail.webp
  events/bitcoin-zitadelle/assets/thumbnail.webp
  events/btc-prague-2025/assets/thumbnail.webp
  events/btchel-2025/assets/thumbnail.webp
  events/budapest-bitcoin/assets/thumbnail.webp
  events/dc-conference-2025/assets/thumbnail.webp
  events/labitcoinf-2025/assets/thumbnail.webp
  events/learning-bitcoin-2025/assets/thumbnail.webp
  events/mallorca-blockchain-days-v/assets/thumbnail.webp
  events/massadoption/assets/thumbnail.webp
  events/osloff-2025/assets/thumbnail.webp
  events/paradigme-bitcoin-2025/assets/thumbnail.webp
  events/pizza-day-prague/assets/thumbnail.webp
  events/plan-b-lugano-forum-2025/assets/thumbnail.webp
Labels: format update, Content images

#2007 [PROJECT] - add btcsession as educational project
  resources/projects/btc-sessions/assets/logo.webp
  resources/projects/btc-sessions/en.yml
  resources/projects/btc-sessions/project.yml
Labels: content - resource

#1933 Btc204 btc302 proofreading
  courses/btc204/sw.md
  courses/btc302/sw.md
Labels: content proofreading, content - course, language - sw

#2002 Course SID 202- Serbian proofreading
  courses/sid202/sr-Latn.md
Labels: content proofreading, content - course, language - sr

#2015 EN SCU101 proofreading
  courses/scu101/en.md
Labels: content proofreading, language - en, content - course

#2027 [PROJECT] Add Tailscale
  resources/projects/tailscale/assets/logo.webp
  resources/projects/tailscale/fr.yml
  resources/projects/tailscale/project.yml
Labels: content - resource, content creation

#2041 btc101 Swedish proofreading (re-upload)
  courses/btc101/sv.md
Labels: content proofreading, content - course, language - sv

#2037 Tuto zeus Embedded
  tutorials/wallet/zeus-embedded/assets/cover.webp
  tutorials/wallet/zeus-embedded/assets/fr/01.webp
  tutorials/wallet/zeus-embedded/assets/fr/02.webp
  tutorials/wallet/zeus-embedded/assets/fr/03.webp
  tutorials/wallet/zeus-embedded/assets/fr/04.webp
  tutorials/wallet/zeus-embedded/assets/fr/05.webp
  tutorials/wallet/zeus-embedded/assets/fr/06.webp
  tutorials/wallet/zeus-embedded/assets/fr/07.webp
  tutorials/wallet/zeus-embedded/assets/fr/08.webp
  tutorials/wallet/zeus-embedded/assets/fr/09.webp
  tutorials/wallet/zeus-embedded/assets/fr/10.webp
  tutorials/wallet/zeus-embedded/assets/fr/11.webp
  tutorials/wallet/zeus-embedded/assets/fr/12.webp
  tutorials/wallet/zeus-embedded/assets/fr/13.webp
  tutorials/wallet/zeus-embedded/assets/fr/14.webp
  tutorials/wallet/zeus-embedded/assets/fr/15.webp
  tutorials/wallet/zeus-embedded/assets/fr/16.webp
  tutorials/wallet/zeus-embedded/assets/fr/17.webp
  tutorials/wallet/zeus-embedded/assets/fr/18.webp
  tutorials/wallet/zeus-embedded/assets/fr/19.webp
  tutorials/wallet/zeus-embedded/assets/fr/20.webp
  tutorials/wallet/zeus-embedded/assets/fr/21.webp
  tutorials/wallet/zeus-embedded/assets/fr/22.webp
  tutorials/wallet/zeus-embedded/assets/fr/23.webp
  tutorials/wallet/zeus-embedded/assets/fr/24.webp
  tutorials/wallet/zeus-embedded/assets/fr/25.webp
  tutorials/wallet/zeus-embedded/assets/fr/26.webp
  tutorials/wallet/zeus-embedded/fr.md
  tutorials/wallet/zeus-embedded/tutorial.yml
Labels: content - tutorial, content creation

#2063 [TUTORIAL] Fix Breez
  tutorials/wallet/breez/hi.md
  tutorials/wallet/breez/pl.md
  tutorials/wallet/breez/sr-Latn.md
  tutorials/wallet/breez/sw.md
  tutorials/wallet/breez/zh-Hant.md
Labels: language - pl, content - tutorial, language - sr, language - zh-Hant, language - sw, language - hi

#2071 [BTC 204] Fix Dandelion Fluff Phase
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/et.md
  courses/btc204/fi.md
  courses/btc204/fr.md
  courses/btc204/hi.md
  courses/btc204/id.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/nb-NO.md
  courses/btc204/pl.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/sr-Latn.md
  courses/btc204/sw.md
  courses/btc204/vi.md
  courses/btc204/zh-Hans.md
  courses/btc204/zh-Hant.md
Labels: content - course, content update

#2079 [TUTORIAL] Fix YAML keys last_contribution_date 2
  tutorials/exchange/flash/tutorial.yml
Labels: bug

#2074 Missing Bitcoin events 2025 Second trimester
  events/bitcoin-impact-2025-singapore/assets/thumbnail.webp
  events/bitcoin-impact-2025-singapore/event.yml
  events/bitcoin-policy-summit-2025/assets/thumbnail.webp
  events/bitcoin-policy-summit-2025/event.yml
  events/bitcoin-week-france-2025/assets/thumbnail.webp
  events/bitcoin-week-france-2025/event.yml
  events/dev-hack-day-btc-prague-2025/assets/thumbnail.webp
  events/dev-hack-day-btc-prague-2025/event.yml
  events/suriname-decentralized-conference-2025/assets/thumbnail.webp
  events/suriname-decentralized-conference-2025/event.yml
  resources/projects/consensus-21/assets/logo.webp
  resources/projects/consensus-21/en.yml
  resources/projects/consensus-21/project.yml
Labels: content - event

#2075 [PROJECT] Add Silent Link, African Bitcoiners
  resources/projects/african-bitcoiners/assets/logo.webp
  resources/projects/african-bitcoiners/en.yml
  resources/projects/african-bitcoiners/project.yml
  resources/projects/silent-link/assets/logo.webp
  resources/projects/silent-link/en.yml
  resources/projects/silent-link/project.yml
Labels: content - resource, content creation

#2171 [PROJECT] Add Blitz Wallet
  resources/projects/blitz-wallet/assets/logo.webp
  resources/projects/blitz-wallet/fr.yml
  resources/projects/blitz-wallet/project.yml
Labels: content - resource, content creation

#1878 Lnp201_it+quizz
  courses/lnp201/it.md
  courses/lnp201/quizz/000/it.yml
  courses/lnp201/quizz/004/it.yml
  courses/lnp201/quizz/006/it.yml
  courses/lnp201/quizz/007/it.yml
  courses/lnp201/quizz/013/it.yml
  courses/lnp201/quizz/014/it.yml
  courses/lnp201/quizz/020/it.yml
  courses/lnp201/quizz/021/it.yml
  courses/lnp201/quizz/025/it.yml
  courses/lnp201/quizz/030/it.yml
  courses/lnp201/quizz/031/it.yml
  courses/lnp201/quizz/032/it.yml
  courses/lnp201/quizz/033/it.yml
  courses/lnp201/quizz/039/it.yml
  courses/lnp201/quizz/040/it.yml
  courses/lnp201/quizz/054/it.yml
Labels: content proofreading, language - it, content - course, content - quiz, merge-ready

#1840 SID302 sw.md proofreading
  courses/sid302/sw.md
Labels: content proofreading, content - course, language - sw, merge-ready

#2196 Fixing SCU101
  courses/biz101/course.yml
  courses/scu101/cs.md
  courses/scu101/de.md
  courses/scu101/en.md
  courses/scu101/es.md
  courses/scu101/et.md
  courses/scu101/fi.md
  courses/scu101/fr.md
  courses/scu101/hi.md
  courses/scu101/id.md
  courses/scu101/it.md
  courses/scu101/ja.md
  courses/scu101/nb-NO.md
  courses/scu101/pl.md
  courses/scu101/pt.md
  courses/scu101/ru.md
  courses/scu101/sr-Latn.md
  courses/scu101/sw.md
  courses/scu101/vi.md
  courses/scu101/zh-Hans.md
  courses/scu101/zh-Hant.md
Labels: content update

#2083 [TUTORIAL] Update Passport name -> Core
  tutorials/wallet/passport/cs.md
  tutorials/wallet/passport/de.md
  tutorials/wallet/passport/en.md
  tutorials/wallet/passport/es.md
  tutorials/wallet/passport/et.md
  tutorials/wallet/passport/fi.md
  tutorials/wallet/passport/fr.md
  tutorials/wallet/passport/hi.md
  tutorials/wallet/passport/id.md
  tutorials/wallet/passport/it.md
  tutorials/wallet/passport/ja.md
  tutorials/wallet/passport/nb-NO.md
  tutorials/wallet/passport/pl.md
  tutorials/wallet/passport/pt.md
  tutorials/wallet/passport/ru.md
  tutorials/wallet/passport/si.md
  tutorials/wallet/passport/sr-Latn.md
  tutorials/wallet/passport/sv.md
  tutorials/wallet/passport/sw.md
  tutorials/wallet/passport/vi.md
  tutorials/wallet/passport/zh-Hans.md
  tutorials/wallet/passport/zh-Hant.md
Labels: content - tutorial, content update

#2157 [TUTORIAL] Delete tutorial.yml without content
  tutorials/contribution/correct-errors/tutorial.yml
Labels: bug, content - tutorial

#2169 Bitcoin India events
  events/bengaluru-bitdevs-segwit-and-taproot/assets/thumbnail.webp
  events/bengaluru-bitdevs-segwit-and-taproot/event.yml
  events/bitcoin-darjeeling-meetup-may/assets/thumbnail.webp
  events/bitcoin-darjeeling-meetup-may/event.yml
  events/bitcoin-pizza-day-meetup-delhi/assets/thumbnail.webp
  events/bitcoin-pizza-day-meetup-delhi/event.yml
  events/bitcoin-pizza-day-meetup-mumbai-edition/assets/thumbnail.webp
  events/bitcoin-pizza-day-meetup-mumbai-edition/event.yml
  events/bitcoin-pizza-day-with-bitshala/assets/thumbnail.webp
  events/bitcoin-pizza-day-with-bitshala/event.yml
  events/the-bitcoin-refill-south-goa-meetup/assets/thumbnail.webp
  events/the-bitcoin-refill-south-goa-meetup/event.yml
  resources/projects/bitcoincierge/assets/logo.webp
  resources/projects/bitcoincierge/en.yml
  resources/projects/bitcoincierge/project.yml
  resources/projects/plebs-together-strong/assets/logo.webp
  resources/projects/plebs-together-strong/en.yml
  resources/projects/plebs-together-strong/hi.yml
  resources/projects/plebs-together-strong/project.yml
Labels: content - resource, content creation, content - event, language - hi

#2060 Btc 302 German proofreading
  courses/btc302/de.md
Labels: content proofreading, language - de, content - course, merge-ready

#1882 [CORRECTION] BIZ 101 EN grammatical errors and typos
  courses/biz101/en.md
Labels: content typo, language - en, content - course, content update

#2191 [BTC 204] Some corrections
  courses/btc204/cs.md
  courses/btc204/de.md
  courses/btc204/en.md
  courses/btc204/es.md
  courses/btc204/et.md
  courses/btc204/fi.md
  courses/btc204/fr.md
  courses/btc204/hi.md
  courses/btc204/id.md
  courses/btc204/it.md
  courses/btc204/ja.md
  courses/btc204/nb-NO.md
  courses/btc204/pl.md
  courses/btc204/pt.md
  courses/btc204/ru.md
  courses/btc204/sr-Latn.md
  courses/btc204/sw.md
  courses/btc204/vi.md
  courses/btc204/zh-Hans.md
  courses/btc204/zh-Hant.md
Labels: content - course, content update

#2207 adding-words-glossary
  scripts/auto-translate/translation_logic/glossary.yml
Labels: auto-translate

#2205 [TUTORIAL] Update Electrum
  tutorials/wallet/electrum/en.md
Labels: language - en, content - tutorial, content update

#2178 [TUTORIAL] LNP2PBOT SRLatin proofreading
  tutorials/exchange/lnp2pbot-v2/sr-Latn.md
Labels: content proofreading, content - tutorial, language - sr, merge-ready

#2189 Scu101 proofreading it
  courses/scu101/it.md
Labels: language - it, content - course, Second proofreading, merge-ready

#2053 CYP201 it.md proofreading
  courses/cyp201/it.md
Labels: content proofreading, language - it, content - course, merge-ready

#2028 Eco 104 swahili proofreading
  courses/eco104/sw.md
Labels: content proofreading, content - course, language - sw, merge-ready

#1942 Eco 204 swahili
  courses/eco204/sw.md
Labels: content proofreading, content - course, language - sw, merge-ready

#1912 Csv402 English proofread
  courses/csv402/en.md
Labels: content proofreading, language - en, content - course, merge-ready

#2050 Polish ECO201 and ECO204 proofreading
  courses/eco201/pl.md
  courses/eco204/pl.md
  courses/his201/pl.md
Labels: content proofreading, language - pl, content - course, merge-ready

#2204 [TUTORIAL] Add Speed wallet Tutorial
  tutorials/wallet/speed-wallet/assets/fr/01.webp
  tutorials/wallet/speed-wallet/assets/fr/02.webp
  tutorials/wallet/speed-wallet/assets/fr/03.webp
  tutorials/wallet/speed-wallet/assets/fr/04.webp
  tutorials/wallet/speed-wallet/assets/fr/05.webp
  tutorials/wallet/speed-wallet/assets/fr/06.webp
  tutorials/wallet/speed-wallet/assets/fr/07.webp
  tutorials/wallet/speed-wallet/assets/fr/08.webp
  tutorials/wallet/speed-wallet/assets/fr/09.webp
  tutorials/wallet/speed-wallet/assets/fr/10.webp
  tutorials/wallet/speed-wallet/assets/fr/11.webp
  tutorials/wallet/speed-wallet/assets/fr/12.webp
  tutorials/wallet/speed-wallet/assets/fr/13.webp
  tutorials/wallet/speed-wallet/assets/fr/14.webp
  tutorials/wallet/speed-wallet/assets/fr/15.webp
  tutorials/wallet/speed-wallet/assets/fr/16.webp
  tutorials/wallet/speed-wallet/assets/fr/17.webp
  tutorials/wallet/speed-wallet/cs.md
  tutorials/wallet/speed-wallet/de.md
  tutorials/wallet/speed-wallet/en.md
  tutorials/wallet/speed-wallet/es.md
  tutorials/wallet/speed-wallet/et.md
  tutorials/wallet/speed-wallet/fi.md
  tutorials/wallet/speed-wallet/fr.md
  tutorials/wallet/speed-wallet/hi.md
  tutorials/wallet/speed-wallet/id.md
  tutorials/wallet/speed-wallet/it.md
  tutorials/wallet/speed-wallet/ja.md
  tutorials/wallet/speed-wallet/nb-NO.md
  tutorials/wallet/speed-wallet/pl.md
  tutorials/wallet/speed-wallet/pt.md
  tutorials/wallet/speed-wallet/ru.md
  tutorials/wallet/speed-wallet/si.md
  tutorials/wallet/speed-wallet/sr-Latn.md
  tutorials/wallet/speed-wallet/sv.md
  tutorials/wallet/speed-wallet/sw.md
  tutorials/wallet/speed-wallet/tutorial.yml
  tutorials/wallet/speed-wallet/vi.md
  tutorials/wallet/speed-wallet/zh-Hans.md
  tutorials/wallet/speed-wallet/zh-Hant.md
Labels: content - tutorial, content creation

#2209 [TUTORIAL] Managing a Lightning Node with Ride The Lightning (RTL) on Umbrel (French)
  tutorials/node/ride-the-lightning/assets/cover.webp
  tutorials/node/ride-the-lightning/assets/fr/01.webp
  tutorials/node/ride-the-lightning/assets/fr/02.webp
  tutorials/node/ride-the-lightning/assets/fr/03.webp
  tutorials/node/ride-the-lightning/assets/fr/04.webp
  tutorials/node/ride-the-lightning/assets/fr/05.webp
  tutorials/node/ride-the-lightning/assets/fr/06.webp
  tutorials/node/ride-the-lightning/assets/fr/07.webp
  tutorials/node/ride-the-lightning/assets/fr/08.webp
  tutorials/node/ride-the-lightning/assets/fr/09.webp
  tutorials/node/ride-the-lightning/assets/fr/10.webp
  tutorials/node/ride-the-lightning/assets/fr/11.webp
  tutorials/node/ride-the-lightning/assets/fr/12.webp
  tutorials/node/ride-the-lightning/assets/fr/13.webp
  tutorials/node/ride-the-lightning/assets/fr/14.webp
  tutorials/node/ride-the-lightning/fr.md
  tutorials/node/ride-the-lightning/tutorial.yml
Labels: content - tutorial, content creation

#1893 phi301, initial upload
  courses/phi301/assets/Bitcoin-Core-Sync-Performance-1.png
  courses/phi301/assets/address-reuse-clustering.png
  courses/phi301/assets/adversarialthinking-banner.jpg
  courses/phi301/assets/bip66-timeline-1.png
  courses/phi301/assets/bip66-timeline-2.png
  courses/phi301/assets/bip66-timeline-3.png
  courses/phi301/assets/decentralization-banner.jpg
  courses/phi301/assets/finitesupply-banner.jpg
  courses/phi301/assets/finitesupply.png
  courses/phi301/assets/fishschool.jpg
  courses/phi301/assets/libsecp256k1speedups.png
  courses/phi301/assets/murch-taproot.png
  courses/phi301/assets/opensource-banner.jpg
  courses/phi301/assets/privacy-banner.jpg
  courses/phi301/assets/privacy.png
  courses/phi301/assets/sabotage-manual.png
  courses/phi301/assets/scaling-banner.jpg
  courses/phi301/assets/scaling-layer.png
  courses/phi301/assets/shtf-banner.jpg
  courses/phi301/assets/trust.png
  courses/phi301/assets/trustlessness-banner.jpg
  courses/phi301/assets/tx-batching.png
  courses/phi301/assets/upgrading-banner.jpg
  courses/phi301/assets/utxo-consolidation.png
  courses/phi301/en.md
  professors/kalle-rosenbaum/assets/profile.jpg
  professors/kalle-rosenbaum/assets/profile.webp
  professors/kalle-rosenbaum/en.yml
  professors/kalle-rosenbaum/professor.yml
  professors/linnea-rosenbaum/assets/profile.jpg
  professors/linnea-rosenbaum/assets/profile.webp
  professors/linnea-rosenbaum/en.yml
  professors/linnea-rosenbaum/professor.yml
Labels: content - course, content creation

#2240 [TUTORIAL] Sparrow Wallet add line after links
  tutorials/wallet/sparrow/cs.md
  tutorials/wallet/sparrow/de.md
  tutorials/wallet/sparrow/en.md
  tutorials/wallet/sparrow/es.md
  tutorials/wallet/sparrow/et.md
  tutorials/wallet/sparrow/fi.md
  tutorials/wallet/sparrow/hi.md
  tutorials/wallet/sparrow/id.md
  tutorials/wallet/sparrow/it.md
  tutorials/wallet/sparrow/ja.md
  tutorials/wallet/sparrow/nb-NO.md
  tutorials/wallet/sparrow/pl.md
  tutorials/wallet/sparrow/pt.md
  tutorials/wallet/sparrow/ru.md
  tutorials/wallet/sparrow/si.md
  tutorials/wallet/sparrow/sr-Latn.md
  tutorials/wallet/sparrow/sv.md
  tutorials/wallet/sparrow/sw.md
  tutorials/wallet/sparrow/vi.md
  tutorials/wallet/sparrow/zh-Hans.md
  tutorials/wallet/sparrow/zh-Hant.md
Labels: bug, content - tutorial
