Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-07, with the labels that each got.

#2538 delete-wrong-tutorials-proofreading
  tutorials/contribution/contribution-proofreading-guidelines/cs.md
  tutorials/contribution/contribution-proofreading-guidelines/de.md
  tutorials/contribution/contribution-proofreading-guidelines/es.md
  tutorials/contribution/contribution-proofreading-guidelines/et.md
  tutorials/contribution/contribution-proofreading-guidelines/fa.md
  tutorials/contribution/contribution-proofreading-guidelines/fi.md
  tutorials/contribution/contribution-proofreading-guidelines/fr.md
  tutorials/contribution/contribution-proofreading-guidelines/hi.md
  tutorials/contribution/contribution-proofreading-guidelines/id.md
  tutorials/contribution/contribution-proofreading-guidelines/it.md
  tutorials/contribution/contribution-proofreading-guidelines/ja.md
  tutorials/contribution/contribution-proofreading-guidelines/nb-NO.md
  tutorials/contribution/contribution-proofreading-guidelines/pl.md
  tutorials/contribution/contribution-proofreading-guidelines/pt.md
  tutorials/contribution/contribution-proofreading-guidelines/ru.md
  tutorials/contribution/contribution-proofreading-guidelines/sr-Latn.md
  tutorials/contribution/contribution-proofreading-guidelines/sw.md
  tutorials/contribution/contribution-proofreading-guidelines/vi.md
  tutorials/contribution/contribution-proofreading-guidelines/zh-Hans.md
  tutorials/contribution/contribution-proofreading-guidelines/zh-Hant.md
  tutorials/contribution/contribution-proofreading-review-tutorial/fa.md
Labels: content - tutorial, format update

#2505 Fix contributor_names yaml key
  tutorials/exchange/flash/tutorial.yml
  tutorials/node/lightning-network-daemon-linux/tutorial.yml
  tutorials/privacy/mempool-space/tutorial.yml
  tutorials/wallet/breez/tutorial.yml
  tutorials/wallet/misty-breez/tutorial.yml
Labels: bug, content - tutorial

#2489 [NEW SCRIPT] adding-quiz-reward-script
  scripts/proofreading-metadata/evaluate_quizz_reward.py
Labels: scripts

#2478 [TRANSLATION] privacy/labelling-utxo - it #2474
  tutorials/privacy/utxo-labelling/it.md
Labels: content proofreading, language - it, content - tutorial

#2546 [project] fix, be-bop logo
  resources/projects/be-bop/assets/logo.webp
Labels: content typo, content - resource

#2556 [TRANSLATION] SCU202 English
  courses/scu202/en.md
Labels: language - en, content - course, auto-translate

#2492 [PROOFREADING] Btc101 swahili second proofreading
  courses/btc101/sw.md
Labels: content - course, Second proofreading, language - sw

#2362 [PROOFREADING] LNP201 Indonesian
  courses/lnp201/id.md
Labels: content proofreading, content - course, language - id

#2477 [PROOFREADING] lnp201 quizz italian
  courses/lnp201/quizz/000/it.yml
  courses/lnp201/quizz/001/it.yml
  courses/lnp201/quizz/002/it.yml
  courses/lnp201/quizz/003/it.yml
  courses/lnp201/quizz/004/it.yml
  courses/lnp201/quizz/005/it.yml
  courses/lnp201/quizz/006/it.yml
  courses/lnp201/quizz/007/it.yml
  courses/lnp201/quizz/008/it.yml
  courses/lnp201/quizz/009/it.yml
  courses/lnp201/quizz/010/it.yml
  courses/lnp201/quizz/011/it.yml
  courses/lnp201/quizz/012/it.yml
  courses/lnp201/quizz/013/it.yml
  courses/lnp201/quizz/014/it.yml
  courses/lnp201/quizz/015/it.yml
  courses/lnp201/quizz/016/it.yml
  courses/lnp201/quizz/017/it.yml
  courses/lnp201/quizz/018/it.yml
  courses/lnp201/quizz/019/it.yml
  courses/lnp201/quizz/020/it.yml
  courses/lnp201/quizz/021/it.yml
  courses/lnp201/quizz/022/it.yml
  courses/lnp201/quizz/023/it.yml
  courses/lnp201/quizz/024/it.yml
  courses/lnp201/quizz/025/it.yml
  courses/lnp201/quizz/026/it.yml
  courses/lnp201/quizz/027/it.yml
  courses/lnp201/quizz/028/it.yml
  courses/lnp201/quizz/029/it.yml
  courses/lnp201/quizz/030/it.yml
  courses/lnp201/quizz/031/it.yml
  courses/lnp201/quizz/032/it.yml
  courses/lnp201/quizz/033/it.yml
  courses/lnp201/quizz/034/it.yml
  courses/lnp201/quizz/035/it.yml
  courses/lnp201/quizz/036/it.yml
  courses/lnp201/quizz/037/it.yml
  courses/lnp201/quizz/038/it.yml
  courses/lnp201/quizz/039/it.yml
  courses/lnp201/quizz/040/it.yml
  courses/lnp201/quizz/041/it.yml
  courses/lnp201/quizz/042/it.yml
  courses/lnp201/quizz/043/it.yml
  courses/lnp201/quizz/044/it.yml
  courses/lnp201/quizz/045/it.yml
  courses/lnp201/quizz/046/it.yml
  courses/lnp201/quizz/047/it.yml
  courses/lnp201/quizz/048/it.yml
  courses/lnp201/quizz/049/it.yml
  courses/lnp201/quizz/050/it.yml
  courses/lnp201/quizz/051/it.yml
  courses/lnp201/quizz/052/it.yml
  courses/lnp201/quizz/053/it.yml
  courses/lnp201/quizz/054/it.yml
Labels: language - it, Second proofreading, content - quiz

#2563 [SCRIPT] adding-glossary-reward-calculation
  scripts/proofreading-metadata/evaluate_quizz_glossary_reward.py
Labels: scripts

#2517 [RESOURCES] New conference replays
  resources/channels/tuttle-twins-es/channel.yml
  resources/conferences/b-only-2024/assets/thumbnail.webp
  resources/conferences/b-only-2024/conference.yml
  resources/conferences/b-only-2024/en.md
  resources/conferences/bitblock-boom-2025/assets/thumbnail.webp
  resources/conferences/bitblock-boom-2025/conference.yml
  resources/conferences/bitblock-boom-2025/en.md
  resources/conferences/bitcoin++-hacking-edition-2025/assets/thumbnail.webp
  resources/conferences/bitcoin++-hacking-edition-2025/conference.yml
  resources/conferences/bitcoin++-hacking-edition-2025/en.md
  resources/conferences/bitcoin-for-corpotarions-2025/assets/thumbnail.webp
  resources/conferences/bitcoin-for-corpotarions-2025/conference.yml
  resources/conferences/bitcoin-for-corpotarions-2025/en.md
  resources/conferences/mining-disrupt-2025/assets/thumbnail.webp
  resources/conferences/mining-disrupt-2025/conference.yml
  resources/conferences/mining-disrupt-2025/en.md
  resources/conferences/scaling-bitcoin-2015/assets/thumbnail.webp
  resources/conferences/scaling-bitcoin-2015/conference.yml
  resources/conferences/scaling-bitcoin-2015/en.md
  resources/conferences/scaling-bitcoin-2016-milan/assets/thumbnail.webp
  resources/conferences/scaling-bitcoin-2016-milan/conference.yml
  resources/conferences/scaling-bitcoin-2016-milan/en.md
  resources/conferences/scaling-bitcoin-2017/assets/thumbnail.webp
  resources/conferences/scaling-bitcoin-2017/conference.yml
  resources/conferences/scaling-bitcoin-2017/en.md
  resources/conferences/scaling-bitcoin-2018/assets/thumbnail.webp
  resources/conferences/scaling-bitcoin-2018/conference.yml
  resources/conferences/scaling-bitcoin-2018/en.md
  resources/conferences/scaling-bitcoin-2019/assets/thumbnail.webp
  resources/conferences/scaling-bitcoin-2019/conference.yml
  resources/conferences/scaling-bitcoin-2019/en.md
  resources/conferences/tuscany-lightning-summit-2025/assets/thumbnail.webp
  resources/conferences/tuscany-lightning-summit-2025/conference.yml
  resources/conferences/tuscany-lightning-summit-2025/en.md
Labels: content - resource

#2550 [SCU 202] push FR on mainnet
  courses/scu202/course.yml
Labels: content - course, content update

#2510 [TUTO] Fix Timestamp Plan ₿ diplomas
  tutorials/contribution/pbn-certificate-timestamping/cs.md
  tutorials/contribution/pbn-certificate-timestamping/de.md
  tutorials/contribution/pbn-certificate-timestamping/en.md
  tutorials/contribution/pbn-certificate-timestamping/es.md
  tutorials/contribution/pbn-certificate-timestamping/et.md
  tutorials/contribution/pbn-certificate-timestamping/fi.md
  tutorials/contribution/pbn-certificate-timestamping/fr.md
  tutorials/contribution/pbn-certificate-timestamping/hi.md
  tutorials/contribution/pbn-certificate-timestamping/id.md
  tutorials/contribution/pbn-certificate-timestamping/it.md
  tutorials/contribution/pbn-certificate-timestamping/ja.md
  tutorials/contribution/pbn-certificate-timestamping/nb-NO.md
  tutorials/contribution/pbn-certificate-timestamping/pl.md
  tutorials/contribution/pbn-certificate-timestamping/pt.md
  tutorials/contribution/pbn-certificate-timestamping/ru.md
  tutorials/contribution/pbn-certificate-timestamping/sw.md
  tutorials/contribution/pbn-certificate-timestamping/vi.md
  tutorials/contribution/pbn-certificate-timestamping/zh-Hans.md
  tutorials/contribution/pbn-certificate-timestamping/zh-Hant.md
Labels: content typo, content - tutorial

#2588 [SCRIPT] Update Data Creator app
  scripts/tutorial-related/data-creator/gui/tutorial_page.py
  scripts/tutorial-related/data-creator/utils/file_ops.py
Labels: scripts

#2586 Coincards tutorial ready for review
  tutorials/exchange/coincards/assets/cover.webp
  tutorials/exchange/coincards/assets/fr/01.webp
  tutorials/exchange/coincards/assets/fr/02.webp
  tutorials/exchange/coincards/assets/fr/03.webp
  tutorials/exchange/coincards/assets/fr/04.webp
  tutorials/exchange/coincards/assets/fr/05.webp
  tutorials/exchange/coincards/assets/fr/06.webp
  tutorials/exchange/coincards/assets/fr/07.webp
  tutorials/exchange/coincards/assets/fr/08.webp
  tutorials/exchange/coincards/assets/fr/09.webp
  tutorials/exchange/coincards/assets/fr/10.webp
  tutorials/exchange/coincards/assets/fr/11.webp
  tutorials/exchange/coincards/assets/fr/12.webp
  tutorials/exchange/coincards/assets/fr/13.webp
  tutorials/exchange/coincards/assets/fr/14.webp
  tutorials/exchange/coincards/assets/fr/15.webp
  tutorials/exchange/coincards/assets/fr/16.webp
  tutorials/exchange/coincards/assets/fr/17.webp
  tutorials/exchange/coincards/assets/fr/18.webp
  tutorials/exchange/coincards/fr.md
  tutorials/exchange/coincards/tutorial.yml
Labels: content - tutorial, content creation

#2634 [TUTORIAL] Tox Tutorial
  tutorials/computer-security/tox/assets/cover.webp
  tutorials/computer-security/tox/assets/fr/01.webp
  tutorials/computer-security/tox/assets/fr/02.webp
  tutorials/computer-security/tox/assets/fr/03.webp
  tutorials/computer-security/tox/assets/fr/04.webp
  tutorials/computer-security/tox/assets/fr/05.webp
  tutorials/computer-security/tox/assets/fr/06.webp
  tutorials/computer-security/tox/assets/fr/07.webp
  tutorials/computer-security/tox/assets/fr/08.webp
  tutorials/computer-security/tox/assets/fr/09.webp
  tutorials/computer-security/tox/assets/fr/10.webp
  tutorials/computer-security/tox/assets/fr/11.webp
  tutorials/computer-security/tox/assets/fr/12.webp
  tutorials/computer-security/tox/assets/fr/13.webp
  tutorials/computer-security/tox/assets/fr/14.webp
  tutorials/computer-security/tox/assets/fr/15.webp
  tutorials/computer-security/tox/assets/fr/16.webp
  tutorials/computer-security/tox/assets/fr/17.webp
  tutorials/computer-security/tox/assets/fr/18.webp
  tutorials/computer-security/tox/fr.md
  tutorials/computer-security/tox/tutorial.yml
Labels: content - tutorial, content creation

#2559 [TUTORIAL] Fix Braiins
  tutorials/mining/braiins-mini-miner/assets/logo.webp
  tutorials/mining/braiins-mini-miner/tutorial.yml
Labels: bug, content - tutorial

#2595 [TUTORIAL] Add OPNsense
  tutorials/computer-security/opnsense/assets/cover.webp
  tutorials/computer-security/opnsense/assets/fr/018.webp
  tutorials/computer-security/opnsense/assets/fr/019.webp
  tutorials/computer-security/opnsense/assets/fr/020.webp
  tutorials/computer-security/opnsense/assets/fr/021.webp
  tutorials/computer-security/opnsense/assets/fr/022.webp
  tutorials/computer-security/opnsense/assets/fr/023.webp
  tutorials/computer-security/opnsense/assets/fr/024.webp
  tutorials/computer-security/opnsense/assets/fr/025.webp
  tutorials/computer-security/opnsense/assets/fr/026.webp
  tutorials/computer-security/opnsense/assets/fr/027.webp
  tutorials/computer-security/opnsense/assets/fr/028.webp
  tutorials/computer-security/opnsense/assets/fr/029.webp
  tutorials/computer-security/opnsense/assets/fr/030.webp
  tutorials/computer-security/opnsense/assets/fr/031.webp
  tutorials/computer-security/opnsense/assets/fr/032.webp
  tutorials/computer-security/opnsense/assets/fr/033.webp
  tutorials/computer-security/opnsense/assets/fr/034.webp
  tutorials/computer-security/opnsense/assets/fr/035.webp
  tutorials/computer-security/opnsense/assets/fr/036.webp
  tutorials/computer-security/opnsense/assets/fr/037.webp
  tutorials/computer-security/opnsense/assets/fr/038.webp
  tutorials/computer-security/opnsense/assets/fr/039.webp
  tutorials/computer-security/opnsense/assets/fr/040.webp
  tutorials/computer-security/opnsense/assets/fr/041.webp
  tutorials/computer-security/opnsense/assets/fr/042.webp
  tutorials/computer-security/opnsense/assets/fr/043.webp
  tutorials/computer-security/opnsense/assets/fr/044.webp
  tutorials/computer-security/opnsense/assets/fr/045.webp
  tutorials/computer-security/opnsense/assets/fr/046.webp
  tutorials/computer-security/opnsense/assets/fr/047.webp
  tutorials/computer-security/opnsense/assets/fr/048.webp
  tutorials/computer-security/opnsense/assets/fr/049.webp
  tutorials/computer-security/opnsense/assets/fr/050.webp
  tutorials/computer-security/opnsense/assets/fr/051.webp
  tutorials/computer-security/opnsense/assets/logo.webp
  tutorials/computer-security/opnsense/fr.md
  tutorials/computer-security/opnsense/tutorial.yml
Labels: content - tutorial, content creation

#2597 [TUTORIAL] Add ntopng
  tutorials/computer-security/ntopng/assets/cover.webp
  tutorials/computer-security/ntopng/assets/fr/016.webp
  tutorials/computer-security/ntopng/assets/fr/017.webp
  tutorials/computer-security/ntopng/assets/fr/018.webp
  tutorials/computer-security/ntopng/assets/fr/019.webp
  tutorials/computer-security/ntopng/assets/fr/020.webp
  tutorials/computer-security/ntopng/assets/fr/021.webp
  tutorials/computer-security/ntopng/assets/fr/022.webp
  tutorials/computer-security/ntopng/assets/fr/023.webp
  tutorials/computer-security/ntopng/assets/fr/024.webp
  tutorials/computer-security/ntopng/assets/fr/025.webp
  tutorials/computer-security/ntopng/assets/fr/026.webp
  tutorials/computer-security/ntopng/assets/fr/027.webp
  tutorials/computer-security/ntopng/assets/fr/028.webp
  tutorials/computer-security/ntopng/assets/logo.webp
  tutorials/computer-security/ntopng/fr.md
  tutorials/computer-security/ntopng/tutorial.yml
Labels: content - tutorial, content creation

#2601 [TUTORIAL] Add PfSense
  tutorials/computer-security/pfsense/assets/cover.webp
  tutorials/computer-security/pfsense/assets/fr/001.webp
  tutorials/computer-security/pfsense/assets/fr/002.webp
  tutorials/computer-security/pfsense/assets/fr/003.webp
  tutorials/computer-security/pfsense/assets/fr/004.webp
  tutorials/computer-security/pfsense/assets/fr/005.webp
  tutorials/computer-security/pfsense/assets/fr/006.webp
  tutorials/computer-security/pfsense/assets/fr/007.webp
  tutorials/computer-security/pfsense/assets/fr/025.webp
  tutorials/computer-security/pfsense/assets/fr/027.webp
  tutorials/computer-security/pfsense/assets/logo.webp
  tutorials/computer-security/pfsense/fr.md
  tutorials/computer-security/pfsense/tutorial.yml
Labels: content - tutorial, content creation

#2494 [ECO 104] Fix cypherpunk date
  courses/eco104/cs.md
  courses/eco104/de.md
  courses/eco104/en.md
  courses/eco104/es.md
  courses/eco104/et.md
  courses/eco104/fa.md
  courses/eco104/fi.md
  courses/eco104/fr.md
  courses/eco104/hi.md
  courses/eco104/id.md
  courses/eco104/it.md
  courses/eco104/ja.md
  courses/eco104/nb-NO.md
  courses/eco104/pl.md
  courses/eco104/pt.md
  courses/eco104/ru.md
  courses/eco104/sr-Latn.md
  courses/eco104/sw.md
  courses/eco104/vi.md
  courses/eco104/zh-Hans.md
  courses/eco104/zh-Hant.md
Labels: content - course, content update

#2582 [TUTORIAL] Fix be-BOP
  tutorials/business/be-bop/tutorial.yml
Labels: content typo, content - tutorial

#2551 [DOCS] template repo, batch update
  docs/PBN-template-repo/courses/topic101/course.yml
  docs/PBN-template-repo/events/awesome-workshop-YYYY/event.yml
  docs/PBN-template-repo/events/crowdy-meetup-YYYY-MM/event.yml
  docs/PBN-template-repo/professors/pbn-author/professor.yml
  docs/PBN-template-repo/resources/bet/a-game-on-bitcoin/assets/logo.webp
  docs/PBN-template-repo/resources/bet/a-game-on-bitcoin/bet.yml
  docs/PBN-template-repo/resources/bet/a-game-on-bitcoin/en.yml
  docs/PBN-template-repo/resources/books/awesome-book/book.yml
  docs/PBN-template-repo/resources/channels/best-yt-channel-ever/channel.yml
  docs/PBN-template-repo/resources/conferences/awesome-conference-replay-YYYY/conference.yml
  docs/PBN-template-repo/resources/glossary/cool-word/word.yml
  docs/PBN-template-repo/resources/glossary/cool-word2/word.yml
  docs/PBN-template-repo/resources/movies/beautiful-documentary/movie.yml
  docs/PBN-template-repo/resources/newsletters/awesome-newsletter/newsletter.yml
  docs/PBN-template-repo/resources/podcasts/podcastname/podcast.yml
  docs/PBN-template-repo/resources/projects/community-project/project.yml
  docs/PBN-template-repo/resources/projects/non-community-project/project.yml
  docs/PBN-template-repo/tutorials/this-folder-is-a-tutorial-category/awesome-tutorial/tutorial.yml
  docs/PBN-template-repo/tutorials/this-folder-is-a-tutorial-category/cool-tutorial/tutorial.yml
Labels: documentation

#2617 [EVENT] Fix Flea Market
  events/bitcoin-flea-market-summer-2025/event.yml
Labels: content typo, content - resource

#2399 [PROOFREADING] - Adding Educational Tools - Italian
  tutorials/contribution/add-bet/it.md
Labels: content proofreading, language - it, content - tutorial

#2408 [PROOFREADING] - GitHub Desktop - Italian
  tutorials/contribution/github-desktop-work-environment/it.md
Labels: content proofreading, language - it, content - tutorial

#2409 [PROOFREADING]- Running the Plan ₿ Network Platform - Italian
  tutorials/contribution/local-deployment-of-pbn-platform/en.md
  tutorials/contribution/local-deployment-of-pbn-platform/it.md
Labels: content proofreading, language - it, content - tutorial

#2405 [PROOFREADING] Adding a Conference Replay - Italian
  tutorials/contribution/add-conference-replay/it.md
Labels: content proofreading, language - it, content - tutorial

#2670 [TUTORIAL] Boltz Tutorial
  tutorials/exchange/boltz/assets/cover.webp
  tutorials/exchange/boltz/assets/fr/01.webp
  tutorials/exchange/boltz/assets/fr/02.webp
  tutorials/exchange/boltz/assets/fr/03.webp
  tutorials/exchange/boltz/assets/fr/04.webp
  tutorials/exchange/boltz/assets/fr/05.webp
  tutorials/exchange/boltz/assets/fr/06.webp
  tutorials/exchange/boltz/assets/fr/07.webp
  tutorials/exchange/boltz/assets/fr/08.webp
  tutorials/exchange/boltz/assets/fr/09.webp
  tutorials/exchange/boltz/assets/fr/10.webp
  tutorials/exchange/boltz/assets/fr/11.webp
  tutorials/exchange/boltz/assets/fr/12.webp
  tutorials/exchange/boltz/assets/fr/13.webp
  tutorials/exchange/boltz/fr.md
  tutorials/exchange/boltz/tutorial.yml
Labels: content - tutorial, content creation

#2687 [TUTORIAL] Add OP_RETURN Electrum
  professors/orangepeel/assets/profile.webp
  professors/orangepeel/fr.yml
  professors/orangepeel/professor.yml
  tutorials/wallet/electrum-opreturn/assets/cover.webp
  tutorials/wallet/electrum-opreturn/assets/fr/01.webp
  tutorials/wallet/electrum-opreturn/assets/fr/02.webp
  tutorials/wallet/electrum-opreturn/assets/fr/03.webp
  tutorials/wallet/electrum-opreturn/assets/fr/04.webp
  tutorials/wallet/electrum-opreturn/assets/fr/05.webp
  tutorials/wallet/electrum-opreturn/assets/fr/06.webp
  tutorials/wallet/electrum-opreturn/assets/fr/07.webp
  tutorials/wallet/electrum-opreturn/assets/fr/08.webp
  tutorials/wallet/electrum-opreturn/assets/fr/09.webp
  tutorials/wallet/electrum-opreturn/assets/fr/10.webp
  tutorials/wallet/electrum-opreturn/assets/fr/11.webp
  tutorials/wallet/electrum-opreturn/assets/fr/12.webp
  tutorials/wallet/electrum-opreturn/fr.md
  tutorials/wallet/electrum-opreturn/tutorial.yml
Labels: content - tutorial, content creation

#2688 [PROJECT] Add Vexl
  resources/projects/vexl/assets/logo.webp
  resources/projects/vexl/fr.yml
  resources/projects/vexl/project.yml
Labels: content - resource, content creation

#2689 [TRANSLATION] tutorial/session - Indonesian
  tutorials/computer-security/session/id.md
Labels: content - course, language - id, auto-translate

#2691 [TUTORIAL] Add Debian Tutorial
  tutorials/computer-security/debian/assets/cover.webp
  tutorials/computer-security/debian/assets/fr/01.webp
  tutorials/computer-security/debian/assets/fr/02.webp
  tutorials/computer-security/debian/assets/fr/03.webp
  tutorials/computer-security/debian/assets/fr/04.webp
  tutorials/computer-security/debian/assets/fr/05.webp
  tutorials/computer-security/debian/assets/fr/06.webp
  tutorials/computer-security/debian/assets/fr/07.webp
  tutorials/computer-security/debian/assets/fr/08.webp
  tutorials/computer-security/debian/assets/fr/09.webp
  tutorials/computer-security/debian/assets/fr/10.webp
  tutorials/computer-security/debian/assets/fr/11.webp
  tutorials/computer-security/debian/assets/fr/12.webp
  tutorials/computer-security/debian/assets/fr/13.webp
  tutorials/computer-security/debian/assets/fr/14.webp
  tutorials/computer-security/debian/fr.md
  tutorials/computer-security/debian/tutorial.yml
Labels: content - tutorial, content creation

#2692 [SCU 202] Add tuto links
  courses/scu202/en.md
  courses/scu202/fr.md
Labels: content - course, content update

#2685 [PROOFREADING] SCU202 - English
  courses/scu202/en.md
Labels: content proofreading, language - en, content - course

#2722 [TRANSLATION] Tailscale-Indonesian
  tutorials/computer-security/tailscale/id.md
Labels: content - course, language - id, auto-translate

#2726 [PROFESSOR] Update OrangePeel
  professors/manuel-proquin/assets/profile.webp
  professors/manuel-proquin/fr.yml
  professors/manuel-proquin/professor.yml
Labels: content update, content - professor

#2720 [TUTORIAL] Add Bitspenda Tutorial
  tutorials/exchange/bitspenda/assets/cover.webp
  tutorials/exchange/bitspenda/assets/fr/01.webp
  tutorials/exchange/bitspenda/assets/fr/02.webp
  tutorials/exchange/bitspenda/assets/fr/07.webp
  tutorials/exchange/bitspenda/assets/fr/08.webp
  tutorials/exchange/bitspenda/assets/fr/09.webp
  tutorials/exchange/bitspenda/assets/fr/10.webp
  tutorials/exchange/bitspenda/assets/fr/11.webp
  tutorials/exchange/bitspenda/assets/fr/12.webp
  tutorials/exchange/bitspenda/assets/fr/13.webp
  tutorials/exchange/bitspenda/assets/fr/14.webp
  tutorials/exchange/bitspenda/assets/fr/15.webp
  tutorials/exchange/bitspenda/assets/fr/16.webp
  tutorials/exchange/bitspenda/fr.md
  tutorials/exchange/bitspenda/tutorial.yml
Labels: content - tutorial, content creation

#2706 [DOCS] Edit podcast.yml example
  docs/PBN-template-repo/resources/podcasts/podcastname/podcast.yml
Labels: documentation

#2519 PlanB Forum SV testnet version
  resources/conferences/planb-forum-sv-2025/assets/thumbnail.webp
  resources/conferences/planb-forum-sv-2025/conference.yml
  resources/conferences/planb-forum-sv-2025/en.md
Labels: content - resource

#2732 [TUTORIAL] Add Elementary OS Tutorial
  tutorials/computer-security/elementary-os/assets/cover.webp
  tutorials/computer-security/elementary-os/assets/fr/01.webp
  tutorials/computer-security/elementary-os/assets/fr/02.webp
  tutorials/computer-security/elementary-os/assets/fr/03.webp
  tutorials/computer-security/elementary-os/assets/fr/04.webp
  tutorials/computer-security/elementary-os/assets/fr/05.webp
  tutorials/computer-security/elementary-os/assets/fr/06.webp
  tutorials/computer-security/elementary-os/assets/fr/07.webp
  tutorials/computer-security/elementary-os/assets/fr/08.webp
  tutorials/computer-security/elementary-os/assets/fr/09.webp
  tutorials/computer-security/elementary-os/assets/fr/10.webp
  tutorials/computer-security/elementary-os/assets/fr/11.webp
  tutorials/computer-security/elementary-os/assets/fr/12.webp
  tutorials/computer-security/elementary-os/assets/fr/13.webp
  tutorials/computer-security/elementary-os/assets/fr/14.webp
  tutorials/computer-security/elementary-os/assets/fr/15.webp
  tutorials/computer-security/elementary-os/assets/fr/16.webp
  tutorials/computer-security/elementary-os/assets/fr/17.webp
  tutorials/computer-security/elementary-os/assets/fr/18.webp
  tutorials/computer-security/elementary-os/assets/fr/19.webp
  tutorials/computer-security/elementary-os/assets/fr/20.webp
  tutorials/computer-security/elementary-os/assets/fr/21.webp
  tutorials/computer-security/elementary-os/assets/logo.webp
  tutorials/computer-security/elementary-os/fr.md
  tutorials/computer-security/elementary-os/tutorial.yml
Labels: content - tutorial, content creation

#2740 [TUTORIAL] Vexl tutorial
  tutorials/exchange/vexl/assets/cover.webp
  tutorials/exchange/vexl/assets/fr/01.webp
  tutorials/exchange/vexl/assets/fr/02.webp
  tutorials/exchange/vexl/assets/fr/03.webp
  tutorials/exchange/vexl/assets/fr/04.webp
  tutorials/exchange/vexl/assets/fr/05.webp
  tutorials/exchange/vexl/assets/fr/06.webp
  tutorials/exchange/vexl/assets/fr/07.webp
  tutorials/exchange/vexl/assets/fr/08.webp
  tutorials/exchange/vexl/assets/fr/09.webp
  tutorials/exchange/vexl/assets/fr/10.webp
  tutorials/exchange/vexl/assets/fr/11.webp
  tutorials/exchange/vexl/assets/fr/12.webp
  tutorials/exchange/vexl/assets/fr/13.webp
  tutorials/exchange/vexl/assets/fr/14.webp
  tutorials/exchange/vexl/assets/fr/15.webp
  tutorials/exchange/vexl/assets/fr/16.webp
  tutorials/exchange/vexl/assets/fr/17.webp
  tutorials/exchange/vexl/fr.md
  tutorials/exchange/vexl/tutorial.yml
Labels: content - tutorial, content creation

#2753 [TUTORIAL] Add WireGuard
  tutorials/computer-security/wireguard/assets/cover.webp
  tutorials/computer-security/wireguard/assets/fr/022.webp
  tutorials/computer-security/wireguard/assets/fr/023.webp
  tutorials/computer-security/wireguard/assets/fr/024.webp
  tutorials/computer-security/wireguard/assets/fr/025.webp
  tutorials/computer-security/wireguard/assets/fr/026.webp
  tutorials/computer-security/wireguard/assets/fr/027.webp
  tutorials/computer-security/wireguard/assets/fr/028.webp
  tutorials/computer-security/wireguard/assets/fr/029.webp
  tutorials/computer-security/wireguard/assets/fr/030.webp
  tutorials/computer-security/wireguard/assets/fr/031.webp
  tutorials/computer-security/wireguard/assets/fr/032.webp
  tutorials/computer-security/wireguard/assets/fr/033.webp
  tutorials/computer-security/wireguard/assets/fr/034.webp
  tutorials/computer-security/wireguard/assets/fr/035.webp
  tutorials/computer-security/wireguard/assets/fr/036.webp
  tutorials/computer-security/wireguard/assets/fr/037.webp
  tutorials/computer-security/wireguard/assets/fr/038.webp
  tutorials/computer-security/wireguard/assets/fr/039.webp
  tutorials/computer-security/wireguard/assets/fr/040.webp
  tutorials/computer-security/wireguard/assets/logo.webp
  tutorials/computer-security/wireguard/fr.md
  tutorials/computer-security/wireguard/tutorial.yml
Labels: content - tutorial, content creation

#2754 [PROFESSOR] Update Manuel's profile
  professors/manuel-proquin/fr.yml
Labels: content update, content - professor

#2759 [SCRIPTS] Update Data Creator App
  scripts/tutorial-related/data-creator/gui/tutorial_page.py
  scripts/tutorial-related/data-creator/utils/file_ops.py
Labels: scripts

#2760 [TUTORIAL] Add Picocrypt
  tutorials/computer-security/picocrypt/assets/cover.webp
  tutorials/computer-security/picocrypt/assets/fr/019.webp
  tutorials/computer-security/picocrypt/assets/fr/020.webp
  tutorials/computer-security/picocrypt/assets/fr/021.webp
  tutorials/computer-security/picocrypt/assets/fr/022.webp
  tutorials/computer-security/picocrypt/assets/fr/023.webp
  tutorials/computer-security/picocrypt/assets/logo.webp
  tutorials/computer-security/picocrypt/fr.md
  tutorials/computer-security/picocrypt/tutorial.yml
Labels: content - tutorial, content creation

#2741 Bull bitcoin wallet
  tutorials/wallet/bull-bitcoin/assets/cover.webp
  tutorials/wallet/bull-bitcoin/assets/fr/02.webp
  tutorials/wallet/bull-bitcoin/assets/fr/03.webp
  tutorials/wallet/bull-bitcoin/assets/fr/04.webp
  tutorials/wallet/bull-bitcoin/assets/fr/05.webp
  tutorials/wallet/bull-bitcoin/assets/fr/06.webp
  tutorials/wallet/bull-bitcoin/assets/fr/07.webp
  tutorials/wallet/bull-bitcoin/assets/fr/08.webp
  tutorials/wallet/bull-bitcoin/assets/fr/09.webp
  tutorials/wallet/bull-bitcoin/assets/fr/10.webp
  tutorials/wallet/bull-bitcoin/assets/fr/11.webp
  tutorials/wallet/bull-bitcoin/assets/fr/12.webp
  tutorials/wallet/bull-bitcoin/assets/fr/13.webp
  tutorials/wallet/bull-bitcoin/assets/fr/14.webp
  tutorials/wallet/bull-bitcoin/assets/fr/15.webp
  tutorials/wallet/bull-bitcoin/assets/fr/16.webp
  tutorials/wallet/bull-bitcoin/assets/fr/17.webp
  tutorials/wallet/bull-bitcoin/assets/fr/18.webp
  tutorials/wallet/bull-bitcoin/assets/fr/19.webp
  tutorials/wallet/bull-bitcoin/assets/fr/20.webp
  tutorials/wallet/bull-bitcoin/assets/fr/21.webp
  tutorials/wallet/bull-bitcoin/assets/fr/22.webp
  tutorials/wallet/bull-bitcoin/assets/fr/23.webp
  tutorials/wallet/bull-bitcoin/assets/fr/24.webp
  tutorials/wallet/bull-bitcoin/assets/fr/25.webp
  tutorials/wallet/bull-bitcoin/assets/fr/26.webp
  tutorials/wallet/bull-bitcoin/fr.md
  tutorials/wallet/bull-bitcoin/tutorial.yml
Labels: content - tutorial, content creation

#2764 [TUTORIAL] Update Bull Bitcoin Wallet
  tutorials/wallet/bull-bitcoin/fr.md
Labels: content - tutorial, format update

#2756 Ninja SAFU tutorial
  tutorials/wallet/ninja-safu/assets/cover.webp
  tutorials/wallet/ninja-safu/assets/fr/03.webp
  tutorials/wallet/ninja-safu/assets/fr/04.webp
  tutorials/wallet/ninja-safu/assets/fr/05.webp
  tutorials/wallet/ninja-safu/assets/fr/06.webp
  tutorials/wallet/ninja-safu/assets/fr/07.webp
  tutorials/wallet/ninja-safu/assets/fr/08.webp
  tutorials/wallet/ninja-safu/assets/fr/09.webp
  tutorials/wallet/ninja-safu/assets/logo.webp
  tutorials/wallet/ninja-safu/fr.md
  tutorials/wallet/ninja-safu/tutorial.yml
Labels: content - tutorial, content creation

#2783 [TUTORIAL] Add Graylog
  tutorials/computer-security/graylog/assets/cover.webp
  tutorials/computer-security/graylog/assets/fr/001.webp
  tutorials/computer-security/graylog/assets/fr/002.webp
  tutorials/computer-security/graylog/assets/fr/003.webp
  tutorials/computer-security/graylog/assets/fr/004.webp
  tutorials/computer-security/graylog/assets/fr/005.webp
  tutorials/computer-security/graylog/assets/fr/006.webp
  tutorials/computer-security/graylog/assets/fr/007.webp
  tutorials/computer-security/graylog/assets/fr/008.webp
  tutorials/computer-security/graylog/assets/fr/009.webp
  tutorials/computer-security/graylog/assets/fr/015.webp
  tutorials/computer-security/graylog/assets/fr/016.webp
  tutorials/computer-security/graylog/assets/fr/017.webp
  tutorials/computer-security/graylog/assets/fr/018.webp
  tutorials/computer-security/graylog/assets/fr/019.webp
  tutorials/computer-security/graylog/assets/fr/020.webp
  tutorials/computer-security/graylog/assets/fr/021.webp
  tutorials/computer-security/graylog/assets/fr/022.webp
  tutorials/computer-security/graylog/assets/fr/023.webp
  tutorials/computer-security/graylog/assets/fr/024.webp
  tutorials/computer-security/graylog/assets/fr/025.webp
  tutorials/computer-security/graylog/assets/fr/026.webp
  tutorials/computer-security/graylog/assets/fr/027.webp
  tutorials/computer-security/graylog/assets/fr/028.webp
  tutorials/computer-security/graylog/assets/fr/029.webp
  tutorials/computer-security/graylog/assets/fr/030.webp
  tutorials/computer-security/graylog/assets/fr/031.webp
  tutorials/computer-security/graylog/assets/fr/032.webp
  tutorials/computer-security/graylog/assets/fr/033.webp
  tutorials/computer-security/graylog/assets/fr/034.webp
  tutorials/computer-security/graylog/assets/logo.webp
  tutorials/computer-security/graylog/fr.md
  tutorials/computer-security/graylog/tutorial.yml
Labels: content - tutorial, content creation

#2797 [SCU 202] Add links to tutos
  courses/scu202/cs.md
  courses/scu202/de.md
  courses/scu202/en.md
  courses/scu202/es.md
  courses/scu202/et.md
  courses/scu202/fa.md
  courses/scu202/fi.md
  courses/scu202/fr.md
  courses/scu202/hi.md
  courses/scu202/id.md
  courses/scu202/it.md
  courses/scu202/ja.md
  courses/scu202/nb-NO.md
  courses/scu202/nl.md
  courses/scu202/pl.md
  courses/scu202/pt.md
  courses/scu202/ru.md
  courses/scu202/sr-Latn.md
  courses/scu202/sv.md
  courses/scu202/sw.md
  courses/scu202/vi.md
  courses/scu202/zh-Hans.md
  courses/scu202/zh-Hant.md
Labels: content - course, content update

#2806 [COURSE] update course thumbnails
  courses/biz101/assets/thumbnail.webp
  courses/btc102/assets/thumbnail.webp
  courses/btc204/assets/thumbnail.webp
  courses/btc302/assets/fr/043.png
  courses/btc302/assets/fr/043.webp
  courses/btc302/assets/fr/061.png
  courses/btc302/assets/fr/061.webp
  courses/btc302/en.md
  courses/btc302/fr.md
  courses/cyp201/assets/thumbnail.webp
  courses/eco102/assets/thumbnail.webp
  courses/eco201/assets/thumbnail.webp
  courses/eco204/assets/thumbnail.webp
  courses/lnp201/assets/thumbnail.webp
  courses/min201/assets/thumbnail.webp
  courses/pos305/hi.md
  courses/scu101/assets/thumbnail.webp
Labels: content - course, content - images

#2807 [TUTORIAL] Update Bull Bitcoin Wallet
  tutorials/wallet/bull-bitcoin/fr.md
Labels: content - tutorial, content update

#2567 [PROOFREADING] tutorial/session app - SR-Latin
  tutorials/computer-security/session/sr-Latn.md
Labels: content proofreading, content - tutorial, language - sr

#2568 [PROOFREADING] TUTORIAL - Tailscale SR-Latin
  tutorials/computer-security/tailscale/sr-Latn.md
Labels: content proofreading, content - tutorial, language - sr

#2621 [PROOFREADING] His201 - Polish
  courses/his201/pl.md
Labels: content proofreading, language - pl, content - course

#2592 [PROOFREADING] scu101 - Indonesian
  courses/scu101/id.md
Labels: content proofreading, content - course, language - id

#2716 [PROOFREADING] tutorials/contribution - sw
  tutorials/contribution/add-bet/sw.md
  tutorials/contribution/add-book/sw.md
  tutorials/contribution/add-builder/sw.md
  tutorials/contribution/add-conference-replay/sw.md
  tutorials/contribution/add-event/sw.md
  tutorials/contribution/add-podcast/sw.md
  tutorials/contribution/create-github-account/sw.md
  tutorials/contribution/create-teacher-profile/sw.md
  tutorials/contribution/github-desktop-work-environment/sw.md
  tutorials/contribution/local-deployment-of-pbn-platform/sw.md
  tutorials/contribution/pbn-certificate-timestamping/sw.md
  tutorials/contribution/proofreading-guidelines/sw.md
  tutorials/contribution/proofreading-review-tutorial/sw.md
  tutorials/contribution/weblate-add-new-language/sw.md
  tutorials/contribution/weblate-translate-front-end/sw.md
  tutorials/contribution/write-tutorials-git-expert/sw.md
  tutorials/contribution/write-tutorials-github-desktop-intermediate/sw.md
  tutorials/contribution/write-tutorials-github-web-beginner/sw.md
  tutorials/contribution/write-tutorials/sw.md
  tutorials/mining/bitaxe/sw.md
Labels: content proofreading, content - tutorial, language - sw

#2714 [PROOFREAING] csv402+quizzes - es
  courses/csv402/en.md
  courses/csv402/es.md
  courses/csv402/quizz/000/es.yml
  courses/csv402/quizz/001/es.yml
  courses/csv402/quizz/002/es.yml
  courses/csv402/quizz/003/es.yml
  courses/csv402/quizz/005/es.yml
  courses/csv402/quizz/006/en.yml
  courses/csv402/quizz/006/es.yml
  courses/csv402/quizz/007/es.yml
  courses/csv402/quizz/008/es.yml
  courses/csv402/quizz/009/es.yml
  courses/csv402/quizz/010/es.yml
  courses/csv402/quizz/011/es.yml
  courses/csv402/quizz/012/es.yml
  courses/csv402/quizz/013/es.yml
  courses/csv402/quizz/014/es.yml
  courses/csv402/quizz/015/es.yml
  courses/csv402/quizz/016/es.yml
  courses/csv402/quizz/017/es.yml
  courses/csv402/quizz/018/es.yml
  courses/csv402/quizz/019/es.yml
  courses/csv402/quizz/020/es.yml
  courses/csv402/quizz/021/es.yml
  courses/csv402/quizz/022/es.yml
  courses/csv402/quizz/023/es.yml
  courses/csv402/quizz/024/es.yml
  courses/csv402/quizz/025/es.yml
  courses/csv402/quizz/026/es.yml
  courses/csv402/quizz/027/es.yml
  courses/csv402/quizz/028/es.yml
  courses/csv402/quizz/029/es.yml
  courses/csv402/quizz/030/es.yml
  courses/csv402/quizz/031/es.yml
  courses/csv402/quizz/032/es.yml
  courses/csv402/quizz/033/es.yml
  courses/csv402/quizz/034/es.yml
  courses/csv402/quizz/035/es.yml
  courses/csv402/quizz/036/es.yml
  courses/csv402/quizz/037/es.yml
  courses/csv402/quizz/038/es.yml
  courses/csv402/quizz/039/es.yml
  courses/csv402/quizz/040/es.yml
  courses/csv402/quizz/041/es.yml
  courses/csv402/quizz/042/es.yml
  courses/csv402/quizz/043/es.yml
  courses/csv402/quizz/044/es.yml
  courses/csv402/quizz/045/es.yml
  courses/csv402/quizz/047/es.yml
  courses/csv402/quizz/048/es.yml
  courses/csv402/quizz/049/es.yml
  courses/csv402/quizz/050/es.yml
  courses/csv402/quizz/051/es.yml
  courses/csv402/quizz/052/es.yml
  courses/csv402/quizz/053/es.yml
  courses/csv402/quizz/054/es.yml
  courses/csv402/quizz/055/es.yml
  courses/csv402/quizz/056/es.yml
  courses/csv402/quizz/058/es.yml
  courses/csv402/quizz/059/es.yml
Labels: content proofreading, language - es, content - course, content - quiz
