Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-08, with the labels that each got.

#2835 [TUTORIAL] Add comprehensive Mullvad Browser tutorial in French
  tutorials/computer-security/mullvad-browser/assets/cover.webp
  tutorials/computer-security/mullvad-browser/assets/fr/01.webp
  tutorials/computer-security/mullvad-browser/assets/fr/02.webp
  tutorials/computer-security/mullvad-browser/assets/fr/03.webp
  tutorials/computer-security/mullvad-browser/assets/fr/04.webp
  tutorials/computer-security/mullvad-browser/assets/fr/05.webp
  tutorials/computer-security/mullvad-browser/assets/fr/06.webp
  tutorials/computer-security/mullvad-browser/assets/logo.webp
  tutorials/computer-security/mullvad-browser/fr.md
  tutorials/computer-security/mullvad-browser/tutorial.yml
Labels: content - tutorial, content creation

#2842 [ECO 102] Fix thumbnail.webp
  courses/eco102/assets/thumbnail.webp
Labels: bug, content - course

#2719 [TUTORIAL] Manual Coin Selection
  tutorials/privacy/manual-coin-selection/assets/cover.webp
  tutorials/privacy/manual-coin-selection/assets/en/01.webp
  tutorials/privacy/manual-coin-selection/assets/en/02.webp
  tutorials/privacy/manual-coin-selection/assets/en/03.webp
  tutorials/privacy/manual-coin-selection/assets/en/04.webp
  tutorials/privacy/manual-coin-selection/assets/en/05.webp
  tutorials/privacy/manual-coin-selection/assets/en/06.webp
  tutorials/privacy/manual-coin-selection/assets/en/07.webp
  tutorials/privacy/manual-coin-selection/assets/en/08.webp
  tutorials/privacy/manual-coin-selection/assets/en/09.webp
  tutorials/privacy/manual-coin-selection/assets/en/10.webp
  tutorials/privacy/manual-coin-selection/assets/en/11.webp
  tutorials/privacy/manual-coin-selection/assets/en/12.webp
  tutorials/privacy/manual-coin-selection/assets/en/13.webp
  tutorials/privacy/manual-coin-selection/assets/en/14.webp
  tutorials/privacy/manual-coin-selection/assets/en/15.webp
  tutorials/privacy/manual-coin-selection/assets/en/16.webp
  tutorials/privacy/manual-coin-selection/assets/en/17.webp
  tutorials/privacy/manual-coin-selection/assets/en/18.webp
  tutorials/privacy/manual-coin-selection/assets/en/19.webp
  tutorials/privacy/manual-coin-selection/assets/en/21.webp
  tutorials/privacy/manual-coin-selection/assets/en/22.webp
  tutorials/privacy/manual-coin-selection/assets/en/23.webp
  tutorials/privacy/manual-coin-selection/assets/en/24.webp
  tutorials/privacy/manual-coin-selection/assets/en/26.webp
  tutorials/privacy/manual-coin-selection/assets/en/27.webp
  tutorials/privacy/manual-coin-selection/assets/en/28.webp
  tutorials/privacy/manual-coin-selection/assets/en/29.webp
  tutorials/privacy/manual-coin-selection/assets/en/30.webp
  tutorials/privacy/manual-coin-selection/assets/en/31.webp
  tutorials/privacy/manual-coin-selection/assets/en/32.webp
  tutorials/privacy/manual-coin-selection/assets/en/34.webp
  tutorials/privacy/manual-coin-selection/assets/en/35.webp
  tutorials/privacy/manual-coin-selection/assets/en/36.webp
  tutorials/privacy/manual-coin-selection/assets/en/37.webp
  tutorials/privacy/manual-coin-selection/assets/en/38.webp
  tutorials/privacy/manual-coin-selection/assets/en/39.webp
  tutorials/privacy/manual-coin-selection/assets/en/40.webp
  tutorials/privacy/manual-coin-selection/assets/en/41.webp
  tutorials/privacy/manual-coin-selection/assets/en/42.webp
  tutorials/privacy/manual-coin-selection/assets/en/43.webp
  tutorials/privacy/manual-coin-selection/assets/logo.webp
  tutorials/privacy/manual-coin-selection/it.md
  tutorials/privacy/manual-coin-selection/tutorial.yml
Labels: language - it, content - tutorial, content creation

#2790 [PODCAST] Remove podcast
  .gitignore
  resources/podcasts/parlons-bitcoin/assets/logo.webp
  resources/podcasts/parlons-bitcoin/podcast.yml
Labels: documentation, content - resource, content update

#2856 [TUTORIAL] Update Blockstream Green 2FA
  tutorials/wallet/blockstream-green-2FA/cs.md
  tutorials/wallet/blockstream-green-2FA/de.md
  tutorials/wallet/blockstream-green-2FA/en.md
  tutorials/wallet/blockstream-green-2FA/es.md
  tutorials/wallet/blockstream-green-2FA/et.md
  tutorials/wallet/blockstream-green-2FA/fa.md
  tutorials/wallet/blockstream-green-2FA/fi.md
  tutorials/wallet/blockstream-green-2FA/fr.md
  tutorials/wallet/blockstream-green-2FA/hi.md
  tutorials/wallet/blockstream-green-2FA/id.md
  tutorials/wallet/blockstream-green-2FA/it.md
  tutorials/wallet/blockstream-green-2FA/ja.md
  tutorials/wallet/blockstream-green-2FA/nb-NO.md
  tutorials/wallet/blockstream-green-2FA/pl.md
  tutorials/wallet/blockstream-green-2FA/pt.md
  tutorials/wallet/blockstream-green-2FA/ru.md
  tutorials/wallet/blockstream-green-2FA/sr-Latn.md
  tutorials/wallet/blockstream-green-2FA/sv.md
  tutorials/wallet/blockstream-green-2FA/sw.md
  tutorials/wallet/blockstream-green-2FA/vi.md
  tutorials/wallet/blockstream-green-2FA/zh-Hans.md
  tutorials/wallet/blockstream-green-2FA/zh-Hant.md
Labels: content - tutorial, content update

#2862 [NET 302] Add links
  courses/net302/fr.md
Labels: content - course, content update

#2858 [TUTORIAL] Tando
  tutorials/exchange/tando/assets/cover.webp
  tutorials/exchange/tando/assets/fr/01.webp
  tutorials/exchange/tando/assets/fr/02.webp
  tutorials/exchange/tando/assets/fr/03.webp
  tutorials/exchange/tando/assets/fr/04.webp
  tutorials/exchange/tando/assets/fr/05.webp
  tutorials/exchange/tando/assets/fr/06.webp
  tutorials/exchange/tando/assets/fr/07.webp
  tutorials/exchange/tando/assets/fr/08.webp
  tutorials/exchange/tando/fr.md
  tutorials/exchange/tando/tutorial.yml
Labels: content - tutorial, content creation

#2843 [TUTORIAL] Add LibreWolf browser privacy tutorial (French)
  tutorials/computer-security/librewolf/assets/cover.webp
  tutorials/computer-security/librewolf/assets/fr/01.webp
  tutorials/computer-security/librewolf/assets/fr/02.webp
  tutorials/computer-security/librewolf/assets/fr/03.webp
  tutorials/computer-security/librewolf/assets/fr/04.webp
  tutorials/computer-security/librewolf/assets/fr/05.webp
  tutorials/computer-security/librewolf/assets/fr/06.webp
  tutorials/computer-security/librewolf/assets/fr/07.webp
  tutorials/computer-security/librewolf/assets/fr/08.webp
  tutorials/computer-security/librewolf/fr.md
  tutorials/computer-security/librewolf/tutorial.yml
Labels: content - tutorial, content creation

#2880 [PROOFREADING] proofreading-guidelines - Italian
  tutorials/contribution/proofreading-guidelines/it.md
Labels: content proofreading, language - it, content - tutorial

#2673 [PROOFREADING] POS305 - SR Latin
  courses/pos305/sr-Latn.md
Labels: content proofreading, content - course, language - sr

#2884 [PROOFREADING] tutorials/computer-security - Spanish
  tutorials/computer-security/authy/es.md
  tutorials/computer-security/bitwarden/es.md
  tutorials/computer-security/grapheneos/es.md
  tutorials/computer-security/integrity-authenticity/es.md
  tutorials/computer-security/ivpn/es.md
  tutorials/computer-security/keepass/es.md
  tutorials/computer-security/keet/es.md
  tutorials/computer-security/ledger-fido-u2f/es.md
  tutorials/computer-security/linux-mint/es.md
  tutorials/computer-security/ln-vpn/es.md
  tutorials/computer-security/mullvad/es.md
  tutorials/computer-security/olvid/es.md
  tutorials/computer-security/proton-drive/es.md
  tutorials/computer-security/proton-mail/es.md
  tutorials/computer-security/security-key/es.md
  tutorials/computer-security/session/es.md
  tutorials/computer-security/signal/es.md
  tutorials/computer-security/simple-login/es.md
  tutorials/computer-security/simplex-chat/es.md
  tutorials/computer-security/tails/es.md
  tutorials/computer-security/tailscale/es.md
  tutorials/computer-security/telegram-account/es.md
  tutorials/computer-security/threema/es.md
  tutorials/computer-security/tor-browser/es.md
  tutorials/computer-security/trezor-u2f-fido2/es.md
  tutorials/computer-security/ubuntu/es.md
  tutorials/computer-security/veracrypt/es.md
Labels: content proofreading, language - es, content - tutorial

#2885 [TUTORIAL] Update Passphrase
  tutorials/wallet/passphrase/cs.md
  tutorials/wallet/passphrase/de.md
  tutorials/wallet/passphrase/en.md
  tutorials/wallet/passphrase/es.md
  tutorials/wallet/passphrase/et.md
  tutorials/wallet/passphrase/fa.md
  tutorials/wallet/passphrase/fi.md
  tutorials/wallet/passphrase/fr.md
  tutorials/wallet/passphrase/hi.md
  tutorials/wallet/passphrase/id.md
  tutorials/wallet/passphrase/it.md
  tutorials/wallet/passphrase/ja.md
  tutorials/wallet/passphrase/nb-NO.md
  tutorials/wallet/passphrase/pl.md
  tutorials/wallet/passphrase/pt.md
  tutorials/wallet/passphrase/ru.md
  tutorials/wallet/passphrase/sr-Latn.md
  tutorials/wallet/passphrase/sv.md
  tutorials/wallet/passphrase/sw.md
  tutorials/wallet/passphrase/vi.md
  tutorials/wallet/passphrase/zh-Hans.md
  tutorials/wallet/passphrase/zh-Hant.md
Labels: content - tutorial, content update

#2893 [TUTORIAL] Add Whonix
  tutorials/computer-security/whonix/assets/cover.webp
  tutorials/computer-security/whonix/assets/fr/02.webp
  tutorials/computer-security/whonix/assets/fr/03.webp
  tutorials/computer-security/whonix/assets/fr/04.webp
  tutorials/computer-security/whonix/assets/fr/05.webp
  tutorials/computer-security/whonix/assets/fr/06.webp
  tutorials/computer-security/whonix/assets/fr/07.webp
  tutorials/computer-security/whonix/assets/fr/08.webp
  tutorials/computer-security/whonix/assets/fr/09.webp
  tutorials/computer-security/whonix/assets/fr/10.webp
  tutorials/computer-security/whonix/assets/fr/11.webp
  tutorials/computer-security/whonix/assets/fr/12.webp
  tutorials/computer-security/whonix/assets/logo.webp
  tutorials/computer-security/whonix/fr.md
  tutorials/computer-security/whonix/tutorial.yml
Labels: content - tutorial, content creation

#2902 [COURSE] SCU202 add links to new tutorials
  courses/scu202/cs.md
  courses/scu202/de.md
  courses/scu202/en.md
  courses/scu202/es.md
  courses/scu202/et.md
  courses/scu202/fa.md
  courses/scu202/fi.md
  courses/scu202/fr.md
  courses/scu202/hi.md
  courses/scu202/id.md
  courses/scu202/it.md
  courses/scu202/ja.md
  courses/scu202/nb-NO.md
  courses/scu202/nl.md
  courses/scu202/pl.md
  courses/scu202/pt.md
  courses/scu202/ru.md
  courses/scu202/sr-Latn.md
  courses/scu202/sv.md
  courses/scu202/sw.md
  courses/scu202/vi.md
  courses/scu202/zh-Hans.md
  courses/scu202/zh-Hant.md
Labels: content - course, content update

#2912 [COURSE] CYP 201 Update descriptors chapter
  courses/cyp201/cs.md
  courses/cyp201/de.md
  courses/cyp201/en.md
  courses/cyp201/es.md
  courses/cyp201/et.md
  courses/cyp201/fa.md
  courses/cyp201/fi.md
  courses/cyp201/fr.md
  courses/cyp201/hi.md
  courses/cyp201/id.md
  courses/cyp201/it.md
  courses/cyp201/ja.md
  courses/cyp201/nb-NO.md
  courses/cyp201/nl.md
  courses/cyp201/pl.md
  courses/cyp201/pt.md
  courses/cyp201/ru.md
  courses/cyp201/sr-Latn.md
  courses/cyp201/sv.md
  courses/cyp201/sw.md
  courses/cyp201/vi.md
  courses/cyp201/zh-Hans.md
  courses/cyp201/zh-Hant.md
Labels: content - course, content update

#2911 [TUTORIAL] Complete Firefox privacy configuration guide in French
  tutorials/computer-security/firefox/assets/cover.webp
  tutorials/computer-security/firefox/assets/fr/01.webp
  tutorials/computer-security/firefox/assets/fr/02.webp
  tutorials/computer-security/firefox/assets/fr/03.webp
  tutorials/computer-security/firefox/assets/fr/04.webp
  tutorials/computer-security/firefox/assets/fr/05.webp
  tutorials/computer-security/firefox/assets/fr/06.webp
  tutorials/computer-security/firefox/assets/fr/07.webp
  tutorials/computer-security/firefox/assets/fr/08.webp
  tutorials/computer-security/firefox/assets/fr/09.webp
  tutorials/computer-security/firefox/assets/fr/10.webp
  tutorials/computer-security/firefox/assets/fr/11.webp
  tutorials/computer-security/firefox/assets/fr/12.webp
  tutorials/computer-security/firefox/assets/fr/13.webp
  tutorials/computer-security/firefox/assets/fr/14.webp
  tutorials/computer-security/firefox/assets/fr/15.webp
  tutorials/computer-security/firefox/assets/logo.webp
  tutorials/computer-security/firefox/fr.md
  tutorials/computer-security/firefox/tutorial.yml
Labels: content - tutorial, content creation

#2916 [NET302] English translation
  courses/net302/en.md
Labels: language - en, content - course, auto-translate

#2381 [PROOFREADING] Add a tutorial expert - Italian
  tutorials/contribution/write-tutorials-git-expert/it.md
Labels: content proofreading, language - it, content - tutorial

#2944 [PROOFREADING] Add-new-language + proofreading-review-tutorial - Italian
  tutorials/contribution/proofreading-review-tutorial/it.md
  tutorials/contribution/weblate-add-new-language/it.md
Labels: content proofreading, language - it, content - tutorial

#2946 Fix thumbnails
  courses/btc101/assets/thumbnail.webp
  courses/csv402/assets/thumbnail.webp
  courses/cyp302/assets/thumbnail.webp
  courses/lnp201/assets/thumbnail.webp
Labels: content - course, content update

#2397 [PROOFREADING] Adding a podcast - Italian
  tutorials/contribution/add-podcast/it.md
Labels: content proofreading, language - it, content - tutorial

#2406 [PROOFREADING] GitHub Account - Italian
  tutorials/contribution/create-github-account/it.md
Labels: content proofreading, language - it, content - tutorial

#2989 [TUTORIAL] F-Droid
  tutorials/computer-security/f-droid/assets/cover.webp
  tutorials/computer-security/f-droid/assets/fr/02.webp
  tutorials/computer-security/f-droid/assets/fr/03.webp
  tutorials/computer-security/f-droid/assets/fr/04.webp
  tutorials/computer-security/f-droid/assets/fr/05.webp
  tutorials/computer-security/f-droid/assets/fr/06.webp
  tutorials/computer-security/f-droid/assets/fr/07.webp
  tutorials/computer-security/f-droid/assets/fr/08.webp
  tutorials/computer-security/f-droid/assets/fr/09.webp
  tutorials/computer-security/f-droid/assets/logo.webp
  tutorials/computer-security/f-droid/fr.md
  tutorials/computer-security/f-droid/tutorial.yml
Labels: content - tutorial, content creation

#3019 [TYPO] BTC101 FR hot fix
  courses/btc101/fr.md
Labels: content typo, content - course

#2969 [SCRIPT] Adding new metadata script
  scripts/proofreading-metadata/Archive/check_proofreading_section.py
  scripts/proofreading-metadata/Archive/get_proofreading_progress.py
  scripts/proofreading-metadata/Archive/proofreading.py
  scripts/proofreading-metadata/Archive/set-proofreading-reward.py
  scripts/proofreading-metadata/batch_add_contributor_names.py
Labels: scripts

#2701 [PODCAST] Dvadeset Jedan
  resources/podcasts/dvadeset-jedan-podcast/assets/logo.webp
  resources/podcasts/dvadeset-jedan-podcast/podcast.yml
Labels: content - resource, content creation

#2986 [DOCS] Update language code for resources
  docs/PBN-template-repo/resources/channels/best-yt-channel-ever/channel.yml
  docs/PBN-template-repo/resources/conferences/awesome-conference-replay-YYYY/conference.yml
  docs/PBN-template-repo/resources/movies/beautiful-documentary/movie.yml
  docs/PBN-template-repo/resources/newsletters/awesome-newsletter/newsletter.yml
  docs/PBN-template-repo/resources/podcasts/podcastname/podcast.yml
  docs/PBN-template-repo/resources/projects/community-project/project.yml
Labels: documentation

#2905 [TUTORIAL] Add Accounting BTC Payments, Boost Customers Spending BTC
  professors/paolo-preto/assets/profile.webp
  professors/paolo-preto/professor.yml
  tutorials/business/accounting-payments/assets/cover.webp
  tutorials/business/accounting-payments/assets/en/01.webp
  tutorials/business/accounting-payments/assets/logo.webp
  tutorials/business/accounting-payments/en.md
  tutorials/business/accounting-payments/it.md
  tutorials/business/accounting-payments/tutorial.yml
  tutorials/business/help-spend-btc/assets/cover.webp
  tutorials/business/help-spend-btc/assets/logo.webp
  tutorials/business/help-spend-btc/en.md
  tutorials/business/help-spend-btc/it.md
  tutorials/business/help-spend-btc/tutorial.yml
  tutorials/contribution/write-tutorials-git-expert/tutorial.yml
  tutorials/contribution/write-tutorials-github-desktop-intermediate/tutorial.yml
  tutorials/contribution/write-tutorials-github-web-beginner/tutorial.yml
Labels: content - tutorial, content creation

#2926 [TUTORIAL] Add Airgapped PI Zero
  tutorials/computer-security/pc-airgap-low-budget/assets/cover.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/01.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/02.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/03.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/04.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/05.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/06.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/07.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/08.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/09.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/10.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/11.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/12.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/13.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/14.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/15.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/16.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/17.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/18.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/19.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/20.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/21.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/22.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/23.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/24.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/25.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/26.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/27.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/28.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/29.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/30.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/31.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/32.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/33.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/it/34.webp
  tutorials/computer-security/pc-airgap-low-budget/assets/logo.webp
  tutorials/computer-security/pc-airgap-low-budget/it.md
  tutorials/computer-security/pc-airgap-low-budget/tutorial.yml
Labels: content - tutorial, content creation

#3037 [SCRIPTS] Delete fix-title.py
  resources/fix-title.py
Labels: bug

#3030 [TUTORIAL] Manjaro
  tutorials/computer-security/manjaro/assets/cover.webp
  tutorials/computer-security/manjaro/assets/fr/01.webp
  tutorials/computer-security/manjaro/assets/fr/02.webp
  tutorials/computer-security/manjaro/assets/fr/03.webp
  tutorials/computer-security/manjaro/assets/fr/04.webp
  tutorials/computer-security/manjaro/assets/fr/05.webp
  tutorials/computer-security/manjaro/assets/fr/06.webp
  tutorials/computer-security/manjaro/assets/fr/07.webp
  tutorials/computer-security/manjaro/assets/fr/08.webp
  tutorials/computer-security/manjaro/assets/fr/09.webp
  tutorials/computer-security/manjaro/assets/fr/10.webp
  tutorials/computer-security/manjaro/assets/fr/11.webp
  tutorials/computer-security/manjaro/assets/fr/12.webp
  tutorials/computer-security/manjaro/assets/fr/13.webp
  tutorials/computer-security/manjaro/assets/fr/14.webp
  tutorials/computer-security/manjaro/assets/fr/15.webp
  tutorials/computer-security/manjaro/assets/logo.webp
  tutorials/computer-security/manjaro/fr.md
  tutorials/computer-security/manjaro/tutorial.yml
Labels: content - tutorial, content creation

#3041 [BIZ 101] Fix tabs zh-hant hi
  courses/biz101/hi.md
  courses/biz101/zh-Hant.md
Labels: bug, content - course

#3042 [BIZ 101] Update 3.2
  courses/biz101/cs.md
  courses/biz101/de.md
  courses/biz101/en.md
  courses/biz101/es.md
  courses/biz101/et.md
  courses/biz101/fa.md
  courses/biz101/fi.md
  courses/biz101/fr.md
  courses/biz101/hi.md
  courses/biz101/id.md
  courses/biz101/it.md
  courses/biz101/ja.md
  courses/biz101/nb-NO.md
  courses/biz101/nl.md
  courses/biz101/pl.md
  courses/biz101/pt.md
  courses/biz101/ru.md
  courses/biz101/sr-Latn.md
  courses/biz101/sv.md
  courses/biz101/sw.md
  courses/biz101/tr.md
  courses/biz101/vi.md
  courses/biz101/zh-Hans.md
  courses/biz101/zh-Hant.md
Labels: content - course, content update

#3040 [EVENTS] TESTNET Planb week events
  events/arkade-day/assets/thumbnail.webp
  events/arkade-day/event.yml
  events/b-cert-plan-b-forum-d1/assets/thumbnail.webp
  events/b-cert-plan-b-forum-d1/event.yml
  events/b-cert-plan-b-forum-d2/assets/thumbnail.webp
  events/b-cert-plan-b-forum-d2/event.yml
  events/bitcoin-association-switzerland/assets/thumbnail.webp
  events/bitcoin-association-switzerland/event.yml
  events/cyphertank-1/assets/thumbnail.webp
  events/cyphertank-1/event.yml
  events/cyphertank-2/assets/thumbnail.webp
  events/cyphertank-2/event.yml
  events/diy-jade/assets/thumbnail.webp
  events/diy-jade/event.yml
  events/diy-specter/assets/thumbnail.webp
  events/diy-specter/event.yml
  events/gamma-summit/assets/thumbnail.webp
  events/gamma-summit/event.yml
  events/inauguration-of-the-honorary-consulate-of-el-salvador-in-the-city-of-lugano/assets/thumbnail.webp
  events/inauguration-of-the-honorary-consulate-of-el-salvador-in-the-city-of-lugano/event.yml
  events/info-point/assets/thumbnail.webp
  events/info-point/event.yml
  events/massadoption/event.yml
  events/plan-b-lugano-forum-2025/event.yml
  events/plan-b-network-masterclass/assets/thumbnail.webp
  events/plan-b-network-masterclass/event.yml
  events/plan-₿-game-show/assets/thumbnail.webp
  events/plan-₿-game-show/event.yml
  events/podcast-recording-with-knut-and--luc-de-wolf/assets/thumbnail.webp
  events/podcast-recording-with-knut-and--luc-de-wolf/event.yml
  events/satoshi-spritz-special/assets/thumbnail.webp
  events/satoshi-spritz-special/event.yml
  events/shot-for-the-moon/assets/thumbnail.webp
  events/shot-for-the-moon/event.yml
  events/spazio-21-day1/assets/thumbnail.webp
  events/spazio-21-day1/event.yml
  events/spazio-21-day2/assets/thumbnail.webp
  events/spazio-21-day2/event.yml
  events/terra-bitcoin-dinner/assets/thumbnail.webp
  events/terra-bitcoin-dinner/event.yml
  events/thunderstorm-dinner/assets/thumbnail.webp
  events/thunderstorm-dinner/event.yml
  events/thunderstorm/assets/thumbnail.webp
  events/thunderstorm/event.yml
  events/villaggio-bitcoin-paid/assets/thumbnail.webp
  events/villaggio-bitcoin-paid/event.yml
  events/vip-speaker-dinner/assets/thumbnail.webp
  events/vip-speaker-dinner/event.yml
Labels: in progress, content - event, merge-ready

#3050 Updates for PlanB Weeks Events
  events/arkade-day/event.yml
  events/b-cert-plan-b-forum-d1/event.yml
  events/b-cert-plan-b-forum-d2/assets/thumbnail.webp
  events/b-cert-plan-b-forum-d2/event.yml
  events/bitcoin-association-switzerland/assets/thumbnail.webp
  events/bitcoin-association-switzerland/event.yml
  events/cyphertank-1/event.yml
  events/cyphertank-2/event.yml
  events/diy-jade/event.yml
  events/diy-specter/event.yml
  events/gamma-summit/event.yml
  events/inauguration-of-the-honorary-consulate-of-el-salvador-in-the-city-of-lugano/event.yml
  events/info-point/event.yml
  events/plan-b-game-show/assets/thumbnail.webp
  events/plan-b-game-show/event.yml
  events/plan-b-network-masterclass/event.yml
  events/plan-₿-game-show/assets/thumbnail.webp
  events/podcast-recording-with-knut-and--luc-de-wolf/event.yml
  events/satoshi-spritz-special/assets/thumbnail.webp
  events/satoshi-spritz-special/event.yml
  events/shot-for-the-moon/event.yml
  events/spazio-21-day1/event.yml
  events/spazio-21-day2/event.yml
  events/terra-bitcoin-dinner/event.yml
  events/thunderstorm-dinner/event.yml
  events/thunderstorm-lugano-2025/assets/thumbnail.webp
  events/thunderstorm-lugano-2025/event.yml
  events/thunderstorm/assets/thumbnail.webp
  events/villaggio-bitcoin-paid/event.yml
  events/vip-speaker-dinner/event.yml
Labels: content update, content - event, merge-ready

#3150 [TUTORIAL] Update 2 logos
  tutorials/business/wallet-of-satoshi-pos/assets/logo.webp
  tutorials/wallet/jade/assets/logo.webp
Labels: content - tutorial, format update

#3045 [TUTORIAL] Add Ente Auth 2FA authenticator guide
  tutorials/computer-security/ente-auth/assets/cover.webp
  tutorials/computer-security/ente-auth/assets/fr/01.webp
  tutorials/computer-security/ente-auth/assets/fr/02.webp
  tutorials/computer-security/ente-auth/assets/fr/03.webp
  tutorials/computer-security/ente-auth/assets/fr/04.webp
  tutorials/computer-security/ente-auth/assets/fr/05.webp
  tutorials/computer-security/ente-auth/assets/fr/06.webp
  tutorials/computer-security/ente-auth/assets/fr/07.webp
  tutorials/computer-security/ente-auth/assets/fr/08.webp
  tutorials/computer-security/ente-auth/assets/fr/09.webp
  tutorials/computer-security/ente-auth/assets/fr/10.webp
  tutorials/computer-security/ente-auth/assets/fr/11.webp
  tutorials/computer-security/ente-auth/assets/fr/12.webp
  tutorials/computer-security/ente-auth/assets/fr/13.webp
  tutorials/computer-security/ente-auth/assets/fr/14.webp
  tutorials/computer-security/ente-auth/assets/fr/15.webp
  tutorials/computer-security/ente-auth/assets/fr/16.webp
  tutorials/computer-security/ente-auth/assets/fr/17.webp
  tutorials/computer-security/ente-auth/assets/fr/18.webp
  tutorials/computer-security/ente-auth/assets/fr/19.webp
  tutorials/computer-security/ente-auth/assets/logo.webp
  tutorials/computer-security/ente-auth/fr.md
  tutorials/computer-security/ente-auth/tutorial.yml
Labels: content - tutorial, content creation

#3156 [TUTORIAL] Fix Raspiblitz
  tutorials/node/raspiblitz/cs.md
  tutorials/node/raspiblitz/de.md
  tutorials/node/raspiblitz/en.md
  tutorials/node/raspiblitz/es.md
  tutorials/node/raspiblitz/et.md
  tutorials/node/raspiblitz/fa.md
  tutorials/node/raspiblitz/fi.md
  tutorials/node/raspiblitz/fr.md
  tutorials/node/raspiblitz/hi.md
  tutorials/node/raspiblitz/id.md
  tutorials/node/raspiblitz/it.md
  tutorials/node/raspiblitz/ja.md
  tutorials/node/raspiblitz/nb-NO.md
  tutorials/node/raspiblitz/nl.md
  tutorials/node/raspiblitz/pl.md
  tutorials/node/raspiblitz/pt.md
  tutorials/node/raspiblitz/ru.md
  tutorials/node/raspiblitz/sr-Latn.md
  tutorials/node/raspiblitz/sv.md
  tutorials/node/raspiblitz/sw.md
  tutorials/node/raspiblitz/vi.md
  tutorials/node/raspiblitz/zh-Hans.md
  tutorials/node/raspiblitz/zh-Hant.md
Labels: content - tutorial, content update

#3161 [BTC 101] Fix course
  courses/btc101/cs.md
  courses/btc101/de.md
  courses/btc101/en.md
  courses/btc101/es.md
  courses/btc101/et.md
  courses/btc101/fa.md
  courses/btc101/fi.md
  courses/btc101/fr.md
  courses/btc101/hi.md
  courses/btc101/id.md
  courses/btc101/it.md
  courses/btc101/ja.md
  courses/btc101/nb-NO.md
  courses/btc101/nl.md
  courses/btc101/pl.md
  courses/btc101/pt.md
  courses/btc101/rn.md
  courses/btc101/ru.md
  courses/btc101/si.md
  courses/btc101/sr-Latn.md
  courses/btc101/sv.md
  courses/btc101/sw.md
  courses/btc101/tr.md
  courses/btc101/vi.md
  courses/btc101/zh-Hans.md
  courses/btc101/zh-Hant.md
Labels: content - course, format update
