Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-03, with the labels that each got.

#1585 [FIX TYPO] Cyrillic in the text
  resources/newsletters/adler-crypto-insight/newsletter.yml
Labels: content typo, content - resource

#1606 [PROFESSOR] Add f205sats
  professors/f205sats/assets/profile.webp
  professors/f205sats/cs.yml
  professors/f205sats/de.yml
  professors/f205sats/en.yml
  professors/f205sats/es.yml
  professors/f205sats/et.yml
  professors/f205sats/fi.yml
  professors/f205sats/fr.yml
  professors/f205sats/id.yml
  professors/f205sats/it.yml
  professors/f205sats/ja.yml
  professors/f205sats/nb-NO.yml
  professors/f205sats/professor.yml
  professors/f205sats/pt.yml
  professors/f205sats/ru.yml
  professors/f205sats/vi.yml
  professors/f205sats/zh-Hans.yml
Labels: content creation, content - professors

#1610 [RESOURCE] Add Project BitcoinVoucherBot
  resources/projects/bitcoin-voucher-bot/assets/logo.webp
  resources/projects/bitcoin-voucher-bot/en.yml
  resources/projects/bitcoin-voucher-bot/it.yml
  resources/projects/bitcoin-voucher-bot/project.yml
Labels: content - resource, content creation

#1630 [CYP302] Fix formula typos
  courses/cyp302/cs.md
  courses/cyp302/de.md
  courses/cyp302/en.md
  courses/cyp302/et.md
  courses/cyp302/fi.md
  courses/cyp302/fr.md
  courses/cyp302/id.md
  courses/cyp302/it.md
  courses/cyp302/ja.md
  courses/cyp302/nb-NO.md
  courses/cyp302/pt.md
  courses/cyp302/ru.md
  courses/cyp302/vi.md
  courses/cyp302/zh-Hans.md
Labels: content typo, content - course, content formatting

#1665 Tutorial Local Environment and Spanish Content
  professors/jona-ramos/assets/profile.webp
  professors/jona-ramos/en.yml
  professors/jona-ramos/es.yml
  professors/jona-ramos/professor.yml
  resources/newsletters/btc-en-espanol/assets/thumbnail.webp
  resources/newsletters/btc-en-espanol/newsletter.yml
  resources/newsletters/lunaticoin-newsletter/assets/thumbnail.webp
  resources/newsletters/lunaticoin-newsletter/newsletter.yml
  resources/newsletters/tesis-bitcoin/assets/thumbnail.webp
  resources/newsletters/tesis-bitcoin/newsletter.yml
  tutorials/contribution/local-deployment-of-pbn-platform/assets/cover.webp
  tutorials/contribution/local-deployment-of-pbn-platform/assets/en/1.webp
  tutorials/contribution/local-deployment-of-pbn-platform/assets/en/2.webp
  tutorials/contribution/local-deployment-of-pbn-platform/assets/logo.webp
  tutorials/contribution/local-deployment-of-pbn-platform/en.md
  tutorials/contribution/local-deployment-of-pbn-platform/tutorial.yml
Labels: content - resource, content - tutorial, content creation

#1670 [DOCS] Edit formatting rules
  docs/PBN-template-repo/professors/pbn-author/professor.yml
  docs/PBN-template-repo/tutorials/category1/awesome-tutorial/tutorial.yml
  docs/PBN-template-repo/tutorials/category1/cool-tutorial/tutorial.yml
  docs/tutorial-categories.md
Labels: documentation, content formatting

#1672 [RESOURCE] Add Zaprite YT Channel
  resources/channels/zaprite/assets/thumbnail.webp
  resources/channels/zaprite/channel.yml
  resources/projects/zaprite/project.yml
Labels: content - resource, content creation

#1683 [BTC101] Edit fr.md
  courses/btc101/fr.md
  courses/btc101/id.md
  courses/btc101/nb-NO.md
  courses/btc101/pt.md
Labels: content typo, content - course

#1507 Jade Plus Green Wallet Proofreading (Simplified Chinese)
  tutorials/wallet/jade-plus-green/zh-Hans.md
Labels: content proofreading, content - tutorial, language - zh-Hans

#1513 RGB CLI Proofreading (Simplified Chinese)
  tutorials/node/rgb-cli/zh-Hans.md
Labels: content proofreading, content - tutorial, language - zh-Hans

#1556 proofreading-BTC101-farsi LNP201-farsi
  courses/btc101/fa.md
  courses/lnp201/fa.md
Labels: content proofreading, content - tutorial, reward pending, language - fa
