Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-02, with the labels that each got.

#1438 [REOSURCE] Fix Zum Wilden Michel Farm builder category
  resources/builders/zum-wilden-michel-farm/builder.yml
Labels: content - resource, content update

#1457 [RESOURCE] Add & Edit Books
  resources/books/cryptosovereignty/assets/cover_en.webp
  resources/books/cryptosovereignty/book.yml
  resources/books/cryptosovereignty/en.yml
  resources/books/cryptosovereignty/it.yml
  resources/books/take-back-your-freedom/assets/cover_ja.webp
  resources/books/take-back-your-freedom/book.yml
  resources/books/take-back-your-freedom/en.yml
  resources/books/take-back-your-freedom/ja.yml
  resources/books/the-bitcoin-standard/assets/cover_it.webp
  resources/books/the-bitcoin-standard/book.yml
  resources/books/the-bitcoin-standard/it.yml
  resources/books/the-sovereign-individual/book.yml
  resources/books/the-sovereign-individual/it.yml
Labels: content - resource, content creation

#1489 [TUTORIAL][RESOURCE] Add Nakamochi
  professors/nakamochi-team/assets/profile.webp
  professors/nakamochi-team/de.yml
  professors/nakamochi-team/en.yml
  professors/nakamochi-team/fr.yml
  professors/nakamochi-team/professor.yml
  resources/projects/nakamochi/assets/logo.webp
  resources/projects/nakamochi/builder.yml
  resources/projects/nakamochi/en.yml
  tutorials/node/nakamochi/assets/01.webp
  tutorials/node/nakamochi/assets/02.webp
  tutorials/node/nakamochi/assets/03.webp
  tutorials/node/nakamochi/assets/04.webp
  tutorials/node/nakamochi/assets/05.webp
  tutorials/node/nakamochi/assets/06.webp
  tutorials/node/nakamochi/assets/07.webp
  tutorials/node/nakamochi/de.md
  tutorials/node/nakamochi/en.md
  tutorials/node/nakamochi/tutorial.yml
Labels: content - tutorial, content creation

#1528 Fix to issue 1527
  courses/btc101/en.md
Labels: content typo

#1553 Fix nakamochi elysium tutos
  tutorials/node/nakamochi/cs.md
  tutorials/node/nakamochi/de.md
  tutorials/node/nakamochi/en.md
  tutorials/node/nakamochi/es.md
  tutorials/node/nakamochi/et.md
  tutorials/node/nakamochi/fi.md
  tutorials/node/nakamochi/fr.md
  tutorials/node/nakamochi/id.md
  tutorials/node/nakamochi/it.md
  tutorials/node/nakamochi/ja.md
  tutorials/node/nakamochi/nb-NO.md
  tutorials/node/nakamochi/pt.md
  tutorials/node/nakamochi/ru.md
  tutorials/node/nakamochi/tutorial.yml
  tutorials/node/nakamochi/vi.md
  tutorials/node/nakamochi/zh-Hans.md
  tutorials/wallet/elysium/assets/en/02.webp
  tutorials/wallet/elysium/assets/en/03.webp
  tutorials/wallet/elysium/assets/en/04.webp
  tutorials/wallet/elysium/assets/en/05.webp
  tutorials/wallet/elysium/assets/en/06.webp
  tutorials/wallet/elysium/assets/en/07.webp
  tutorials/wallet/elysium/assets/en/08.webp
  tutorials/wallet/elysium/assets/en/09.webp
  tutorials/wallet/elysium/assets/en/10.webp
  tutorials/wallet/elysium/assets/en/11.webp
  tutorials/wallet/elysium/assets/en/12.webp
  tutorials/wallet/elysium/assets/en/13.webp
  tutorials/wallet/elysium/assets/en/14.webp
  tutorials/wallet/elysium/assets/en/15.webp
  tutorials/wallet/elysium/assets/en/16.webp
  tutorials/wallet/elysium/assets/en/17.webp
  tutorials/wallet/elysium/cs.md
  tutorials/wallet/elysium/de.md
  tutorials/wallet/elysium/en.md
  tutorials/wallet/elysium/es.md
  tutorials/wallet/elysium/et.md
  tutorials/wallet/elysium/fi.md
  tutorials/wallet/elysium/fr.md
  tutorials/wallet/elysium/id.md
  tutorials/wallet/elysium/it.md
  tutorials/wallet/elysium/ja.md
  tutorials/wallet/elysium/nb-NO.md
  tutorials/wallet/elysium/pt.md
  tutorials/wallet/elysium/ru.md
  tutorials/wallet/elysium/vi.md
  tutorials/wallet/elysium/zh-Hans.md
  tutorials/wallet/passport/id.md
Labels: content typo, content - tutorial, content update

#1554 [SCRIPTS] requirements.txt, added one of many missing packages
  scripts/auto-translate/requirements.txt
Labels: documentation, scripts

#1566 New Events
  events/africa-bitcoin-conference-2025/assets/thumbnail.webp
  events/africa-bitcoin-conference-2025/event.yml
  events/ai-agents-casa-de-satoshi/assets/thumbnail.webp
  events/ai-agents-casa-de-satoshi/event.yml
  events/baltic-honeybadger-2025/assets/thumbnail.webp
  events/baltic-honeybadger-2025/event.yml
  events/barcelona-cyphers-conference/assets/thumbnail.webp
  events/barcelona-cyphers-conference/event.yml
  events/beechworth-bush-bash-2025/assets/thumbnail.webp
  events/beechworth-bush-bash-2025/event.yml
  events/bitcoin-bienes-raices-2025/bitcoin-vs-bienes-raices-2025/assets/thumbnail.webp
  events/bitcoin-bienes-raices-2025/bitcoin-vs-bienes-raices-2025/event.yml
  events/bitcoin-ireland-2025/assets/thumbnail.webp
  events/bitcoin-ireland-2025/event.yml
  events/bitplebs-summit-goa/assets/thumbnail.webp
  events/bitplebs-summit-goa/event.yml
  events/blocksize-wars-bitdevsmx-2025/assets/thumbnail.webp
  events/blocksize-wars-bitdevsmx-2025/event.yml
  resources/projects/barcelona-cyphers-conference/assets/thumbnail.webp
  resources/projects/barcelona-cyphers-conference/en.yml
  resources/projects/barcelona-cyphers-conference/project.yml
  resources/projects/bitcoin-ireland/assets/logo.webp
  resources/projects/bitcoin-ireland/en.yml
  resources/projects/bitcoin-ireland/project.yml
  resources/projects/la-casa-de-satoshi/assets/logo.webp
  resources/projects/la-casa-de-satoshi/en.yml
  resources/projects/la-casa-de-satoshi/project.yml
Labels: content - resource
