Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-09, with the labels that each got.

#3183 [CYP 302] Small correction
  courses/cyp302/cs.md
  courses/cyp302/de.md
  courses/cyp302/en.md
  courses/cyp302/es.md
  courses/cyp302/et.md
  courses/cyp302/fa.md
  courses/cyp302/fi.md
  courses/cyp302/fr.md
  courses/cyp302/hi.md
  courses/cyp302/id.md
  courses/cyp302/it.md
  courses/cyp302/ja.md
  courses/cyp302/nb-NO.md
  courses/cyp302/nl.md
  courses/cyp302/pl.md
  courses/cyp302/pt.md
  courses/cyp302/ru.md
  courses/cyp302/sr-Latn.md
  courses/cyp302/sv.md
  courses/cyp302/sw.md
  courses/cyp302/tr.md
  courses/cyp302/vi.md
  courses/cyp302/zh-Hans.md
  courses/cyp302/zh-Hant.md
Labels: content - course, content update

#3160 [PROFESSOR] Add runningbitcoin
  professors/runningbitcoin/assets/profile.webp
  professors/runningbitcoin/en.yml
  professors/runningbitcoin/professor.yml
Labels: content creation, content - professor

#3172 [TUTORIAL] Add Aegis Authenticator tutorial (French)
  tutorials/computer-security/aegis-authenticator/assets/cover.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/01.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/02.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/03.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/04.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/05.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/06.webp
  tutorials/computer-security/aegis-authenticator/assets/fr/07.webp
  tutorials/computer-security/aegis-authenticator/assets/logo.webp
  tutorials/computer-security/aegis-authenticator/fr.md
  tutorials/computer-security/aegis-authenticator/tutorial.yml
Labels: content - tutorial, content creation

#2852 [PROOFREADING] BIZ101 - English
  courses/biz101/en.md
Labels: content proofreading, language - en, content - course

#3199 [BTC102] Punctuation and typo fixes
  courses/btc102/en.md
Labels: language - en, content - course

#3202 [HIS 201] Update FR videos
  courses/his201/fr.md
Labels: content - course, content update

#2899 [PROOFREADING] PHI302 - French
  courses/phi302/fr.md
Labels: content proofreading, language - fr, content - course

#3154 [PROOFREADING] LNP201 Quizz - French
  courses/lnp201/quizz/000/fr.yml
  courses/lnp201/quizz/001/fr.yml
  courses/lnp201/quizz/002/fr.yml
  courses/lnp201/quizz/003/fr.yml
  courses/lnp201/quizz/004/fr.yml
  courses/lnp201/quizz/005/fr.yml
  courses/lnp201/quizz/006/fr.yml
  courses/lnp201/quizz/007/fr.yml
  courses/lnp201/quizz/008/fr.yml
  courses/lnp201/quizz/009/fr.yml
  courses/lnp201/quizz/010/fr.yml
  courses/lnp201/quizz/011/fr.yml
  courses/lnp201/quizz/012/fr.yml
  courses/lnp201/quizz/013/fr.yml
  courses/lnp201/quizz/014/fr.yml
  courses/lnp201/quizz/015/fr.yml
  courses/lnp201/quizz/016/fr.yml
  courses/lnp201/quizz/017/fr.yml
  courses/lnp201/quizz/018/fr.yml
  courses/lnp201/quizz/019/fr.yml
  courses/lnp201/quizz/020/fr.yml
  courses/lnp201/quizz/021/fr.yml
  courses/lnp201/quizz/022/fr.yml
  courses/lnp201/quizz/023/fr.yml
  courses/lnp201/quizz/024/fr.yml
  courses/lnp201/quizz/025/fr.yml
  courses/lnp201/quizz/026/fr.yml
  courses/lnp201/quizz/027/fr.yml
  courses/lnp201/quizz/028/fr.yml
  courses/lnp201/quizz/029/fr.yml
  courses/lnp201/quizz/030/fr.yml
  courses/lnp201/quizz/031/fr.yml
  courses/lnp201/quizz/032/fr.yml
  courses/lnp201/quizz/033/fr.yml
  courses/lnp201/quizz/034/fr.yml
  courses/lnp201/quizz/035/fr.yml
  courses/lnp201/quizz/036/fr.yml
  courses/lnp201/quizz/037/fr.yml
  courses/lnp201/quizz/038/fr.yml
  courses/lnp201/quizz/039/fr.yml
  courses/lnp201/quizz/040/fr.yml
  courses/lnp201/quizz/041/fr.yml
  courses/lnp201/quizz/042/fr.yml
  courses/lnp201/quizz/043/fr.yml
  courses/lnp201/quizz/044/fr.yml
  courses/lnp201/quizz/045/fr.yml
  courses/lnp201/quizz/046/fr.yml
  courses/lnp201/quizz/047/fr.yml
  courses/lnp201/quizz/048/fr.yml
  courses/lnp201/quizz/049/fr.yml
  courses/lnp201/quizz/050/fr.yml
  courses/lnp201/quizz/051/fr.yml
  courses/lnp201/quizz/052/fr.yml
  courses/lnp201/quizz/053/fr.yml
  courses/lnp201/quizz/054/fr.yml
Labels: language - fr, Second proofreading, content - quiz

#3257 [TUTORIAL] Fix Blixt
  tutorials/wallet/blixt/cs.md
  tutorials/wallet/blixt/de.md
  tutorials/wallet/blixt/en.md
  tutorials/wallet/blixt/es.md
  tutorials/wallet/blixt/et.md
  tutorials/wallet/blixt/fa.md
  tutorials/wallet/blixt/fi.md
  tutorials/wallet/blixt/fr.md
  tutorials/wallet/blixt/hi.md
  tutorials/wallet/blixt/id.md
  tutorials/wallet/blixt/it.md
  tutorials/wallet/blixt/ja.md
  tutorials/wallet/blixt/nb-NO.md
  tutorials/wallet/blixt/nl.md
  tutorials/wallet/blixt/pl.md
  tutorials/wallet/blixt/pt.md
  tutorials/wallet/blixt/ru.md
  tutorials/wallet/blixt/sr-Latn.md
  tutorials/wallet/blixt/sv.md
  tutorials/wallet/blixt/sw.md
  tutorials/wallet/blixt/tr.md
  tutorials/wallet/blixt/vi.md
  tutorials/wallet/blixt/zh-Hans.md
  tutorials/wallet/blixt/zh-Hant.md
Labels: bug, content - tutorial, content update

#3152 [PROOFREADING] ECO104 course + quizz - French
  courses/eco104/fr.md
  courses/eco104/quizz/007/fr.yml
  courses/eco104/quizz/009/fr.yml
  courses/eco104/quizz/010/fr.yml
  courses/eco104/quizz/016/fr.yml
  courses/eco104/quizz/017/fr.yml
  courses/eco104/quizz/018/fr.yml
  courses/eco104/quizz/019/fr.yml
  courses/eco104/quizz/020/fr.yml
  courses/eco104/quizz/024/fr.yml
  courses/eco104/quizz/026/fr.yml
  courses/eco104/quizz/029/fr.yml
  courses/eco104/quizz/030/fr.yml
  courses/eco104/quizz/031/fr.yml
  courses/eco104/quizz/032/fr.yml
Labels: language - fr, content - course, Second proofreading, content - quiz

#2418 [PROOFREADING] wallet/Electrum - Italian
  tutorials/wallet/electrum/it.md
Labels: content proofreading, language - it, content - tutorial, review required

#3270 [TUTORIAL] Fix LN VPN
  tutorials/computer-security/ln-vpn/cs.md
  tutorials/computer-security/ln-vpn/de.md
  tutorials/computer-security/ln-vpn/en.md
  tutorials/computer-security/ln-vpn/es.md
  tutorials/computer-security/ln-vpn/et.md
  tutorials/computer-security/ln-vpn/fa.md
  tutorials/computer-security/ln-vpn/fi.md
  tutorials/computer-security/ln-vpn/fr.md
  tutorials/computer-security/ln-vpn/hi.md
  tutorials/computer-security/ln-vpn/id.md
  tutorials/computer-security/ln-vpn/it.md
  tutorials/computer-security/ln-vpn/ja.md
  tutorials/computer-security/ln-vpn/nb-NO.md
  tutorials/computer-security/ln-vpn/nl.md
  tutorials/computer-security/ln-vpn/pl.md
  tutorials/computer-security/ln-vpn/pt.md
  tutorials/computer-security/ln-vpn/ru.md
  tutorials/computer-security/ln-vpn/sr-Latn.md
  tutorials/computer-security/ln-vpn/sv.md
  tutorials/computer-security/ln-vpn/sw.md
  tutorials/computer-security/ln-vpn/tr.md
  tutorials/computer-security/ln-vpn/vi.md
  tutorials/computer-security/ln-vpn/zh-Hans.md
  tutorials/computer-security/ln-vpn/zh-Hant.md
Labels: bug, content - tutorial, content update

#3271 [TUTORIAL] Fix Simple Login
  tutorials/computer-security/simple-login/assets/it/02.webp
  tutorials/computer-security/simple-login/assets/it/03.webp
  tutorials/computer-security/simple-login/assets/it/04.webp
  tutorials/computer-security/simple-login/assets/it/05.webp
  tutorials/computer-security/simple-login/assets/it/06.webp
  tutorials/computer-security/simple-login/assets/it/07.webp
  tutorials/computer-security/simple-login/assets/it/08.webp
  tutorials/computer-security/simple-login/assets/it/09.webp
  tutorials/computer-security/simple-login/assets/it/10.webp
  tutorials/computer-security/simple-login/assets/it/11.webp
  tutorials/computer-security/simple-login/assets/it/12.webp
  tutorials/computer-security/simple-login/assets/it/13.webp
  tutorials/computer-security/simple-login/assets/it/14.webp
  tutorials/computer-security/simple-login/assets/it/15.webp
  tutorials/computer-security/simple-login/assets/it/16.webp
  tutorials/computer-security/simple-login/assets/it/17.webp
  tutorials/computer-security/simple-login/assets/it/18.webp
  tutorials/computer-security/simple-login/assets/it/19.webp
  tutorials/computer-security/simple-login/assets/it/20.webp
  tutorials/computer-security/simple-login/assets/it/21.webp
  tutorials/computer-security/simple-login/assets/it/22.webp
  tutorials/computer-security/simple-login/assets/it/23.webp
  tutorials/computer-security/simple-login/assets/it/24.webp
  tutorials/computer-security/simple-login/cs.md
  tutorials/computer-security/simple-login/de.md
  tutorials/computer-security/simple-login/en.md
  tutorials/computer-security/simple-login/es.md
  tutorials/computer-security/simple-login/et.md
  tutorials/computer-security/simple-login/fa.md
  tutorials/computer-security/simple-login/fi.md
  tutorials/computer-security/simple-login/fr.md
  tutorials/computer-security/simple-login/hi.md
  tutorials/computer-security/simple-login/id.md
  tutorials/computer-security/simple-login/ja.md
  tutorials/computer-security/simple-login/nb-NO.md
  tutorials/computer-security/simple-login/nl.md
  tutorials/computer-security/simple-login/pl.md
  tutorials/computer-security/simple-login/pt.md
  tutorials/computer-security/simple-login/ru.md
  tutorials/computer-security/simple-login/sr-Latn.md
  tutorials/computer-security/simple-login/sv.md
  tutorials/computer-security/simple-login/sw.md
  tutorials/computer-security/simple-login/tr.md
  tutorials/computer-security/simple-login/vi.md
  tutorials/computer-security/simple-login/zh-Hans.md
  tutorials/computer-security/simple-login/zh-Hant.md
Labels: bug, content - tutorial, content update

#3275 [TUTORIAL] Simple Login - update logo.webp
  tutorials/computer-security/simple-login/assets/logo.webp
Labels: content - tutorial, format update

#3280 [TUTORIAL] Delete Sparrow Payjoin
  tutorials/privacy/payjoin-sparrow-wallet/assets/cover.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/de/1.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/en/1.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/es/1.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/fr/1.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/it/1.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/logo.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/notext/2.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/notext/3.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/notext/4.webp
  tutorials/privacy/payjoin-sparrow-wallet/assets/pt/1.webp
  tutorials/privacy/payjoin-sparrow-wallet/cs.md
  tutorials/privacy/payjoin-sparrow-wallet/de.md
  tutorials/privacy/payjoin-sparrow-wallet/en.md
  tutorials/privacy/payjoin-sparrow-wallet/es.md
  tutorials/privacy/payjoin-sparrow-wallet/et.md
  tutorials/privacy/payjoin-sparrow-wallet/fa.md
  tutorials/privacy/payjoin-sparrow-wallet/fi.md
  tutorials/privacy/payjoin-sparrow-wallet/fr.md
  tutorials/privacy/payjoin-sparrow-wallet/hi.md
  tutorials/privacy/payjoin-sparrow-wallet/id.md
  tutorials/privacy/payjoin-sparrow-wallet/it.md
  tutorials/privacy/payjoin-sparrow-wallet/ja.md
  tutorials/privacy/payjoin-sparrow-wallet/nb-NO.md
  tutorials/privacy/payjoin-sparrow-wallet/nl.md
  tutorials/privacy/payjoin-sparrow-wallet/pl.md
  tutorials/privacy/payjoin-sparrow-wallet/pt.md
  tutorials/privacy/payjoin-sparrow-wallet/ru.md
  tutorials/privacy/payjoin-sparrow-wallet/sr-Latn.md
  tutorials/privacy/payjoin-sparrow-wallet/sv.md
  tutorials/privacy/payjoin-sparrow-wallet/sw.md
  tutorials/privacy/payjoin-sparrow-wallet/tr.md
  tutorials/privacy/payjoin-sparrow-wallet/tutorial.yml
  tutorials/privacy/payjoin-sparrow-wallet/vi.md
  tutorials/privacy/payjoin-sparrow-wallet/zh-Hans.md
  tutorials/privacy/payjoin-sparrow-wallet/zh-Hant.md
Labels: content - tutorial, content update

#3285 [TUTORIAL] Fix - Make customers spending bitcoin
  tutorials/business/help-spend-btc/cs.md
  tutorials/business/help-spend-btc/de.md
  tutorials/business/help-spend-btc/en.md
  tutorials/business/help-spend-btc/es.md
  tutorials/business/help-spend-btc/et.md
  tutorials/business/help-spend-btc/fa.md
  tutorials/business/help-spend-btc/fi.md
  tutorials/business/help-spend-btc/fr.md
  tutorials/business/help-spend-btc/hi.md
  tutorials/business/help-spend-btc/id.md
  tutorials/business/help-spend-btc/ja.md
  tutorials/business/help-spend-btc/nb-NO.md
  tutorials/business/help-spend-btc/nl.md
  tutorials/business/help-spend-btc/pl.md
  tutorials/business/help-spend-btc/pt.md
  tutorials/business/help-spend-btc/ru.md
  tutorials/business/help-spend-btc/sr-Latn.md
  tutorials/business/help-spend-btc/sv.md
  tutorials/business/help-spend-btc/sw.md
  tutorials/business/help-spend-btc/tr.md
  tutorials/business/help-spend-btc/vi.md
  tutorials/business/help-spend-btc/zh-Hans.md
  tutorials/business/help-spend-btc/zh-Hant.md
Labels: content - tutorial, content update

#3329 [CYP 302] Fix rn.md
  courses/cyp302/rn.md
Labels: content - course, content update

#3330 [TUTORIAL] Watchtower new nice tuto
  tutorials/node/watch-tower/assets/2.webp
  tutorials/node/watch-tower/assets/cover.webp
  tutorials/node/watch-tower/assets/fr/01.webp
  tutorials/node/watch-tower/assets/fr/02.webp
  tutorials/node/watch-tower/assets/fr/03.webp
  tutorials/node/watch-tower/assets/fr/04.webp
  tutorials/node/watch-tower/assets/fr/05.webp
  tutorials/node/watch-tower/assets/fr/06.webp
  tutorials/node/watch-tower/assets/logo.webp
  tutorials/node/watch-tower/cs.md
  tutorials/node/watch-tower/de.md
  tutorials/node/watch-tower/en.md
  tutorials/node/watch-tower/es.md
  tutorials/node/watch-tower/et.md
  tutorials/node/watch-tower/fa.md
  tutorials/node/watch-tower/fi.md
  tutorials/node/watch-tower/fr.md
  tutorials/node/watch-tower/hi.md
  tutorials/node/watch-tower/id.md
  tutorials/node/watch-tower/it.md
  tutorials/node/watch-tower/ja.md
  tutorials/node/watch-tower/nb-NO.md
  tutorials/node/watch-tower/nl.md
  tutorials/node/watch-tower/pl.md
  tutorials/node/watch-tower/pt.md
  tutorials/node/watch-tower/ru.md
  tutorials/node/watch-tower/sr-Latn.md
  tutorials/node/watch-tower/sv.md
  tutorials/node/watch-tower/sw.md
  tutorials/node/watch-tower/tr.md
  tutorials/node/watch-tower/tutorial.yml
  tutorials/node/watch-tower/vi.md
  tutorials/node/watch-tower/zh-Hans.md
  tutorials/node/watch-tower/zh-Hant.md
Labels: content - tutorial, content creation

#3347 [TUTORIAL] Neutrino fix
  tutorials/node/neutrino/assets/cover.webp
  tutorials/node/neutrino/assets/lapp.webp
  tutorials/node/neutrino/assets/logo.webp
  tutorials/node/neutrino/cs.md
  tutorials/node/neutrino/de.md
  tutorials/node/neutrino/en.md
  tutorials/node/neutrino/es.md
  tutorials/node/neutrino/et.md
  tutorials/node/neutrino/fa.md
  tutorials/node/neutrino/fi.md
  tutorials/node/neutrino/fr.md
  tutorials/node/neutrino/hi.md
  tutorials/node/neutrino/id.md
  tutorials/node/neutrino/it.md
  tutorials/node/neutrino/ja.md
  tutorials/node/neutrino/nb-NO.md
  tutorials/node/neutrino/nl.md
  tutorials/node/neutrino/pl.md
  tutorials/node/neutrino/pt.md
  tutorials/node/neutrino/ru.md
  tutorials/node/neutrino/sr-Latn.md
  tutorials/node/neutrino/sv.md
  tutorials/node/neutrino/sw.md
  tutorials/node/neutrino/tr.md
  tutorials/node/neutrino/tutorial.yml
  tutorials/node/neutrino/vi.md
  tutorials/node/neutrino/zh-Hans.md
  tutorials/node/neutrino/zh-Hant.md
Labels: content - tutorial, format update

#3352 [TUTORIAL] Fix Nakamochi
  tutorials/node/nakamochi/assets/cover.webp
  tutorials/node/nakamochi/assets/en/06.webp
  tutorials/node/nakamochi/cs.md
  tutorials/node/nakamochi/de.md
  tutorials/node/nakamochi/en.md
  tutorials/node/nakamochi/es.md
  tutorials/node/nakamochi/et.md
  tutorials/node/nakamochi/fa.md
  tutorials/node/nakamochi/fi.md
  tutorials/node/nakamochi/fr.md
  tutorials/node/nakamochi/hi.md
  tutorials/node/nakamochi/id.md
  tutorials/node/nakamochi/it.md
  tutorials/node/nakamochi/ja.md
  tutorials/node/nakamochi/nb-NO.md
  tutorials/node/nakamochi/nl.md
  tutorials/node/nakamochi/pl.md
  tutorials/node/nakamochi/pt.md
  tutorials/node/nakamochi/ru.md
  tutorials/node/nakamochi/sr-Latn.md
  tutorials/node/nakamochi/sv.md
  tutorials/node/nakamochi/sw.md
  tutorials/node/nakamochi/tr.md
  tutorials/node/nakamochi/vi.md
  tutorials/node/nakamochi/zh-Hans.md
  tutorials/node/nakamochi/zh-Hant.md
Labels: content - tutorial, format update

#3353 [TUTORIAL] Fix LAPP
  tutorials/node/lapp/assets/cover.webp
  tutorials/node/lapp/assets/logo.webp
  tutorials/node/lapp/cs.md
  tutorials/node/lapp/de.md
  tutorials/node/lapp/en.md
  tutorials/node/lapp/es.md
  tutorials/node/lapp/et.md
  tutorials/node/lapp/fa.md
  tutorials/node/lapp/fi.md
  tutorials/node/lapp/fr.md
  tutorials/node/lapp/hi.md
  tutorials/node/lapp/id.md
  tutorials/node/lapp/it.md
  tutorials/node/lapp/ja.md
  tutorials/node/lapp/nb-NO.md
  tutorials/node/lapp/nl.md
  tutorials/node/lapp/pl.md
  tutorials/node/lapp/pt.md
  tutorials/node/lapp/ru.md
  tutorials/node/lapp/sr-Latn.md
  tutorials/node/lapp/sv.md
  tutorials/node/lapp/sw.md
  tutorials/node/lapp/tr.md
  tutorials/node/lapp/vi.md
  tutorials/node/lapp/zh-Hans.md
  tutorials/node/lapp/zh-Hant.md
Labels: content - tutorial, format update

#3355 [TUTORIAL] Fix Bitcoin Core Windows
  tutorials/node/bitcoin-core-mac-windows/assets/1.webp
  tutorials/node/bitcoin-core-mac-windows/assets/14.webp
  tutorials/node/bitcoin-core-mac-windows/assets/3.webp
  tutorials/node/bitcoin-core-mac-windows/assets/5.webp
  tutorials/node/bitcoin-core-mac-windows/assets/6.webp
  tutorials/node/bitcoin-core-mac-windows/assets/cover.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/01.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/02.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/03.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/04.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/05.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/06.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/07.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/08.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/09.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/10.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/11.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/12.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/13.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/14.webp
  tutorials/node/bitcoin-core-mac-windows/assets/fr/15.webp
  tutorials/node/bitcoin-core-mac-windows/cs.md
  tutorials/node/bitcoin-core-mac-windows/de.md
  tutorials/node/bitcoin-core-mac-windows/en.md
  tutorials/node/bitcoin-core-mac-windows/es.md
  tutorials/node/bitcoin-core-mac-windows/et.md
  tutorials/node/bitcoin-core-mac-windows/fa.md
  tutorials/node/bitcoin-core-mac-windows/fi.md
  tutorials/node/bitcoin-core-mac-windows/fr.md
  tutorials/node/bitcoin-core-mac-windows/hi.md
  tutorials/node/bitcoin-core-mac-windows/id.md
  tutorials/node/bitcoin-core-mac-windows/it.md
  tutorials/node/bitcoin-core-mac-windows/ja.md
  tutorials/node/bitcoin-core-mac-windows/nb-NO.md
  tutorials/node/bitcoin-core-mac-windows/nl.md
  tutorials/node/bitcoin-core-mac-windows/pl.md
  tutorials/node/bitcoin-core-mac-windows/pt.md
  tutorials/node/bitcoin-core-mac-windows/ru.md
  tutorials/node/bitcoin-core-mac-windows/sr-Latn.md
  tutorials/node/bitcoin-core-mac-windows/sv.md
  tutorials/node/bitcoin-core-mac-windows/sw.md
  tutorials/node/bitcoin-core-mac-windows/tr.md
  tutorials/node/bitcoin-core-mac-windows/vi.md
  tutorials/node/bitcoin-core-mac-windows/zh-Hans.md
  tutorials/node/bitcoin-core-mac-windows/zh-Hant.md
Labels: content - tutorial, format update

#3356 [TUTORIAL] Fix Bitcoin Core Linux
  tutorials/node/bitcoin-core-linux/assets/6.webp
  tutorials/node/bitcoin-core-linux/assets/cover.webp
  tutorials/node/bitcoin-core-linux/assets/fr/02.webp
  tutorials/node/bitcoin-core-linux/assets/fr/03.webp
  tutorials/node/bitcoin-core-linux/assets/fr/04.webp
  tutorials/node/bitcoin-core-linux/assets/fr/05.webp
  tutorials/node/bitcoin-core-linux/assets/fr/06.webp
  tutorials/node/bitcoin-core-linux/cs.md
  tutorials/node/bitcoin-core-linux/de.md
  tutorials/node/bitcoin-core-linux/en.md
  tutorials/node/bitcoin-core-linux/es.md
  tutorials/node/bitcoin-core-linux/et.md
  tutorials/node/bitcoin-core-linux/fa.md
  tutorials/node/bitcoin-core-linux/fi.md
  tutorials/node/bitcoin-core-linux/fr.md
  tutorials/node/bitcoin-core-linux/hi.md
  tutorials/node/bitcoin-core-linux/id.md
  tutorials/node/bitcoin-core-linux/it.md
  tutorials/node/bitcoin-core-linux/ja.md
  tutorials/node/bitcoin-core-linux/nb-NO.md
  tutorials/node/bitcoin-core-linux/nl.md
  tutorials/node/bitcoin-core-linux/pl.md
  tutorials/node/bitcoin-core-linux/pt.md
  tutorials/node/bitcoin-core-linux/ru.md
  tutorials/node/bitcoin-core-linux/sr-Latn.md
  tutorials/node/bitcoin-core-linux/sv.md
  tutorials/node/bitcoin-core-linux/sw.md
  tutorials/node/bitcoin-core-linux/tr.md
  tutorials/node/bitcoin-core-linux/tutorial.yml
  tutorials/node/bitcoin-core-linux/vi.md
  tutorials/node/bitcoin-core-linux/zh-Hans.md
  tutorials/node/bitcoin-core-linux/zh-Hant.md
Labels: content - tutorial, format update

#3358 [TUTORIAL] Fix Satochip logo
  resources/projects/satochip/assets/logo.webp
  tutorials/wallet/satochip/assets/logo.webp
Labels: content - tutorial, format update

#3363 [TUTORIAL] Fix zeus embedded
  tutorials/wallet/zeus-embedded-advanced/cs.md
  tutorials/wallet/zeus-embedded-advanced/de.md
  tutorials/wallet/zeus-embedded-advanced/en.md
  tutorials/wallet/zeus-embedded-advanced/es.md
  tutorials/wallet/zeus-embedded-advanced/et.md
  tutorials/wallet/zeus-embedded-advanced/fa.md
  tutorials/wallet/zeus-embedded-advanced/fi.md
  tutorials/wallet/zeus-embedded-advanced/fr.md
  tutorials/wallet/zeus-embedded-advanced/hi.md
  tutorials/wallet/zeus-embedded-advanced/id.md
  tutorials/wallet/zeus-embedded-advanced/it.md
  tutorials/wallet/zeus-embedded-advanced/ja.md
  tutorials/wallet/zeus-embedded-advanced/nb-NO.md
  tutorials/wallet/zeus-embedded-advanced/nl.md
  tutorials/wallet/zeus-embedded-advanced/pl.md
  tutorials/wallet/zeus-embedded-advanced/pt.md
  tutorials/wallet/zeus-embedded-advanced/ru.md
  tutorials/wallet/zeus-embedded-advanced/sr-Latn.md
  tutorials/wallet/zeus-embedded-advanced/sv.md
  tutorials/wallet/zeus-embedded-advanced/sw.md
  tutorials/wallet/zeus-embedded-advanced/tr.md
  tutorials/wallet/zeus-embedded-advanced/vi.md
  tutorials/wallet/zeus-embedded-advanced/zh-Hans.md
  tutorials/wallet/zeus-embedded-advanced/zh-Hant.md
Labels: content - tutorial, format update

#3364 [TUTORIAL] Sats.mobi Update logo.webp
  tutorials/wallet/satsmobi/assets/logo.webp
Labels: content - tutorial, format update

#3367 [PROFESSOR] Add Marshal
  professors/marshal/assets/profile.webp
  professors/marshal/en.yml
  professors/marshal/professor.yml
Labels: content creation, content - professor

#3366 [PROOFREADING] PHI305 - English
  courses/phi305/en.md
Labels: content proofreading, language - en, content - course

#3369 [TYPO] PHI305 - French
  courses/phi305/cs.md
  courses/phi305/de.md
  courses/phi305/en.md
  courses/phi305/es.md
  courses/phi305/et.md
  courses/phi305/fa.md
  courses/phi305/fi.md
  courses/phi305/fr.md
  courses/phi305/hi.md
  courses/phi305/id.md
  courses/phi305/it.md
  courses/phi305/ja.md
  courses/phi305/ko.md
  courses/phi305/nb-NO.md
  courses/phi305/nl.md
  courses/phi305/pl.md
  courses/phi305/pt.md
  courses/phi305/rn.md
  courses/phi305/ru.md
  courses/phi305/sr-Latn.md
  courses/phi305/sv.md
  courses/phi305/sw.md
  courses/phi305/tr.md
  courses/phi305/vi.md
  courses/phi305/zh-Hans.md
  courses/phi305/zh-Hant.md
Labels: content typo, language - fr, content - course

#3380 [TUTORIAL] Finalization of LineageOS tutorial with corrections and improvements
  tutorials/computer-security/lineageos/assets/cover.webp
  tutorials/computer-security/lineageos/assets/fr/01.webp
  tutorials/computer-security/lineageos/assets/fr/02.webp
  tutorials/computer-security/lineageos/assets/fr/03.webp
  tutorials/computer-security/lineageos/assets/fr/04.webp
  tutorials/computer-security/lineageos/assets/fr/05.webp
  tutorials/computer-security/lineageos/assets/fr/06.webp
  tutorials/computer-security/lineageos/assets/fr/07.webp
  tutorials/computer-security/lineageos/assets/fr/08.webp
  tutorials/computer-security/lineageos/assets/fr/09.webp
  tutorials/computer-security/lineageos/assets/fr/10.webp
  tutorials/computer-security/lineageos/assets/fr/11.webp
  tutorials/computer-security/lineageos/assets/fr/12.webp
  tutorials/computer-security/lineageos/assets/fr/13.webp
  tutorials/computer-security/lineageos/assets/fr/14.webp
  tutorials/computer-security/lineageos/assets/fr/15.webp
  tutorials/computer-security/lineageos/assets/fr/16.webp
  tutorials/computer-security/lineageos/assets/fr/17.webp
  tutorials/computer-security/lineageos/assets/fr/18.webp
  tutorials/computer-security/lineageos/assets/logo.webp
  tutorials/computer-security/lineageos/fr.md
  tutorials/computer-security/lineageos/tutorial.yml
Labels: content - tutorial, content creation

#3405 Fix data sync errors
  courses/cyp201/quizz/076/es.yml
  courses/phi305/quizz/007/cs.yml
  courses/phi305/quizz/022/ko.yml
  courses/phi305/quizz/028/ko.yml
  courses/phi305/quizz/029/et.yml
  courses/phi305/quizz/030/ko.yml
  courses/phi305/quizz/042/cs.yml
  courses/phi305/quizz/043/de.yml
  courses/phi305/quizz/045/fa.yml
  resources/podcasts/decouvrebitcoin/podcast.yml
Labels: bug

#3407 Fix data sync errors
  courses/phi305/quizz/022/zh-Hans.yml
  courses/phi305/quizz/029/ko.yml
  courses/phi305/quizz/042/et.yml
  courses/phi305/quizz/042/fi.yml
  courses/phi305/quizz/043/fi.yml
  courses/phi305/quizz/045/ko.yml
Labels: bug

#3213 [TUTORIAL] Add Alias Vault
  tutorials/computer-security/alias-vault/assets/cover.webp
  tutorials/computer-security/alias-vault/assets/en/01.webp
  tutorials/computer-security/alias-vault/assets/en/02.webp
  tutorials/computer-security/alias-vault/assets/en/03.webp
  tutorials/computer-security/alias-vault/assets/en/04.webp
  tutorials/computer-security/alias-vault/assets/en/05.webp
  tutorials/computer-security/alias-vault/assets/en/06.webp
  tutorials/computer-security/alias-vault/assets/en/07.webp
  tutorials/computer-security/alias-vault/assets/en/08.webp
  tutorials/computer-security/alias-vault/assets/en/09.webp
  tutorials/computer-security/alias-vault/assets/en/10.webp
  tutorials/computer-security/alias-vault/assets/en/11.webp
  tutorials/computer-security/alias-vault/assets/en/12.webp
  tutorials/computer-security/alias-vault/assets/en/13.webp
  tutorials/computer-security/alias-vault/assets/en/14.webp
  tutorials/computer-security/alias-vault/assets/en/15.webp
  tutorials/computer-security/alias-vault/assets/en/16.webp
  tutorials/computer-security/alias-vault/assets/en/17.webp
  tutorials/computer-security/alias-vault/assets/en/18.webp
  tutorials/computer-security/alias-vault/assets/en/19.webp
  tutorials/computer-security/alias-vault/assets/en/20.webp
  tutorials/computer-security/alias-vault/assets/en/21.webp
  tutorials/computer-security/alias-vault/assets/en/22.webp
  tutorials/computer-security/alias-vault/assets/en/23.webp
  tutorials/computer-security/alias-vault/assets/en/24.webp
  tutorials/computer-security/alias-vault/assets/en/25.webp
  tutorials/computer-security/alias-vault/assets/en/26.webp
  tutorials/computer-security/alias-vault/assets/en/27.webp
  tutorials/computer-security/alias-vault/assets/en/28.webp
  tutorials/computer-security/alias-vault/assets/en/29.webp
  tutorials/computer-security/alias-vault/assets/en/30.webp
  tutorials/computer-security/alias-vault/assets/en/31.webp
  tutorials/computer-security/alias-vault/assets/en/32.webp
  tutorials/computer-security/alias-vault/assets/en/33.webp
  tutorials/computer-security/alias-vault/assets/logo.webp
  tutorials/computer-security/alias-vault/it.md
  tutorials/computer-security/alias-vault/tutorial.yml
Labels: content - tutorial, content creation

#3426 [DEV 103] Rename Image name and direction
  courses/dev103/assets/en/001.webp
  courses/dev103/assets/en/002.webp
  courses/dev103/assets/en/003.webp
  courses/dev103/assets/en/004.webp
  courses/dev103/assets/en/005.webp
  courses/dev103/assets/en/006.webp
  courses/dev103/assets/en/007.webp
  courses/dev103/assets/en/008.webp
  courses/dev103/cs.md
  courses/dev103/de.md
  courses/dev103/en.md
  courses/dev103/es.md
  courses/dev103/et.md
  courses/dev103/fa.md
  courses/dev103/fi.md
  courses/dev103/fr.md
  courses/dev103/hi.md
  courses/dev103/id.md
  courses/dev103/it.md
  courses/dev103/ja.md
  courses/dev103/ko.md
  courses/dev103/nb-NO.md
  courses/dev103/nl.md
  courses/dev103/pl.md
  courses/dev103/pt.md
  courses/dev103/rn.md
  courses/dev103/ru.md
  courses/dev103/sr-Latn.md
  courses/dev103/sv.md
  courses/dev103/sw.md
  courses/dev103/tr.md
  courses/dev103/vi.md
  courses/dev103/zh-Hans.md
  courses/dev103/zh-Hant.md
Labels: content - course, format update

#3428 Fix img eco104
  courses/eco104/assets/1.webp
  courses/eco104/assets/10.webp
  courses/eco104/assets/11.webp
  courses/eco104/assets/12.webp
  courses/eco104/assets/13.webp
  courses/eco104/assets/14.webp
  courses/eco104/assets/15.webp
  courses/eco104/assets/16.webp
  courses/eco104/assets/17.webp
  courses/eco104/assets/2.webp
  courses/eco104/assets/3.webp
  courses/eco104/assets/4.webp
  courses/eco104/assets/5.webp
  courses/eco104/assets/6.webp
  courses/eco104/assets/7.webp
  courses/eco104/assets/8.webp
  courses/eco104/assets/9.webp
  courses/eco104/assets/en/001.webp
  courses/eco104/assets/en/002.webp
  courses/eco104/assets/en/003.webp
  courses/eco104/assets/en/004.webp
  courses/eco104/assets/en/005.webp
  courses/eco104/assets/en/006.webp
  courses/eco104/assets/en/007.webp
  courses/eco104/assets/en/008.webp
  courses/eco104/assets/en/009.webp
  courses/eco104/assets/en/010.webp
  courses/eco104/assets/en/011.webp
  courses/eco104/assets/en/012.webp
  courses/eco104/assets/en/013.webp
  courses/eco104/assets/en/014.webp
  courses/eco104/assets/en/015.webp
  courses/eco104/assets/en/016.webp
  courses/eco104/assets/en/017.webp
  courses/eco104/cs.md
  courses/eco104/de.md
  courses/eco104/en.md
  courses/eco104/es.md
  courses/eco104/et.md
  courses/eco104/fa.md
  courses/eco104/fi.md
  courses/eco104/fr.md
  courses/eco104/hi.md
  courses/eco104/id.md
  courses/eco104/it.md
  courses/eco104/ja.md
  courses/eco104/ko.md
  courses/eco104/nb-NO.md
  courses/eco104/nl.md
  courses/eco104/pl.md
  courses/eco104/pt.md
  courses/eco104/rn.md
  courses/eco104/ru.md
  courses/eco104/sr-Latn.md
  courses/eco104/sv.md
  courses/eco104/sw.md
  courses/eco104/tr.md
  courses/eco104/vi.md
  courses/eco104/zh-Hans.md
  courses/eco104/zh-Hant.md
Labels: content - course, format update

#3429 [DOCS] Add hardware-wallet-ready tag
  docs/50-planb-tags.md
Labels: documentation

#3326 The Game of Satoshi
  resources/projects/the-game-of-satoshi/assets/logo.webp
  resources/projects/the-game-of-satoshi/en.yml
  resources/projects/the-game-of-satoshi/project.yml
Labels: content - resource, content creation

#3303 [DOCS] update tuto examples
  docs/PBN-template-repo/events/awesome-workshop-YYYY/event.yml
  docs/PBN-template-repo/events/crowdy-meetup-YYYY-MM/event.yml
  docs/PBN-template-repo/resources/bet/a-game-on-bitcoin/en.yml
  docs/PBN-template-repo/resources/books/awesome-book/en.yml
  docs/PBN-template-repo/resources/books/awesome-book/fr.yml
  docs/PBN-template-repo/resources/channels/best-yt-channel-ever/channel.yml
  docs/PBN-template-repo/resources/movies/beautiful-documentary/movie.yml
  docs/PBN-template-repo/resources/newsletters/awesome-newsletter/newsletter.yml
  docs/PBN-template-repo/resources/projects/community-project/en.yml
  docs/PBN-template-repo/resources/projects/community-project/fr.yml
  docs/PBN-template-repo/resources/projects/non-community-project/en.yml
  docs/PBN-template-repo/resources/projects/non-community-project/fr.yml
  docs/PBN-template-repo/tutorials/this-folder-is-a-tutorial-category/awesome-tutorial/en.md
  docs/PBN-template-repo/tutorials/this-folder-is-a-tutorial-category/cool-tutorial/en.md
Labels: documentation

#3438 [BTC 202] Push course on mainnet
  courses/btc202/course.yml
Labels: content - course, content creation

#2924 [EVENT] Add Bitcoin FilmFest 2026
  events/bitcoin-filmfest-2026/assets/thumbnail.webp
  events/bitcoin-filmfest-2026/event.yml
Labels: content - resource, content creation

#3450 [PROJECT] Add Cake Wallet
  resources/projects/cake-wallet/assets/logo.webp
  resources/projects/cake-wallet/fr.yml
  resources/projects/cake-wallet/project.yml
Labels: content - resource, content creation
