Repository PlanB-Network/bitcoin-educational-content, pull requests merged in 2025-06, with the labels that each got.

#2285 [TUTORIAL] Managing a Lightning Node with ThunderHub on Umbrel (French)
  tutorials/node/thunderhub/assets/cover.webp
  tutorials/node/thunderhub/assets/fr/01.webp
  tutorials/node/thunderhub/assets/fr/02.webp
  tutorials/node/thunderhub/assets/fr/03.webp
  tutorials/node/thunderhub/assets/fr/04.webp
  tutorials/node/thunderhub/assets/fr/05.webp
  tutorials/node/thunderhub/assets/fr/06.webp
  tutorials/node/thunderhub/assets/fr/07.webp
  tutorials/node/thunderhub/assets/fr/08.webp
  tutorials/node/thunderhub/assets/fr/09.webp
  tutorials/node/thunderhub/assets/fr/10.webp
  tutorials/node/thunderhub/assets/fr/11.webp
  tutorials/node/thunderhub/assets/fr/12.webp
  tutorials/node/thunderhub/assets/fr/13.webp
  tutorials/node/thunderhub/assets/fr/14.webp
  tutorials/node/thunderhub/assets/fr/15.webp
  tutorials/node/thunderhub/assets/fr/16.webp
  tutorials/node/thunderhub/assets/fr/17.webp
  tutorials/node/thunderhub/assets/fr/18.webp
  tutorials/node/thunderhub/assets/fr/19.webp
  tutorials/node/thunderhub/assets/fr/20.webp
  tutorials/node/thunderhub/assets/logo.webp
  tutorials/node/thunderhub/fr.md
  tutorials/node/thunderhub/tutorial.yml
Labels: content - tutorial, content creation

#2275 [TUTORIAL] Add Speed Business tutorial
  tutorials/business/speed-business/assets/cover.webp
  tutorials/business/speed-business/assets/fr/01.webp
  tutorials/business/speed-business/assets/fr/02.webp
  tutorials/business/speed-business/assets/fr/03.webp
  tutorials/business/speed-business/assets/fr/04.webp
  tutorials/business/speed-business/assets/fr/05.webp
  tutorials/business/speed-business/assets/fr/06.webp
  tutorials/business/speed-business/assets/fr/07.webp
  tutorials/business/speed-business/assets/fr/08.webp
  tutorials/business/speed-business/assets/fr/09.webp
  tutorials/business/speed-business/assets/fr/10.webp
  tutorials/business/speed-business/assets/fr/11.webp
  tutorials/business/speed-business/assets/fr/12.webp
  tutorials/business/speed-business/assets/fr/13.webp
  tutorials/business/speed-business/assets/fr/14.webp
  tutorials/business/speed-business/assets/fr/16.webp
  tutorials/business/speed-business/assets/fr/17.webp
  tutorials/business/speed-business/assets/fr/19.webp
  tutorials/business/speed-business/assets/fr/20.webp
  tutorials/business/speed-business/assets/fr/21.webp
  tutorials/business/speed-business/assets/fr/22.webp
  tutorials/business/speed-business/assets/fr/23.webp
  tutorials/business/speed-business/assets/fr/24.webp
  tutorials/business/speed-business/assets/fr/25.webp
  tutorials/business/speed-business/assets/fr/26.webp
  tutorials/business/speed-business/assets/fr/27.webp
  tutorials/business/speed-business/assets/fr/28.webp
  tutorials/business/speed-business/assets/fr/29.webp
  tutorials/business/speed-business/assets/fr/30.webp
  tutorials/business/speed-business/fr.md
  tutorials/business/speed-business/tutorial.yml
Labels: content - tutorial, content creation

#2198 Proofreading - ECO 201 - SR Latin
  courses/eco201/sr-Latn.md
Labels: content proofreading, content - course, language - sr, merge-ready

#2262 phi201 sw proofreading
  courses/phi201/sw.md
Labels: content proofreading, content - course, language - sw, merge-ready

#2356 [TUTORIAL] Add video Speed
  tutorials/wallet/speed-wallet/fr.md
Labels: content - tutorial, content update

#2320 [TUTORIAL] Blue wallet tutorial
  tutorials/wallet/blue-wallet/assets/1.webp
  tutorials/wallet/blue-wallet/assets/2.webp
  tutorials/wallet/blue-wallet/assets/3.webp
  tutorials/wallet/blue-wallet/assets/cover.webp
  tutorials/wallet/blue-wallet/assets/fr/01.webp
  tutorials/wallet/blue-wallet/assets/fr/02.webp
  tutorials/wallet/blue-wallet/assets/fr/03.webp
  tutorials/wallet/blue-wallet/assets/fr/04.webp
  tutorials/wallet/blue-wallet/assets/fr/05.webp
  tutorials/wallet/blue-wallet/assets/fr/06.webp
  tutorials/wallet/blue-wallet/assets/fr/07.webp
  tutorials/wallet/blue-wallet/assets/fr/08.webp
  tutorials/wallet/blue-wallet/assets/fr/09.webp
  tutorials/wallet/blue-wallet/assets/fr/10.webp
  tutorials/wallet/blue-wallet/assets/fr/11.webp
  tutorials/wallet/blue-wallet/assets/fr/12.webp
  tutorials/wallet/blue-wallet/assets/fr/13.webp
  tutorials/wallet/blue-wallet/assets/fr/14.webp
  tutorials/wallet/blue-wallet/assets/fr/15.webp
  tutorials/wallet/blue-wallet/assets/fr/16.webp
  tutorials/wallet/blue-wallet/cs.md
  tutorials/wallet/blue-wallet/de.md
  tutorials/wallet/blue-wallet/en.md
  tutorials/wallet/blue-wallet/es.md
  tutorials/wallet/blue-wallet/et.md
  tutorials/wallet/blue-wallet/fi.md
  tutorials/wallet/blue-wallet/fr.md
  tutorials/wallet/blue-wallet/hi.md
  tutorials/wallet/blue-wallet/id.md
  tutorials/wallet/blue-wallet/it.md
  tutorials/wallet/blue-wallet/ja.md
  tutorials/wallet/blue-wallet/nb-NO.md
  tutorials/wallet/blue-wallet/pl.md
  tutorials/wallet/blue-wallet/pt.md
  tutorials/wallet/blue-wallet/ru.md
  tutorials/wallet/blue-wallet/si.md
  tutorials/wallet/blue-wallet/sr-Latn.md
  tutorials/wallet/blue-wallet/sv.md
  tutorials/wallet/blue-wallet/sw.md
  tutorials/wallet/blue-wallet/tutorial.yml
  tutorials/wallet/blue-wallet/vi.md
  tutorials/wallet/blue-wallet/zh-Hans.md
  tutorials/wallet/blue-wallet/zh-Hant.md
Labels: content - tutorial, content creation

#2358 Tuto Avalon miners Nano 3S & Mini3
  tutorials/mining/canaan-avalon-home/assets/cover.webp
  tutorials/mining/canaan-avalon-home/assets/fr/01.webp
  tutorials/mining/canaan-avalon-home/assets/fr/02.webp
  tutorials/mining/canaan-avalon-home/assets/fr/03.webp
  tutorials/mining/canaan-avalon-home/assets/fr/04.webp
  tutorials/mining/canaan-avalon-home/assets/fr/05.webp
  tutorials/mining/canaan-avalon-home/assets/fr/06.webp
  tutorials/mining/canaan-avalon-home/assets/fr/07.webp
  tutorials/mining/canaan-avalon-home/assets/fr/08.webp
  tutorials/mining/canaan-avalon-home/assets/fr/09.webp
  tutorials/mining/canaan-avalon-home/assets/fr/10.webp
  tutorials/mining/canaan-avalon-home/assets/fr/11.webp
  tutorials/mining/canaan-avalon-home/assets/fr/12.webp
  tutorials/mining/canaan-avalon-home/assets/fr/13.webp
  tutorials/mining/canaan-avalon-home/assets/fr/14.webp
  tutorials/mining/canaan-avalon-home/assets/fr/15.webp
  tutorials/mining/canaan-avalon-home/assets/fr/16.webp
  tutorials/mining/canaan-avalon-home/assets/fr/17.webp
  tutorials/mining/canaan-avalon-home/assets/fr/18.webp
  tutorials/mining/canaan-avalon-home/assets/fr/19.webp
  tutorials/mining/canaan-avalon-home/assets/fr/20.webp
  tutorials/mining/canaan-avalon-home/assets/fr/21.webp
  tutorials/mining/canaan-avalon-home/assets/fr/22.webp
  tutorials/mining/canaan-avalon-home/assets/fr/23.webp
  tutorials/mining/canaan-avalon-home/assets/fr/24.webp
  tutorials/mining/canaan-avalon-home/assets/fr/25.webp
  tutorials/mining/canaan-avalon-home/assets/fr/26.webp
  tutorials/mining/canaan-avalon-home/assets/fr/27.webp
  tutorials/mining/canaan-avalon-home/assets/fr/28.webp
  tutorials/mining/canaan-avalon-home/assets/fr/29.webp
  tutorials/mining/canaan-avalon-home/assets/fr/30.webp
  tutorials/mining/canaan-avalon-home/assets/fr/31.webp
  tutorials/mining/canaan-avalon-home/assets/fr/32.webp
  tutorials/mining/canaan-avalon-home/assets/fr/33.webp
  tutorials/mining/canaan-avalon-home/assets/fr/34.webp
  tutorials/mining/canaan-avalon-home/assets/fr/35.webp
  tutorials/mining/canaan-avalon-home/assets/fr/36.webp
  tutorials/mining/canaan-avalon-home/assets/fr/37.webp
  tutorials/mining/canaan-avalon-home/assets/fr/38.webp
  tutorials/mining/canaan-avalon-home/assets/fr/39.webp
  tutorials/mining/canaan-avalon-home/assets/fr/40.webp
  tutorials/mining/canaan-avalon-home/assets/fr/41.webp
  tutorials/mining/canaan-avalon-home/assets/fr/42.webp
  tutorials/mining/canaan-avalon-home/assets/logo.webp
  tutorials/mining/canaan-avalon-home/fr.md
  tutorials/mining/canaan-avalon-home/tutorial.yml
Labels: content - tutorial, content creation

#2206 [TUTORIAL] Add JoinMarket CLI + Professor
  professors/turtlecute/assets/profile.webp
  professors/turtlecute/en.yml
  professors/turtlecute/professor.yml
  tutorials/privacy/joinmarket/assets/cover.webp
  tutorials/privacy/joinmarket/it.md
  tutorials/privacy/joinmarket/tutorial.yml
Labels: language - it, content - tutorial, content creation, content - professor

#2185 Update PHI 201 fr.md
  courses/phi201/fr.md
Labels: content typo, language - fr, content - course, review required

#2239 date correction Boisguilbert's birthdate
  courses/his204/fr.md
Labels: content typo, content - course, merge-ready

#2073 Sid202 and SID302 spanish proofreading
  courses/sid202/es.md
  courses/sid302/es.md
Labels: content proofreading, language - es, content - course, merge-ready

#2228 Scu101 quizz en proofread
  courses/scu101/quizz/003/en.yml
  courses/scu101/quizz/005/en.yml
  courses/scu101/quizz/009/en.yml
  courses/scu101/quizz/010/en.yml
  courses/scu101/quizz/011/en.yml
  courses/scu101/quizz/012/en.yml
  courses/scu101/quizz/013/en.yml
  courses/scu101/quizz/014/en.yml
  courses/scu101/quizz/016/en.yml
  courses/scu101/quizz/018/en.yml
  courses/scu101/quizz/020/en.yml
  courses/scu101/quizz/021/en.yml
  courses/scu101/quizz/024/en.yml
  courses/scu101/quizz/025/en.yml
  courses/scu101/quizz/027/en.yml
  courses/scu101/quizz/029/en.yml
  courses/scu101/quizz/031/en.yml
  courses/scu101/quizz/032/en.yml
  courses/scu101/quizz/033/en.yml
  courses/scu101/quizz/035/en.yml
  courses/scu101/quizz/041/en.yml
  courses/scu101/quizz/042/en.yml
  courses/scu101/quizz/044/en.yml
  courses/scu101/quizz/045/en.yml
  courses/scu101/quizz/048/en.yml
  courses/scu101/quizz/049/en.yml
  courses/scu101/quizz/050/en.yml
  courses/scu101/quizz/052/en.yml
  courses/scu101/quizz/054/en.yml
  courses/scu101/quizz/055/en.yml
  courses/scu101/quizz/057/en.yml
  courses/scu101/quizz/062/en.yml
  courses/scu101/quizz/064/en.yml
  courses/scu101/quizz/066/en.yml
  courses/scu101/quizz/069/en.yml
  courses/scu101/quizz/070/en.yml
  courses/scu101/quizz/071/en.yml
  courses/scu101/quizz/072/en.yml
  courses/scu101/quizz/073/en.yml
  courses/scu101/quizz/074/en.yml
  courses/scu101/quizz/075/en.yml
  courses/scu101/quizz/076/en.yml
  courses/scu101/quizz/077/en.yml
  courses/scu101/quizz/078/en.yml
  courses/scu101/quizz/079/en.yml
  courses/scu101/quizz/080/en.yml
  courses/scu101/quizz/081/en.yml
Labels: content proofreading, language - en, content - quiz, merge-ready

#2284 New Spanish resources
  events/suriname-decentralized-conference-2025/event.yml
  resources/channels/21-bitcoin-academy/assets/thumbnail.webp
  resources/channels/21-bitcoin-academy/channel.yml
  resources/movies/bullrun-pelicula/assets/thumbnail.webp
  resources/movies/bullrun-pelicula/movie.yml
  resources/movies/cypherpunks-write-code/assets/thumbnail.webp
  resources/movies/cypherpunks-write-code/movie.yml
  resources/movies/hidden-secrets-of-money/assets/thumbnail.webp
  resources/movies/hidden-secrets-of-money/movie.yml
  resources/movies/mas-alla-de-la-burbuja/assets/thumbnail.webp
  resources/movies/mas-alla-de-la-burbuja/movie.yml
  resources/projects/21-bitcoin-academy/assets/logo.webp
  resources/projects/21-bitcoin-academy/es.yml
  resources/projects/21-bitcoin-academy/project.yml
  resources/projects/2140-meetups/assets/logo.webp
  resources/projects/2140-meetups/es.yml
  resources/projects/2140-meetups/project.yml
  resources/projects/escuelita-bitcoin/assets/logo.webp
  resources/projects/escuelita-bitcoin/es.yml
  resources/projects/escuelita-bitcoin/project.yml
Labels: content - resource, content creation

#2290 [Tutorial] Add Electrum Airgap
  tutorials/wallet/electrum-airgap/assets/cover.webp
  tutorials/wallet/electrum-airgap/assets/en/01.webp
  tutorials/wallet/electrum-airgap/assets/en/02.webp
  tutorials/wallet/electrum-airgap/assets/en/03.webp
  tutorials/wallet/electrum-airgap/assets/en/04.webp
  tutorials/wallet/electrum-airgap/assets/en/05.webp
  tutorials/wallet/electrum-airgap/assets/en/06.webp
  tutorials/wallet/electrum-airgap/assets/en/07.webp
  tutorials/wallet/electrum-airgap/assets/en/08.webp
  tutorials/wallet/electrum-airgap/assets/en/09.webp
  tutorials/wallet/electrum-airgap/assets/en/10.webp
  tutorials/wallet/electrum-airgap/assets/en/11.webp
  tutorials/wallet/electrum-airgap/assets/en/12.webp
  tutorials/wallet/electrum-airgap/assets/en/13.webp
  tutorials/wallet/electrum-airgap/assets/en/14.webp
  tutorials/wallet/electrum-airgap/assets/en/15.webp
  tutorials/wallet/electrum-airgap/assets/en/16.webp
  tutorials/wallet/electrum-airgap/assets/en/17.webp
  tutorials/wallet/electrum-airgap/assets/en/18.webp
  tutorials/wallet/electrum-airgap/assets/en/19.webp
  tutorials/wallet/electrum-airgap/assets/en/20.webp
  tutorials/wallet/electrum-airgap/assets/en/21.webp
  tutorials/wallet/electrum-airgap/assets/en/22.webp
  tutorials/wallet/electrum-airgap/assets/en/23.webp
  tutorials/wallet/electrum-airgap/assets/en/24.webp
  tutorials/wallet/electrum-airgap/assets/en/25.webp
  tutorials/wallet/electrum-airgap/assets/en/26.webp
  tutorials/wallet/electrum-airgap/assets/en/27.webp
  tutorials/wallet/electrum-airgap/assets/en/28.webp
  tutorials/wallet/electrum-airgap/assets/en/29.webp
  tutorials/wallet/electrum-airgap/assets/en/30.webp
  tutorials/wallet/electrum-airgap/assets/en/31.webp
  tutorials/wallet/electrum-airgap/assets/en/32.webp
  tutorials/wallet/electrum-airgap/assets/en/33.webp
  tutorials/wallet/electrum-airgap/assets/logo.webp
  tutorials/wallet/electrum-airgap/it.md
  tutorials/wallet/electrum-airgap/tutorial.yml
Labels: content - tutorial, content creation

#2242 [TUTORIAL] Update Bull Bitcoin 2 tutorials
  tutorials/exchange/bull-bitcoin-europe/cs.md
  tutorials/exchange/bull-bitcoin-europe/de.md
  tutorials/exchange/bull-bitcoin-europe/en.md
  tutorials/exchange/bull-bitcoin-europe/es.md
  tutorials/exchange/bull-bitcoin-europe/et.md
  tutorials/exchange/bull-bitcoin-europe/fi.md
  tutorials/exchange/bull-bitcoin-europe/fr.md
  tutorials/exchange/bull-bitcoin-europe/hi.md
  tutorials/exchange/bull-bitcoin-europe/id.md
  tutorials/exchange/bull-bitcoin-europe/it.md
  tutorials/exchange/bull-bitcoin-europe/ja.md
  tutorials/exchange/bull-bitcoin-europe/nb-NO.md
  tutorials/exchange/bull-bitcoin-europe/pl.md
  tutorials/exchange/bull-bitcoin-europe/pt.md
  tutorials/exchange/bull-bitcoin-europe/ru.md
  tutorials/exchange/bull-bitcoin-europe/si.md
  tutorials/exchange/bull-bitcoin-europe/sr-Latn.md
  tutorials/exchange/bull-bitcoin-europe/sv.md
  tutorials/exchange/bull-bitcoin-europe/sw.md
  tutorials/exchange/bull-bitcoin-europe/vi.md
  tutorials/exchange/bull-bitcoin-europe/zh-Hans.md
  tutorials/exchange/bull-bitcoin-europe/zh-Hant.md
  tutorials/exchange/bull-bitcoin/assets/1.webp
  tutorials/exchange/bull-bitcoin/assets/2.webp
  tutorials/exchange/bull-bitcoin/assets/3.webp
  tutorials/exchange/bull-bitcoin/assets/cover.webp
  tutorials/exchange/bull-bitcoin/cs.md
  tutorials/exchange/bull-bitcoin/de.md
  tutorials/exchange/bull-bitcoin/en.md
  tutorials/exchange/bull-bitcoin/es.md
  tutorials/exchange/bull-bitcoin/et.md
  tutorials/exchange/bull-bitcoin/fi.md
  tutorials/exchange/bull-bitcoin/fr.md
  tutorials/exchange/bull-bitcoin/hi.md
  tutorials/exchange/bull-bitcoin/id.md
  tutorials/exchange/bull-bitcoin/it.md
  tutorials/exchange/bull-bitcoin/ja.md
  tutorials/exchange/bull-bitcoin/nb-NO.md
  tutorials/exchange/bull-bitcoin/pl.md
  tutorials/exchange/bull-bitcoin/pt.md
  tutorials/exchange/bull-bitcoin/ru.md
  tutorials/exchange/bull-bitcoin/si.md
  tutorials/exchange/bull-bitcoin/sr-Latn.md
  tutorials/exchange/bull-bitcoin/sv.md
  tutorials/exchange/bull-bitcoin/sw.md
  tutorials/exchange/bull-bitcoin/tutorial.yml
  tutorials/exchange/bull-bitcoin/vi.md
  tutorials/exchange/bull-bitcoin/zh-Hans.md
  tutorials/exchange/bull-bitcoin/zh-Hant.md
Labels: content - tutorial, content update

#2100 LNP201_PROOFREADING_HI
  courses/lnp201/hi.md
Labels: content proofreading, content - course, language - hi, merge-ready

#2251 Jade proofreading it
  tutorials/wallet/jade-plus-green/it.md
Labels: content proofreading, language - it, content - tutorial, merge-ready

#2323 His201 en proofreading
  courses/his201/en.md
Labels: content proofreading, language - en, content - course, merge-ready

#2383 Alby go tutorial
  tutorials/wallet/alby-go/assets/cover.webp
  tutorials/wallet/alby-go/assets/logo.webp
  tutorials/wallet/alby-go/en.md
  tutorials/wallet/alby-go/tutorial.yml
Labels: content - tutorial, content creation

#2407 [PROJECT] Add Tox, Debian, Fedora and Banxaas
  resources/projects/banxaas/assets/logo.webp
  resources/projects/banxaas/fr.yml
  resources/projects/banxaas/project.yml
  resources/projects/debian/assets/logo.webp
  resources/projects/debian/fr.yml
  resources/projects/debian/project.yml
  resources/projects/fedora/assets/logo.webp
  resources/projects/fedora/fr.yml
  resources/projects/fedora/project.yml
  resources/projects/tox/assets/logo.webp
  resources/projects/tox/fr.yml
  resources/projects/tox/project.yml
Labels: content - resource, content creation

#2369 [SCU 101] Swap 2 chapters (wrong order)
  courses/scu101/cs.md
  courses/scu101/de.md
  courses/scu101/en.md
  courses/scu101/es.md
  courses/scu101/et.md
  courses/scu101/fa.md
  courses/scu101/fi.md
  courses/scu101/fr.md
  courses/scu101/hi.md
  courses/scu101/id.md
  courses/scu101/it.md
  courses/scu101/ja.md
  courses/scu101/nb-NO.md
  courses/scu101/pl.md
  courses/scu101/pt.md
  courses/scu101/ru.md
  courses/scu101/sr-Latn.md
  courses/scu101/sw.md
  courses/scu101/vi.md
  courses/scu101/zh-Hans.md
  courses/scu101/zh-Hant.md
Labels: bug, content - course

#2374 [TUTORIAL] Update Olvid
  tutorials/computer-security/olvid/cs.md
  tutorials/computer-security/olvid/de.md
  tutorials/computer-security/olvid/en.md
  tutorials/computer-security/olvid/es.md
  tutorials/computer-security/olvid/et.md
  tutorials/computer-security/olvid/fi.md
  tutorials/computer-security/olvid/fr.md
  tutorials/computer-security/olvid/hi.md
  tutorials/computer-security/olvid/id.md
  tutorials/computer-security/olvid/it.md
  tutorials/computer-security/olvid/ja.md
  tutorials/computer-security/olvid/nb-NO.md
  tutorials/computer-security/olvid/pl.md
  tutorials/computer-security/olvid/pt.md
  tutorials/computer-security/olvid/ru.md
  tutorials/computer-security/olvid/si.md
  tutorials/computer-security/olvid/sr-Latn.md
  tutorials/computer-security/olvid/sv.md
  tutorials/computer-security/olvid/sw.md
  tutorials/computer-security/olvid/vi.md
  tutorials/computer-security/olvid/zh-Hans.md
  tutorials/computer-security/olvid/zh-Hant.md
Labels: content - tutorial, content update

#2376 [PHI 301] Introduction + Final section
  courses/phi301/en.md
Labels: content - course, content update

#2396 [TUTORIAL] Update Muun
  tutorials/wallet/muun/cs.md
  tutorials/wallet/muun/de.md
  tutorials/wallet/muun/en.md
  tutorials/wallet/muun/es.md
  tutorials/wallet/muun/et.md
  tutorials/wallet/muun/fi.md
  tutorials/wallet/muun/fr.md
  tutorials/wallet/muun/hi.md
  tutorials/wallet/muun/id.md
  tutorials/wallet/muun/it.md
  tutorials/wallet/muun/ja.md
  tutorials/wallet/muun/nb-NO.md
  tutorials/wallet/muun/pl.md
  tutorials/wallet/muun/pt.md
  tutorials/wallet/muun/ru.md
  tutorials/wallet/muun/si.md
  tutorials/wallet/muun/sr-Latn.md
  tutorials/wallet/muun/sv.md
  tutorials/wallet/muun/sw.md
  tutorials/wallet/muun/vi.md
  tutorials/wallet/muun/zh-Hans.md
  tutorials/wallet/muun/zh-Hant.md
Labels: content - tutorial, content update

#2387 [TUTORIAL] Updated Alby Browser Extension guide
  tutorials/wallet/alby/assets/logo.webp
  tutorials/wallet/alby/en.md
Labels: content - tutorial, content update

#2348 Add Noones as a Builder
  resources/projects/noones/assets/logo.webp
  resources/projects/noones/en.yml
  resources/projects/noones/project.yml
Labels: content - resource, content creation

#2469 adding-proofreading-guidelines
  professors/marij/assets/profile.webp
  professors/marij/en.yml
  professors/marij/professor.yml
  tutorials/contribution/contribution-proofreading-guidelines/assets/en/11.webp
  tutorials/contribution/contribution-proofreading-guidelines/cs.md
  tutorials/contribution/contribution-proofreading-guidelines/de.md
  tutorials/contribution/contribution-proofreading-guidelines/en.md
  tutorials/contribution/contribution-proofreading-guidelines/es.md
  tutorials/contribution/contribution-proofreading-guidelines/et.md
  tutorials/contribution/contribution-proofreading-guidelines/fi.md
  tutorials/contribution/contribution-proofreading-guidelines/fr.md
  tutorials/contribution/contribution-proofreading-guidelines/hi.md
  tutorials/contribution/contribution-proofreading-guidelines/id.md
  tutorials/contribution/contribution-proofreading-guidelines/it.md
  tutorials/contribution/contribution-proofreading-guidelines/ja.md
  tutorials/contribution/contribution-proofreading-guidelines/nb-NO.md
  tutorials/contribution/contribution-proofreading-guidelines/pl.md
  tutorials/contribution/contribution-proofreading-guidelines/pt.md
  tutorials/contribution/contribution-proofreading-guidelines/ru.md
  tutorials/contribution/contribution-proofreading-guidelines/sr-Latn.md
  tutorials/contribution/contribution-proofreading-guidelines/sv.md
  tutorials/contribution/contribution-proofreading-guidelines/sw.md
  tutorials/contribution/contribution-proofreading-guidelines/tutorial.yml
  tutorials/contribution/contribution-proofreading-guidelines/vi.md
  tutorials/contribution/contribution-proofreading-guidelines/zh-Hans.md
  tutorials/contribution/contribution-proofreading-guidelines/zh-Hant.md
  tutorials/contribution/contribution-proofreading-review-tutorial/cs.md
  tutorials/contribution/contribution-proofreading-review-tutorial/de.md
  tutorials/contribution/contribution-proofreading-review-tutorial/en.md
  tutorials/contribution/contribution-proofreading-review-tutorial/es.md
  tutorials/contribution/contribution-proofreading-review-tutorial/et.md
  tutorials/contribution/contribution-proofreading-review-tutorial/fi.md
  tutorials/contribution/contribution-proofreading-review-tutorial/fr.md
  tutorials/contribution/contribution-proofreading-review-tutorial/hi.md
  tutorials/contribution/contribution-proofreading-review-tutorial/id.md
  tutorials/contribution/contribution-proofreading-review-tutorial/it.md
  tutorials/contribution/contribution-proofreading-review-tutorial/ja.md
  tutorials/contribution/contribution-proofreading-review-tutorial/nb-NO.md
  tutorials/contribution/contribution-proofreading-review-tutorial/pl.md
  tutorials/contribution/contribution-proofreading-review-tutorial/pt.md
  tutorials/contribution/contribution-proofreading-review-tutorial/ru.md
  tutorials/contribution/contribution-proofreading-review-tutorial/sr-Latn.md
  tutorials/contribution/contribution-proofreading-review-tutorial/sv.md
  tutorials/contribution/contribution-proofreading-review-tutorial/sw.md
  tutorials/contribution/contribution-proofreading-review-tutorial/vi.md
  tutorials/contribution/contribution-proofreading-review-tutorial/zh-Hans.md
  tutorials/contribution/contribution-proofreading-review-tutorial/zh-Hant.md
Labels: content - tutorial

#2288 [PROOFREADING] Rundi BTC 101
  courses/btc101/rn.md
  scripts/auto-translate/translation_logic/supported_languages.json
Labels: content proofreading, content - course, language - rn, merge-ready

#2491 [PROOFREADING] SCU101 SWAHILI
  courses/scu101/sw.md
Labels: content proofreading, content - course, language - sw

#2392 [PROOFREADING] Weblate - adding a new language - Italian
  tutorials/contribution/weblate-add-new-language/it.md
Labels: content proofreading, language - it, content - tutorial
